Repository kennethbigler/react-home: changes, and which Codecov flags are due for each by the changed paths.
All: üïπÔ∏è Games, Are You the One?, Blackjack, BotC, Bridge, Connect4, Deal or No Deal, Family Feud, Imperial Assault, Murder Mystery, Poker, Slots, Spades, Tic Tac Toe, Type Checker, Werewolf, Yahtzee, üìë Resume, Cars, Comp Calculator, Education, F1, Presentations, Resume, Summary, Travel, Work

fix: coderabbit feedback and file coverage minimums
  .cursor/rules/react-maintenance.mdc
  .cursor/rules/testing.mdc
  src/components/games/blackjack/useBlackjackAI.test.tsx
  src/components/games/yahtzee/tests/Yahtzee.test.tsx
  src/components/resume/work/DegreeCards.tsx
  src/components/resume/work/ExperienceSection.tsx
  src/components/resume/work/WorkCards.tsx
Due: üïπÔ∏è Games, Blackjack, Yahtzee, üìë Resume, Work

feat: combine all experience
  .coderabbit.yaml
  .cursor/rules/project-structure.mdc
  .github/workflows/main.yml
  codecov.yml
  package-lock.json
  src/components/Routes.test.tsx
  src/components/resume/Menu.test.tsx
  src/components/resume/menu-items.test.ts
  src/components/resume/menu-items.ts
  src/components/resume/presentations/Presentations.test.tsx
  src/components/resume/presentations/Presentations.tsx
  src/components/resume/presentations/index.ts
  src/components/resume/work/DegreeCards.tsx
  src/components/resume/work/ExperienceSection.tsx
  src/components/resume/work/Job.tsx
  src/components/resume/work/Work.tsx
  src/components/resume/work/WorkCards.tsx
  src/components/resume/work/experienceCardSize.ts
  src/components/resume/work/tests/Job.test.tsx
  src/components/resume/work/tests/Work.test.tsx
  src/components/resume/work/tests/WorkCards.test.tsx
  src/components/routeTitleUtils.test.ts
  src/constants/classes.ts
Due: üìë Resume, Presentations, Work

fix: test warning outputs
  package-lock.json
  package.json
  scripts/check-per-file-coverage.mjs
  src/components/Routes.test.tsx
  src/components/common/highcharts/tests/highchartsMocks.tsx
  src/components/games/botc/header/edit-players/ScriptSearch.test.tsx
  src/components/games/botc/player-notes/PlayerNotes.test.tsx
  src/components/games/botc/player-notes/character-sheet/CharacterSheet.test.tsx
  src/components/games/bridge/header/bid-dialog/advisor/HandInput.test.tsx
  src/components/games/spades/control-bar/ShowStats.test.tsx
  src/components/games/werewolf/Werewolf.test.tsx
  src/components/resume/travel-map/map/WorldMap.test.tsx
  src/components/resume/travel-map/tests/TravelMap.test.tsx
  src/setupTests.ts
Due: üïπÔ∏è Games, BotC, Bridge, Spades, Werewolf, üìë Resume, Travel

fix: next round of CR feedback
  .cursor/rules/react-maintenance.mdc
  src/components/games/blackjack/useBlackjackAI.test.tsx
Due: üïπÔ∏è Games, Blackjack

fix: per file coverage
  .cursor/rules/react-maintenance.mdc
  .cursor/rules/testing.mdc
  package.json
  scripts/check-per-file-coverage.mjs
  src/components/common/highcharts/tests/highchartsMocks.tsx
  src/components/games/blackjack/useBlackjackAI.test.tsx
  src/components/games/blackjack/useBlackjackDeck.test.ts
  src/components/games/bridge/header/score-dialog/ScoringTable.tsx
  src/components/games/imperial-assault/header/Header.test.tsx
  src/components/resume/cars/CarChartControls.tsx
  src/components/resume/cars/graphs/CarSankeyGraph.test.tsx
  src/components/resume/f1/Track.test.tsx
  src/components/resume/work/DegreeCards.tsx
  src/components/resume/work/ExperienceSection.tsx
  src/components/resume/work/Job.tsx
  src/components/resume/work/experienceCardSize.ts
  src/components/resume/work/tests/WorkCards.test.tsx
  src/constants/car-brands.ts
  vite.config.ts
Due: üïπÔ∏è Games, Blackjack, Bridge, Imperial Assault, üìë Resume, Cars, F1, Work

feat: update sankey calculations
  src/components/common/highcharts/sankeyHighcharts.ts
  src/components/resume/cars/Cars.tsx
  src/components/resume/cars/graphs/CarGraphs.test.tsx
  src/components/resume/cars/graphs/CarGraphs.tsx
  src/components/resume/cars/graphs/CarSankeyGraph.test.tsx
  src/components/resume/cars/graphs/CarSankeyGraph.tsx
  src/constants/car-brands.ts
  src/constants/cars.ts
  src/constants/tests/car-brands.test.ts
  src/constants/tests/cars-sankey.test.ts
Due: üìë Resume, Cars

fix: remove unneeded memos
  .cursor/rules/react-maintenance.mdc
  src/components/games/botc/LiePie.tsx
  src/components/games/bridge/Bridge.tsx
  src/components/games/bridge/header/Header.tsx
  src/components/games/bridge/header/bid-dialog/BalancedHands.tsx
  src/components/games/bridge/header/bid-dialog/BiddingTable.tsx
  src/components/games/bridge/header/bid-dialog/Overcalls.tsx
  src/components/games/bridge/header/bid-dialog/Overleaf.tsx
  src/components/games/bridge/header/bid-dialog/UnbalancedHands.tsx
  src/components/games/bridge/header/bid-dialog/tests/BalancedHands.test.tsx
  src/components/games/bridge/header/bid-dialog/tests/Overcalls.test.tsx
  src/components/games/bridge/header/bid-dialog/tests/Overleaf.test.tsx
  src/components/games/bridge/header/bid-dialog/tests/UnbalancedHands.test.tsx
  src/components/games/bridge/header/score-dialog/ScoreDialog.tsx
  src/components/games/bridge/header/score-dialog/ScoringTable.tsx
  src/components/games/game-table/board/player/Player.tsx
  src/components/games/murder-mystery/MurderMystery.tsx
  src/components/games/slots/ReelDisplay.tsx
  src/components/games/tictactoe/Board.tsx
  src/components/games/werewolf/Werewolf.tsx
  src/components/games/yahtzee/Yahtzee.tsx
  src/components/games/yahtzee/score-table/BottomTable.tsx
  src/components/games/yahtzee/score-table/ScoreTable.tsx
  src/components/resume/cars/CarChartControls.tsx
  src/components/resume/cars/Cars.tsx
  src/components/resume/f1/Track.test.tsx
  src/components/resume/f1/Track.tsx
  src/components/resume/f1/Tracks.tsx
Due: üïπÔ∏è Games, BotC, Bridge, Murder Mystery, Slots, Tic Tac Toe, Werewolf, Yahtzee, üìë Resume, Cars, F1

feat: update f1 standings, tracks, and timelines
  package-lock.json
  src/components/common/timeline-parts/Row.tsx
  src/components/common/timeline-parts/Segment.tsx
  src/components/common/timeline-parts/YearMarker.tsx
  src/components/common/timeline-parts/tests/Segment.test.tsx
  src/components/common/timeline-parts/tests/YearMarker.test.tsx
  src/components/common/timeline-parts/tests/timelineMath.test.ts
  src/components/common/timeline-parts/timelineMath.ts
  src/components/resume/cars/timeline-card/TimelineCard.tsx
  src/components/resume/cars/timeline-card/tests/TimelineCard.test.tsx
  src/components/resume/cars/timeline-card/timelineHelpers.ts
  src/components/resume/f1/timeline-card/tests/TimelineCard.test.tsx
  src/components/resume/f1/timeline-card/timelineHelpers.ts
  src/constants/f1.ts
  src/images/tracks/Australia_Circuit.avif
  src/images/tracks/Austria_Circuit.avif
  src/images/tracks/Barcelona_Circuit.avif
  src/images/tracks/Belgium_Circuit.avif
  src/images/tracks/Canada_Circuit.avif
  src/images/tracks/China_Circuit.avif
  src/images/tracks/Great_Britain_Circuit.avif
  src/images/tracks/Hungary_Circuit.avif
  src/images/tracks/Italy_Circuit.avif
  src/images/tracks/Japan_Circuit.avif
  src/images/tracks/Madrid_Circuit.avif
  src/images/tracks/Miami_Circuit.avif
  src/images/tracks/Monaco_Circuit.avif
  src/images/tracks/Netherlands_Circuit.avif
Due: üìë Resume, Cars, F1

fix: knip, tests, and CR feedback
  src/components/common/timeline-parts/tests/timelineMath.test.ts
  src/components/common/timeline-parts/timelineMath.ts
  src/constants/f1.ts
Due: none

feat: update f1 standings
  src/components/resume/f1/Track.test.tsx
  src/components/resume/f1/Track.tsx
  src/components/resume/f1/Tracks.test.tsx
  src/components/resume/f1/Tracks.tsx
  src/constants/f1.ts
Due: üìë Resume, F1

fix: update highcharts
  package-lock.json
  package.json
  src/components/common/highcharts/tests/sankeyHighcharts.test.ts
  src/components/resume/cars/graphs/CarSpeedoGraph.test.tsx
Due: üìë Resume, Cars

test: coverage
  src/components/common/highcharts/tests/sankeyHighcharts.registration.test.ts
Due: none

fix: chart loading
  package-lock.json
  package.json
  src/components/common/SectionLayout.tsx
  src/components/common/highcharts/ChartErrorBoundary.tsx
  src/components/common/highcharts/ChartShell.tsx
  src/components/common/highcharts/ChartUnavailable.tsx
  src/components/common/highcharts/coreHighcharts.ts
  src/components/common/highcharts/guardChart.tsx
  src/components/common/highcharts/mapsHighcharts.ts
  src/components/common/highcharts/sankeyHighcharts.ts
  src/components/common/highcharts/tests/ChartErrorBoundary.test.tsx
  src/components/common/highcharts/tests/highchartsMocks.tsx
  src/components/common/highcharts/tests/mapsHighcharts.test.ts
  src/components/common/highcharts/tests/sankeyHighcharts.registration.test.ts
  src/components/common/highcharts/tests/sankeyHighcharts.test.ts
  src/components/games/botc/BotC.tsx
  src/components/games/spades/control-bar/ShowStats.tsx
  src/components/games/spades/control-bar/StatsBagsChart.test.tsx
  src/components/games/spades/control-bar/StatsNilsChart.test.tsx
  src/components/resume/cars/graphs/CarGraphs.test.tsx
  src/components/resume/cars/graphs/CarGraphs.tsx
  src/components/resume/cars/graphs/CurrentCarStats.tsx
  src/components/resume/f1/F1.tsx
  src/components/resume/f1/charts/tests/BudgetSankey.test.tsx
  src/components/resume/f1/charts/tests/ConstructorStandingsLine.test.tsx
  src/components/resume/f1/charts/tests/DriverStandingsLine.test.tsx
  src/components/resume/finances/budgeting/BudgetCharts.test.tsx
  src/components/resume/finances/budgeting/BudgetCharts.tsx
  src/components/resume/finances/comp-calc/graphs/Graphs.test.tsx
  src/components/resume/finances/comp-calc/graphs/Graphs.tsx
  src/components/resume/finances/net-worth/NetWorth.test.tsx
  src/components/resume/finances/net-worth/graphs/Graphs.test.tsx
  src/components/resume/finances/net-worth/graphs/Graphs.tsx
  src/components/resume/finances/shared/ChartFigure.tsx
  src/components/resume/travel-map/TravelMap.tsx
  src/components/resume/travel-map/tests/TravelMap.test.tsx
  vite.config.ts
Due: üïπÔ∏è Games, BotC, Spades, üìë Resume, Cars, F1, Travel

fix: tests and CR feedback
  src/components/common/SectionLayout.tsx
  src/components/common/highcharts/ChartErrorBoundary.tsx
  src/components/common/highcharts/ChartShell.tsx
  src/components/common/highcharts/ChartUnavailable.tsx
  src/components/common/highcharts/guardChart.tsx
  src/components/common/highcharts/tests/ChartErrorBoundary.test.tsx
  src/components/common/highcharts/tests/guardChart.test.tsx
  src/components/games/botc/BotC.tsx
  src/components/games/spades/Spades.test.tsx
  src/components/games/spades/control-bar/ShowStats.tsx
  src/components/resume/cars/graphs/CarGraphs.tsx
  src/components/resume/cars/graphs/CurrentCarStats.tsx
  src/components/resume/f1/F1.tsx
  src/components/resume/finances/budgeting/BudgetCharts.tsx
  src/components/resume/finances/comp-calc/graphs/Graphs.tsx
  src/components/resume/finances/net-worth/graphs/Graphs.tsx
  src/components/resume/finances/shared/ChartFigure.tsx
  src/components/resume/travel-map/TravelMap.tsx
Due: üïπÔ∏è Games, BotC, Spades, üìë Resume, Cars, F1, Travel

feat: dependabot updates
  package-lock.json
  package.json
  src/components/games/botc/player-notes/character-sheet/RoleSection.test.tsx
  src/components/resume/finances/comp-calc/graphs/Graphs.test.tsx
  src/components/resume/finances/net-worth/NetWorth.test.tsx
  src/components/resume/finances/net-worth/graphs/Graphs.test.tsx
Due: üïπÔ∏è Games, BotC, üìë Resume

fix: loading circles and linting errors
  src/components/common/highcharts/guardChart.tsx
  src/components/common/highcharts/tests/guardChart.test.tsx
  src/components/resume/f1/Tracks.test.tsx
  src/components/resume/f1/Tracks.tsx
  src/constants/f1.ts
  src/images/tracks/Bahrain_Circuit.avif
  src/images/tracks/Baku_Circuit.avif
  src/images/tracks/Singapore_Circuit.avif
Due: üìë Resume, F1

fix: reduce spinners in app
  src/components/common/highcharts/ChartSection.tsx
  src/components/common/highcharts/guardChart.tsx
  src/components/common/highcharts/tests/ChartSection.test.tsx
  src/components/common/highcharts/tests/guardChart.test.tsx
  src/components/resume/cars/graphs/CarGraphs.tsx
  src/components/resume/cars/graphs/CurrentCarStats.tsx
  src/components/resume/f1/F1.tsx
  src/components/resume/travel-map/TravelMap.tsx
Due: üìë Resume, Cars, F1, Travel

fix: coderabbit feedback
  src/components/common/highcharts/ChartSection.tsx
  src/components/common/highcharts/tests/ChartSection.test.tsx
  src/components/resume/cars/graphs/CarGraphs.tsx
  src/components/resume/f1/F1.tsx
  src/components/resume/travel-map/TravelMap.tsx
Due: üìë Resume, Cars, F1, Travel

Path conditions:
  üïπÔ∏è Games: any of: src/components/games/**
  Are You the One?: any of: src/components/games/are-you-the-one/**
  Blackjack: any of: src/components/games/blackjack/**
  BotC: any of: src/components/games/botc/**
  Bridge: any of: src/components/games/bridge/**
  Connect4: any of: src/components/games/connect4/**
  Deal or No Deal: any of: src/components/games/deal-or-no-deal/**
  Family Feud: any of: src/components/games/family-feud/**
  Imperial Assault: any of: src/components/games/imperial-assault/**
  Murder Mystery: any of: src/components/games/murder-mystery/**
  Poker: any of: src/components/games/poker/**
  Slots: any of: src/components/games/slots/**
  Spades: any of: src/components/games/spades/**
  Tic Tac Toe: any of: src/components/games/tictactoe/**
  Type Checker: any of: src/components/games/type-checker/**
  Werewolf: any of: src/components/games/werewolf/**
  Yahtzee: any of: src/components/games/yahtzee/**
  üìë Resume: any of: src/components/resume/**
  Cars: any of: src/components/resume/cars/**
  Comp Calculator: any of: src/components/resume/comp-calc/**
  Education: any of: src/components/resume/education/**
  F1: any of: src/components/resume/f1/**
  Presentations: any of: src/components/resume/presentations/**
  Resume: any of: src/components/resume/resume/**
  Summary: any of: src/components/resume/summary/**
  Travel: any of: src/components/resume/travel-map/**
  Work: any of: src/components/resume/work/**
