Repository kennethbigler/react-home: changes, and which Codecov flags are due for each by the changed paths.
All: üïπÔ∏è Games, Are You the One?, Blackjack, BotC, Bridge, Connect4, Deal or No Deal, Family Feud, Imperial Assault, Murder Mystery, Poker, Slots, Spades, Tic Tac Toe, Type Checker, Werewolf, Yahtzee, üìë Resume, Cars, Comp Calculator, Education, F1, Presentations, Resume, Summary, Travel, Work

fix: coderabbit feedback on engine level
  .github/workflows/main.yml
Due: none

fix: separate out major version updates to their own PRs
  .github/dependabot.yml
Due: none

feat: audit bridge bidding app and refactor
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.test.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/advances.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/bid-meaning.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/bid-order.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/conventions.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/derive-situation.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/double-rebids.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/hand-evaluation.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/nt-rebids.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/opener-suit-rebids.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/openings.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/overcalls.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/positions.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/responses.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/router.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/second-turn-rebids.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/types.ts
Due: üïπÔ∏è Games, Bridge

fix: coderabbit feedback
  src/components/games/bridge/header/bid-dialog/advisor/AuctionContext.tsx
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.test.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/advances.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/bid-meaning.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/bid-order.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/conventions.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/derive-situation.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/double-rebids.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/hand-evaluation.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/nt-rebids.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/opener-suit-rebids.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/openings.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/overcalls.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/positions.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/responses.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/router.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/second-turn-rebids.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/types.ts
  src/components/games/bridge/header/bid-dialog/advisor/sim-audit.test.ts
Due: üïπÔ∏è Games, Bridge

fix: coderabbit feedback + small fix
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.test.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/advances.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/conventions.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/derive-situation.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/double-rebids.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/opener-suit-rebids.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/responses.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/router.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/second-turn-rebids.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/types.ts
Due: üïπÔ∏è Games, Bridge

fix: more bridge fixes
  src/components/games/bridge/header/bid-dialog/advisor/bidding/bid-meaning.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/overcalls.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/responses.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/second-turn-rebids.ts
Due: üïπÔ∏è Games, Bridge

fix: coderabbit feedback
  src/components/games/bridge/header/bid-dialog/advisor/bidding/advances.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/bid-meaning.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/opener-suit-rebids.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/overcalls.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/responses.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/router.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/second-turn-rebids.ts
Due: üïπÔ∏è Games, Bridge

feat: y-axis labels for finances and hide pie
  src/components/resume/finances/comp-calc/graphs/CompGraph.tsx
  src/components/resume/finances/net-worth/graphs/BreakdownCategoriesDialog.tsx
  src/components/resume/finances/net-worth/graphs/BreakdownGraph.tsx
  src/components/resume/finances/net-worth/graphs/Graphs.test.tsx
  src/components/resume/finances/net-worth/graphs/NetWorthGraph.tsx
  src/components/resume/finances/net-worth/graphs/buildNetWorthBreakdownPieData.ts
  src/components/resume/finances/shared/chartHelpers.ts
Due: üìë Resume

fix: coderabbit feedback
  src/components/games/bridge/header/bid-dialog/advisor/bidding/second-turn-rebids.ts
  src/components/resume/finances/net-worth/graphs/BreakdownCategoriesDialog.tsx
  src/components/resume/finances/net-worth/graphs/BreakdownGraph.tsx
  src/components/resume/finances/net-worth/graphs/Graphs.test.tsx
  src/components/resume/finances/shared/chartHelpers.test.ts
  src/components/resume/finances/shared/chartHelpers.ts
Due: üïπÔ∏è Games, Bridge, üìë Resume

fix: improve code fix quality
  src/components/resume/finances/shared/chartHelpers.ts
Due: üìë Resume

feat: support B
  src/components/resume/finances/shared/chartHelpers.test.ts
  src/components/resume/finances/shared/chartHelpers.ts
Due: üìë Resume

fix: coderabbit feedback
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.test.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/second-turn-rebids.ts
Due: üïπÔ∏è Games, Bridge

fix: update version
  package.json
Due: none

fix: npm audit fix
  package-lock.json
Due: none

feat: first pass at enhancing botc graphs
  src/constants/botc-role-misinfo.test.ts
  src/constants/botc-role-misinfo.ts
  src/constants/botc-slug-map.ts
Due: none

feat: enhance liepie
  src/components/games/botc/LiePie.test.tsx
  src/components/games/botc/LiePie.tsx
  src/components/games/botc/botcHelpers.test.ts
  src/components/games/botc/botcHelpers.ts
  src/components/games/botc/player-notes/character-sheet/RoleSection.tsx
  src/constants/botc-role-misinfo.test.ts
  src/constants/botc-role-misinfo.ts
  src/constants/botc-slug-map.test.ts
  src/constants/botc-slug-map.ts
  src/utils/botc-script-utils.test.ts
  src/utils/botc-script-utils.ts
Due: üïπÔ∏è Games, BotC

feat: minor ux enhancements
  src/components/games/botc/LiePie.tsx
  src/components/games/botc/player-notes/PlayerNotes.tsx
  src/components/games/botc/player-notes/character-sheet/CharacterSheet.tsx
Due: üïπÔ∏è Games, BotC

feat: coderabbit feedback
  package-lock.json
  package.json
  src/components/games/botc/BotC.test.tsx
  src/components/games/botc/LiePie.test.tsx
  src/components/games/botc/botcHelpers.test.ts
  src/components/games/botc/botcHelpers.ts
  src/components/games/botc/player-notes/PlayerNotes.test.tsx
  src/components/games/botc/player-notes/character-sheet/CharacterSheet.test.tsx
  src/components/games/botc/player-notes/character-sheet/RoleSection.test.tsx
  src/components/games/botc/player-notes/character-sheet/RoleSection.tsx
  src/constants/botc-slug-map.test.ts
  src/constants/botc-slug-map.ts
Due: üïπÔ∏è Games, BotC

fix: coderabbit test feedback
  src/components/games/botc/LiePie.test.tsx
  src/components/games/botc/player-notes/PlayerNotes.test.tsx
  src/components/games/botc/player-notes/PlayerNotes.tsx
Due: üïπÔ∏è Games, BotC

feat: update botc-scripts
  src/data/botc-scripts.json
Due: none

feat: deploy botc updates
  docs/assets/Header-Baz9FysZ.js
  docs/assets/Header-fW9iVi_u.js
  docs/assets/Home-CHsH0tVA.js
  docs/assets/Home-DZwERDrt.js
  docs/assets/Routes-CElVVqb_.js
  docs/assets/Routes-Cz_qhpM1.js
  docs/assets/Routes-O9Djuc91.js
  docs/assets/Routes-vvtW9y_Q.js
  docs/assets/botc-DVhYX7z_.js
  docs/assets/botc-GInLwXZs.js
  docs/assets/botc-scripts-CWwjOrhm.js
  docs/assets/botc-scripts-YSUaA_aA.js
  docs/assets/cars-BCM_YJ_M.js
  docs/assets/cars-D7qqc3yW.js
  docs/assets/f1-CfwX1WtD.js
  docs/assets/f1-DATUdML6.js
  docs/assets/finances-42EcSach.js
  docs/assets/finances-B7fd-aUK.js
  docs/assets/index-D_DiCcaN.js
  docs/assets/index-jyj2qotO.js
  docs/assets/spades-CcgqJ2xp.js
  docs/assets/spades-DOXtk2Mm.js
  docs/assets/travel-map-AVwzpOnV.js
  docs/assets/travel-map-D9cyqsvn.js
  docs/index.html
  src/data/botc-scripts.json
Due: none

Path conditions:
  üïπÔ∏è Games: any of: src/components/games/**
  Are You the One?: any of: src/components/games/are-you-the-one/**
  Blackjack: any of: src/components/games/blackjack/**
  BotC: any of: src/components/games/botc/**
  Bridge: any of: src/components/games/bridge/**
  Connect4: any of: src/components/games/connect4/**
  Deal or No Deal: any of: src/components/games/deal-or-no-deal/**
  Family Feud: any of: src/components/games/family-feud/**
  Imperial Assault: any of: src/components/games/imperial-assault/**
  Murder Mystery: any of: src/components/games/murder-mystery/**
  Poker: any of: src/components/games/poker/**
  Slots: any of: src/components/games/slots/**
  Spades: any of: src/components/games/spades/**
  Tic Tac Toe: any of: src/components/games/tictactoe/**
  Type Checker: any of: src/components/games/type-checker/**
  Werewolf: any of: src/components/games/werewolf/**
  Yahtzee: any of: src/components/games/yahtzee/**
  üìë Resume: any of: src/components/resume/**
  Cars: any of: src/components/resume/cars/**
  Comp Calculator: any of: src/components/resume/comp-calc/**
  Education: any of: src/components/resume/education/**
  F1: any of: src/components/resume/f1/**
  Presentations: any of: src/components/resume/presentations/**
  Resume: any of: src/components/resume/resume/**
  Summary: any of: src/components/resume/summary/**
  Travel: any of: src/components/resume/travel-map/**
  Work: any of: src/components/resume/work/**
