Repository kennethbigler/react-home: changes, and which Codecov flags are due for each by the changed paths.
All: üïπÔ∏è Games, Are You the One?, Blackjack, BotC, Bridge, Connect4, Deal or No Deal, Family Feud, Imperial Assault, Murder Mystery, Poker, Slots, Spades, Tic Tac Toe, Type Checker, Werewolf, Yahtzee, üìë Resume, Cars, Comp Calculator, Education, F1, Presentations, Resume, Summary, Travel, Work

test: increase coverage for new feature
  src/components/resume/comp-calc/graphs/CompGraph.test.tsx
  src/components/resume/comp-calc/graphs/Graphs.test.tsx
  src/components/resume/comp-calc/graphs/tests/highchartsMocks.tsx
Due: üìë Resume, Comp Calculator

fix: codeRabbit feedback
  src/components/resume/comp-calc/graphs/CompGraph.test.tsx
  src/components/resume/comp-calc/graphs/Graphs.test.tsx
Due: üìë Resume, Comp Calculator

fix: test cleanup
  src/components/resume/Routes.test.tsx
Due: üìë Resume

fix: new failing test
  src/components/resume/Routes.test.tsx
Due: üìë Resume

fix: knip and increase codecov
  src/components/resume/comp-calc/graphs/CompGraph.test.tsx
  src/components/resume/comp-calc/graphs/Graphs.test.tsx
  src/components/resume/comp-calc/graphs/tests/highchartsMocks.tsx
  src/components/resume/travel-map/TravelDaysGraph.test.tsx
  src/components/resume/travel-map/cruises/CruiseSankeyGraph.test.tsx
  src/components/resume/travel-map/cruises/LoyaltyCharts.test.tsx
  src/components/resume/travel-map/tests/highchartsMocks.tsx
Due: üìë Resume, Comp Calculator, Travel

feat: bridge skill and cross ai compatibility
  .claude/skills/a11y-checklist/SKILL.md
  .claude/skills/project-structure/SKILL.md
  .claude/skills/react-maintenance/SKILL.md
  .claude/skills/sayc-bridge/SKILL.md
  .claude/skills/sayc-bridge/evals/evals.json
  .claude/skills/sayc-bridge/references/bid-tables.md
  .claude/skills/sayc-bridge/references/competitive.md
  .claude/skills/sayc-bridge/references/defense-to-conventions.md
  .claude/skills/sayc-bridge/references/hand-evaluation.md
  .claude/skills/sayc-bridge/references/leads-and-signals.md
  .claude/skills/sayc-bridge/references/more-conventions.md
  .claude/skills/sayc-bridge/references/opening-bids.md
  .claude/skills/sayc-bridge/references/play-technique.md
  .claude/skills/sayc-bridge/references/rebids.md
  .claude/skills/sayc-bridge/references/responses-1level-suit.md
  .claude/skills/sayc-bridge/references/responses-notrump.md
  .claude/skills/sayc-bridge/references/slam-bidding.md
  .claude/skills/sayc-bridge/references/worked-auctions.md
  .claude/skills/self-improvement/SKILL.md
  .claude/skills/testing/SKILL.md
  .cursor/rules/sayc-bridge.mdc
  .gitignore
Due: none

fix: bridge bidding fixes
  src/components/games/bridge/header/bid-dialog/BidAdvisor.tsx
  src/components/games/bridge/header/bid-dialog/advisor/HandInput.tsx
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.test.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.ts
Due: üïπÔ∏è Games, Bridge

fix: testing coverage
  src/components/games/bridge/header/bid-dialog/BidAdvisor.test.tsx
  src/components/games/bridge/header/bid-dialog/advisor/HandInput.test.tsx
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.test.ts
Due: üïπÔ∏è Games, Bridge

feat: update f1 standings
  src/components/resume/f1/Tracks.tsx
  src/constants/f1.ts
Due: üìë Resume, F1

feat: add a11y practice route and update routing
  src/components/common/menu-types.ts
  src/components/games/HomeMenuItem.tsx
  src/components/games/Menu.tsx
  src/components/games/menu-items.ts
  src/components/resume/Menu.tsx
  src/components/resume/a11y-practice/A11yPractice.tsx
  src/components/resume/a11y-practice/index.ts
  src/components/resume/menu-items.ts
Due: üïπÔ∏è Games, üìë Resume

fix: coderabbit feedback and CI/CD
  package.json
  src/components/common/menu-types.ts
  src/components/games/menu-items.ts
  src/components/resume/menu-items.ts
  src/constants/f1.ts
Due: üïπÔ∏è Games, üìë Resume

feat: refactor menu items slightly more
  src/components/common/menu-types.ts
  src/components/games/menu-items.ts
  src/components/resume/menu-items.ts
Due: üïπÔ∏è Games, üìë Resume

feat: increase coverage
  src/components/games/menu-items.test.tsx
  src/components/resume/Routes.test.tsx
  src/components/resume/a11y-practice/A11yPractice.test.tsx
  src/components/resume/a11y-practice/A11yPractice.tsx
  src/components/resume/menu-items.test.ts
  src/components/routeTitleUtils.test.ts
  src/index.css
Due: üïπÔ∏è Games, üìë Resume

feat: a11y practice
  src/components/resume/a11y-practice/A11yPractice.test.tsx
  src/components/resume/a11y-practice/A11yPractice.tsx
  src/components/resume/a11y-practice/AnnouncementEngine.test.ts
  src/components/resume/a11y-practice/AnnouncementEngine.ts
  src/components/resume/a11y-practice/mockTokenStream.ts
  src/components/resume/a11y-practice/starWarsIntros.ts
Due: üìë Resume

fix: claude feedback
  src/components/resume/a11y-practice/A11yPractice.tsx
  src/components/resume/a11y-practice/AnnouncementEngine.ts
Due: üìë Resume

fix: botc render issue
  src/components/games/botc/botcHelpers.test.ts
  src/components/games/botc/botcHelpers.ts
  src/components/games/botc/player-notes/character-sheet/RoleSection.test.tsx
  src/components/games/botc/player-notes/character-sheet/RoleSection.tsx
  src/components/games/botc/player-notes/character-sheet/Roles.test.tsx
  src/constants/botc.ts
  src/utils/botc-script-utils.test.ts
Due: üïπÔ∏è Games, BotC

test: increase coverage
  src/components/resume/a11y-practice/mockTokenStream.test.ts
Due: üìë Resume

fix: commit v1
  src/components/resume/a11y-practice/A11yPractice.test.tsx
  src/components/resume/a11y-practice/A11yPractice.tsx
  src/components/resume/a11y-practice/CustomTabPanel.test.tsx
  src/components/resume/a11y-practice/CustomTabPanel.tsx
  src/components/resume/a11y-practice/stream-helpers/mockTokenStream.test.ts
  src/components/resume/a11y-practice/stream-helpers/mockTokenStream.ts
  src/components/resume/a11y-practice/stream-helpers/starWarsIntros.ts
  src/components/resume/a11y-practice/v1/AnnouncementEngine.test.ts
  src/components/resume/a11y-practice/v1/AnnouncementEngine.ts
  src/components/resume/a11y-practice/v1/StreamExample.test.tsx
  src/components/resume/a11y-practice/v1/StreamExample.tsx
  src/components/resume/a11y-practice/v2/AnnouncementEngine.test.ts
  src/components/resume/a11y-practice/v2/AnnouncementEngine.ts
  src/components/resume/a11y-practice/v2/StreamExample.test.tsx
  src/components/resume/a11y-practice/v2/StreamExample.tsx
Due: üìë Resume

fix: knip
  src/components/resume/a11y-practice/CustomTabPanel.tsx
Due: üìë Resume

fix: aria attributes
  src/components/resume/a11y-practice/A11yPractice.tsx
  src/components/resume/a11y-practice/CustomTabPanel.test.tsx
  src/components/resume/a11y-practice/CustomTabPanel.tsx
Due: üìë Resume

feat: compcalc x-axis and make tabpanel general
  src/components/common/tab-panel/TabPanel.test.tsx
  src/components/common/tab-panel/TabPanel.tsx
  src/components/common/tab-panel/a11y-tab-props.ts
  src/components/games/bridge/header/bid-dialog/BidDialog.tsx
  src/components/resume/a11y-practice/A11yPractice.test.tsx
  src/components/resume/a11y-practice/A11yPractice.tsx
  src/components/resume/comp-calc/graphs/CompGraph.tsx
  src/components/resume/comp-calc/graphs/Graphs.test.tsx
  src/components/resume/comp-calc/graphs/compGraphHelpers.ts
Due: üïπÔ∏è Games, Bridge, üìë Resume, Comp Calculator

feat: compcalc click updates
  src/components/resume/comp-calc/CompEntryCard.tsx
  src/components/resume/comp-calc/graphs/CompGraph.tsx
  src/components/resume/comp-calc/graphs/Graphs.test.tsx
  src/components/resume/comp-calc/graphs/compGraphHelpers.ts
Due: üìë Resume, Comp Calculator

fix: error that only breaks in CI
  src/components/resume/a11y-practice/v1/StreamExample.test.tsx
Due: üìë Resume

fix: more studying on streams
  src/components/resume/a11y-practice/v1/AnnouncementEngine.test.ts
  src/components/resume/a11y-practice/v1/AnnouncementEngine.ts
  src/components/resume/a11y-practice/v1/StreamExample.tsx
  src/components/resume/a11y-practice/v2/AnnouncementEngine.ts
Due: üìë Resume

fix: coderabbit feedback
  src/components/common/menu-types.test.ts
  src/components/common/menu-types.ts
  src/components/games/menu-items.ts
  src/components/resume/a11y-practice/A11yPractice.test.tsx
  src/components/resume/a11y-practice/v1/StreamExample.test.tsx
  src/components/resume/f1/Tracks.test.tsx
  src/constants/f1.ts
  src/constants/tests/f1.test.ts
Due: üïπÔ∏è Games, üìë Resume, F1

feat: move files around for budgeting tool
  .cursor/rules/project-structure.mdc
  codecov.yml
  src/components/resume/Routes.test.tsx
  src/components/resume/comp-calc/index.ts
  src/components/resume/finances/Finances.tsx
  src/components/resume/finances/budgeting/Budgeting.tsx
  src/components/resume/finances/comp-calc/CompCalculator.test.tsx
  src/components/resume/finances/comp-calc/CompCalculator.tsx
  src/components/resume/finances/comp-calc/CompEntryCard.tsx
  src/components/resume/finances/comp-calc/CompEntryDialog.tsx
  src/components/resume/finances/comp-calc/CompEntryDisplay.tsx
  src/components/resume/finances/comp-calc/CompHeader.tsx
  src/components/resume/finances/comp-calc/StockDialog.tsx
  src/components/resume/finances/comp-calc/StockDisplay.tsx
  src/components/resume/finances/comp-calc/graphs/BreakdownGraph.tsx
  src/components/resume/finances/comp-calc/graphs/CompGraph.test.tsx
  src/components/resume/finances/comp-calc/graphs/CompGraph.tsx
  src/components/resume/finances/comp-calc/graphs/Graphs.test.tsx
  src/components/resume/finances/comp-calc/graphs/Graphs.tsx
  src/components/resume/finances/comp-calc/graphs/colors.ts
  src/components/resume/finances/comp-calc/graphs/compGraphHelpers.ts
  src/components/resume/finances/comp-calc/graphs/tests/highchartsMocks.tsx
  src/components/resume/finances/index.ts
  src/components/resume/menu-items.ts
  src/components/routeTitleUtils.test.ts
Due: üìë Resume, Comp Calculator

feat: progress on budgeting app
  src/components/resume/finances/Finances.test.tsx
  src/components/resume/finances/budgeting/Budgeting.test.tsx
  src/components/resume/finances/budgeting/Budgeting.tsx
  src/components/resume/finances/budgeting/ExpenseEntryCard.test.tsx
  src/components/resume/finances/budgeting/ExpenseEntryCard.tsx
  src/components/resume/finances/budgeting/ExpenseEntryDialog.tsx
  src/components/resume/finances/budgeting/ExpenseEntryDisplay.tsx
  src/components/resume/finances/comp-calc/CompCalculator.tsx
  src/components/resume/finances/comp-calc/CompEntryCard.test.tsx
  src/components/resume/finances/comp-calc/CompEntryCard.tsx
  src/components/resume/finances/comp-calc/CompEntryDialog.test.tsx
  src/components/resume/finances/comp-calc/CompEntryDialog.tsx
  src/components/resume/finances/comp-calc/CompEntryDisplay.tsx
  src/components/resume/finances/comp-calc/CompHeader.tsx
  src/components/resume/finances/comp-calc/graphs/CompGraph.test.tsx
  src/components/resume/finances/comp-calc/graphs/CompGraph.tsx
  src/components/resume/finances/comp-calc/graphs/Graphs.test.tsx
  src/components/resume/finances/comp-calc/graphs/Graphs.tsx
  src/components/resume/finances/comp-calc/graphs/compGraphHelpers.ts
  src/components/resume/finances/comp-calc/graphs/tests/highchartsMocks.tsx
  src/jotai/finances-atom.test.ts
  src/jotai/finances-atom.ts
Due: üìë Resume

feat: colors by category
  src/components/resume/finances/budgeting/Budgeting.test.tsx
  src/components/resume/finances/budgeting/CategoryColorSelect.tsx
  src/components/resume/finances/budgeting/ExpenseEntryCard.test.tsx
  src/components/resume/finances/budgeting/ExpenseEntryCard.tsx
  src/components/resume/finances/budgeting/ExpenseEntryDialog.tsx
  src/components/resume/finances/budgeting/ExpenseEntryDisplay.test.tsx
  src/components/resume/finances/budgeting/ExpenseEntryDisplay.tsx
  src/components/resume/finances/comp-calc/graphs/CompGraph.test.tsx
  src/components/resume/finances/comp-calc/graphs/Graphs.test.tsx
  src/components/resume/finances/comp-calc/graphs/tests/highchartsMocks.tsx
  src/jotai/finances-atom.ts
Due: üìë Resume

fix: finance v2
  src/components/resume/finances/budgeting/BudgetSankeyGraph.test.tsx
  src/components/resume/finances/budgeting/BudgetSankeyGraph.tsx
  src/components/resume/finances/budgeting/Budgeting.test.tsx
  src/components/resume/finances/budgeting/Budgeting.tsx
  src/components/resume/finances/budgeting/CategoryBreakdownPie.test.tsx
  src/components/resume/finances/budgeting/CategoryBreakdownPie.tsx
  src/components/resume/finances/budgeting/CategoryColorSelect.test.tsx
  src/components/resume/finances/budgeting/CategoryColorSelect.tsx
  src/components/resume/finances/budgeting/ExpenseEntryCard.test.tsx
  src/components/resume/finances/budgeting/ExpenseEntryCard.tsx
  src/components/resume/finances/budgeting/ExpenseEntryDialog.test.tsx
  src/components/resume/finances/budgeting/ExpenseEntryDialog.tsx
  src/components/resume/finances/budgeting/ExpenseEntryDisplay.test.tsx
  src/components/resume/finances/budgeting/ExpenseEntryDisplay.tsx
  src/components/resume/finances/budgeting/chartColors.fallback.test.ts
  src/components/resume/finances/budgeting/chartColors.test.ts
  src/components/resume/finances/budgeting/chartColors.ts
  src/components/resume/finances/budgeting/helpers.test.ts
  src/components/resume/finances/budgeting/helpers.ts
  src/components/resume/finances/budgeting/tests/highchartsMocks.tsx
  src/constants/caStateTaxBrackets.ts
  src/constants/federalTaxBrackets.ts
  src/constants/taxHelpers.ts
  src/constants/tests/taxHelpers.test.ts
  src/jotai/finances-atom.test.ts
  src/jotai/finances-atom.ts
Due: üìë Resume

feat: ui updates and payroll removed
  src/components/resume/finances/budgeting/BudgetSankeyGraph.test.tsx
  src/components/resume/finances/budgeting/BudgetSankeyGraph.tsx
  src/components/resume/finances/budgeting/Budgeting.test.tsx
  src/components/resume/finances/budgeting/CategoryBreakdownPie.test.tsx
  src/components/resume/finances/budgeting/ExpenseEntryCard.test.tsx
  src/components/resume/finances/budgeting/ExpenseEntryCard.tsx
  src/components/resume/finances/budgeting/ExpenseEntryDisplay.test.tsx
  src/components/resume/finances/budgeting/ExpenseEntryDisplay.tsx
  src/components/resume/finances/budgeting/chartColors.test.ts
  src/components/resume/finances/budgeting/chartColors.ts
  src/components/resume/finances/budgeting/helpers.test.ts
  src/components/resume/finances/budgeting/helpers.ts
  src/constants/payrollDeductions.ts
  src/constants/tests/payrollDeductions.test.ts
Due: üìë Resume

fix: coderabbit feedback
  .cursor/rules/project-structure.mdc
  codecov.yml
  src/components/resume/finances/Finances.test.tsx
  src/components/resume/finances/Finances.tsx
  src/components/resume/finances/budgeting/BudgetSankeyGraph.tsx
  src/components/resume/finances/budgeting/Budgeting.test.tsx
  src/components/resume/finances/budgeting/Budgeting.tsx
  src/components/resume/finances/budgeting/ExpenseEntryCard.test.tsx
  src/components/resume/finances/budgeting/ExpenseEntryDialog.test.tsx
  src/components/resume/finances/budgeting/ExpenseEntryDialog.tsx
  src/components/resume/finances/budgeting/ExpenseEntryDisplay.test.tsx
  src/components/resume/finances/budgeting/ExpenseEntryDisplay.tsx
  src/components/resume/finances/budgeting/helpers.test.ts
  src/components/resume/finances/budgeting/helpers.ts
  src/components/resume/finances/comp-calc/CompEntryDialog.test.tsx
  src/components/resume/finances/comp-calc/CompEntryDialog.tsx
  src/components/resume/finances/comp-calc/StockDialog.tsx
  src/constants/payrollDeductions.ts
  src/constants/tests/payrollDeductions.test.ts
Due: üìë Resume

fix: last few ui updates
  src/apis/budget/budget.test.ts
  src/apis/budget/budgetFlow.ts
  src/apis/budget/expenses.ts
  src/apis/budget/index.ts
  src/apis/budget/tax.ts
  src/apis/budget/types.ts
  src/components/resume/finances/budgeting/BudgetCategorySection.test.tsx
  src/components/resume/finances/budgeting/BudgetCategorySection.tsx
  src/components/resume/finances/budgeting/Budgeting.test.tsx
  src/components/resume/finances/budgeting/Budgeting.tsx
  src/components/resume/finances/budgeting/ExpenseEntryCard.test.tsx
  src/components/resume/finances/budgeting/ExpenseEntryDialog.test.tsx
  src/components/resume/finances/budgeting/ExpenseEntryDialog.tsx
  src/components/resume/finances/budgeting/ExpenseEntryDisplay.test.tsx
  src/components/resume/finances/budgeting/ExpenseEntryDisplay.tsx
  src/components/resume/finances/budgeting/getBudgetPieContent.test.ts
  src/components/resume/finances/budgeting/getBudgetPieContent.ts
  src/components/resume/finances/budgeting/graphs/BudgetSankeyGraph.test.tsx
  src/components/resume/finances/budgeting/graphs/BudgetSankeyGraph.tsx
  src/components/resume/finances/budgeting/graphs/CategoryBreakdownPie.test.tsx
  src/components/resume/finances/budgeting/graphs/CategoryBreakdownPie.tsx
  src/components/resume/finances/budgeting/graphs/chartColors.fallback.test.ts
  src/components/resume/finances/budgeting/graphs/chartColors.test.ts
  src/components/resume/finances/budgeting/graphs/chartColors.ts
  src/components/resume/finances/budgeting/graphs/chartData.test.ts
  src/components/resume/finances/budgeting/graphs/chartData.ts
  src/components/resume/finances/budgeting/graphs/tests/highchartsMocks.tsx
  src/components/resume/finances/budgeting/graphs/types.ts
  src/components/resume/finances/budgeting/helpers.ts
  src/components/resume/finances/budgeting/helpers/index.ts
  src/jotai/finances-atom.test.ts
  src/jotai/finances-atom.ts
Due: üìë Resume

fix: coderabbit review, and add hide taxes
  src/components/resume/finances/budgeting/BudgetCategorySection.test.tsx
  src/components/resume/finances/budgeting/BudgetCategorySection.tsx
  src/components/resume/finances/budgeting/Budgeting.test.tsx
  src/components/resume/finances/budgeting/Budgeting.tsx
  src/components/resume/finances/budgeting/ExpenseEntryDialog.test.tsx
  src/components/resume/finances/budgeting/ExpenseEntryDialog.tsx
  src/components/resume/finances/budgeting/ExpenseEntryDisplay.test.tsx
  src/components/resume/finances/budgeting/ExpenseEntryDisplay.tsx
  src/components/resume/finances/budgeting/getBudgetPieContent.test.ts
  src/components/resume/finances/budgeting/getBudgetPieContent.ts
  src/components/resume/finances/budgeting/graphs/chartData.test.ts
  src/components/resume/finances/budgeting/graphs/chartData.ts
Due: üìë Resume

feat: add pre/post-tax and update ui
  src/apis/budget/budget.test.ts
  src/apis/budget/budgetFlow.ts
  src/apis/budget/expenses.ts
  src/apis/budget/types.ts
  src/components/resume/finances/budgeting/Budgeting.test.tsx
  src/components/resume/finances/budgeting/Budgeting.tsx
  src/components/resume/finances/budgeting/ExpenseEntryDialog.test.tsx
  src/components/resume/finances/budgeting/ExpenseEntryDialog.tsx
  src/components/resume/finances/budgeting/ExpenseEntryDisplay.test.tsx
  src/components/resume/finances/budgeting/ExpenseEntryDisplay.tsx
  src/components/resume/finances/budgeting/getBudgetPieContent.test.ts
  src/components/resume/finances/budgeting/getBudgetPieContent.ts
  src/components/resume/finances/budgeting/graphs/chartData.test.ts
  src/components/resume/finances/budgeting/graphs/chartData.ts
  src/jotai/finances-atom.test.ts
  src/jotai/finances-atom.ts
Due: üìë Resume

feat: cr feedback and deploy updates
  docs/assets/Header-DIf3T5Zu.js
  docs/assets/Header-ftH1iMS5.js
  docs/assets/Home-CFbHdTgl.js
  docs/assets/Home-CkuQ6giC.js
  docs/assets/Routes-BL_ymcKa.js
  docs/assets/Routes-BhBIU5XX.js
  docs/assets/Routes-C1dcYMFx.js
  docs/assets/Routes-ZgeAs5Lh.js
  docs/assets/botc-CaebhrJh.js
  docs/assets/botc-DsRTKdnl.js
  docs/assets/cars-0IMBysvD.js
  docs/assets/cars-DvP5TeU-.js
  docs/assets/f1-Bevh42uR.js
  docs/assets/f1-DxmmIZWB.js
  docs/assets/finances-CsZA4PyG.js
  docs/assets/finances-Do863SRO.js
  docs/assets/index-BFaNq8lF.js
  docs/assets/index-CDJXRpKH.js
  docs/assets/spades-B2OxktFY.js
  docs/assets/spades-Bv5hpI_j.js
  docs/assets/travel-map-DNxb8C0Y.js
  docs/assets/travel-map-wvZ5e2F1.js
  docs/index.html
  src/components/resume/finances/budgeting/ExpenseEntryDialog.test.tsx
  src/components/resume/finances/budgeting/ExpenseEntryDialog.tsx
Due: üìë Resume

fix: a11y practice examples
  src/components/resume/a11y-practice/A11yPractice.tsx
  src/components/resume/a11y-practice/components/Combobox.tsx
  src/components/resume/a11y-practice/components/DataTable.tsx
  src/components/resume/a11y-practice/components/Dialog.tsx
  src/components/resume/a11y-practice/components/FormFocus.tsx
  src/components/resume/a11y-practice/components/FormValidation.tsx
  src/components/resume/a11y-practice/components/NotificationBanner.tsx
  src/components/resume/a11y-practice/components/TabEx.tsx
Due: üìë Resume

fix: a11y practice tests
  src/components/resume/a11y-practice/A11yPractice.test.tsx
Due: üìë Resume

feat: more sample coding tests
  src/components/resume/a11y-practice/A11yPractice.test.tsx
  src/components/resume/a11y-practice/A11yPractice.tsx
  src/components/resume/a11y-practice/components/Search.tsx
  src/components/resume/a11y-practice/components/TabEx.tsx
Due: üìë Resume

Path conditions:
  üïπÔ∏è Games: any of: src/components/games/**
  Are You the One?: any of: src/components/games/are-you-the-one/**
  Blackjack: any of: src/components/games/blackjack/**
  BotC: any of: src/components/games/botc/**
  Bridge: any of: src/components/games/bridge/**
  Connect4: any of: src/components/games/connect4/**
  Deal or No Deal: any of: src/components/games/deal-or-no-deal/**
  Family Feud: any of: src/components/games/family-feud/**
  Imperial Assault: any of: src/components/games/imperial-assault/**
  Murder Mystery: any of: src/components/games/murder-mystery/**
  Poker: any of: src/components/games/poker/**
  Slots: any of: src/components/games/slots/**
  Spades: any of: src/components/games/spades/**
  Tic Tac Toe: any of: src/components/games/tictactoe/**
  Type Checker: any of: src/components/games/type-checker/**
  Werewolf: any of: src/components/games/werewolf/**
  Yahtzee: any of: src/components/games/yahtzee/**
  üìë Resume: any of: src/components/resume/**
  Cars: any of: src/components/resume/cars/**
  Comp Calculator: any of: src/components/resume/comp-calc/**
  Education: any of: src/components/resume/education/**
  F1: any of: src/components/resume/f1/**
  Presentations: any of: src/components/resume/presentations/**
  Resume: any of: src/components/resume/resume/**
  Summary: any of: src/components/resume/summary/**
  Travel: any of: src/components/resume/travel-map/**
  Work: any of: src/components/resume/work/**
