Repository kennethbigler/react-home: changes, and which Codecov flags are due for each by the changed paths.
All: üïπÔ∏è Games, Are You the One?, Blackjack, BotC, Bridge, Connect4, Deal or No Deal, Family Feud, Imperial Assault, Murder Mystery, Poker, Slots, Spades, Tic Tac Toe, Type Checker, Werewolf, Yahtzee, üìë Resume, Cars, Comp Calculator, Education, F1, Presentations, Resume, Summary, Travel, Work

fix: minor bridge bugs
  src/components/games/bridge/header/bid-dialog/BidAdvisor.test.tsx
  src/components/games/bridge/header/bid-dialog/BidAdvisor.tsx
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.test.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.ts
Due: üïπÔ∏è Games, Bridge

fix: bridge updates
  src/components/games/bridge/header/bid-dialog/BidAdvisor.test.tsx
  src/components/games/bridge/header/bid-dialog/BidAdvisor.tsx
  src/components/games/bridge/header/bid-dialog/BidDialog.tsx
  src/components/games/bridge/header/bid-dialog/advisor/AuctionContext.test.tsx
  src/components/games/bridge/header/bid-dialog/advisor/AuctionContext.tsx
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.test.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.ts
  src/components/games/bridge/header/bid-dialog/tests/BidDialog.test.tsx
Due: üïπÔ∏è Games, Bridge

fix: suit colors and 3 pass hides drops
  src/components/games/bridge/header/bid-dialog/advisor/AuctionContext.tsx
  src/components/games/bridge/header/bid-dialog/advisor/BidRecommendation.tsx
  src/components/games/bridge/header/bid-dialog/advisor/HandInput.tsx
  src/components/games/bridge/suitColor.tsx
Due: üïπÔ∏è Games, Bridge

fix: ci/cd lint and tests
  src/components/games/bridge/header/bid-dialog/BidAdvisor.test.tsx
  src/components/games/bridge/header/bid-dialog/advisor/AuctionContext.test.tsx
  src/components/games/bridge/header/bid-dialog/advisor/BidRecommendation.test.tsx
  src/components/games/bridge/header/bid-dialog/advisor/BidRecommendation.tsx
  src/components/games/bridge/suitColor.tsx
Due: üïπÔ∏è Games, Bridge

fix: minor debugging of Bridge
  src/components/games/bridge/header/bid-dialog/BidAdvisor.test.tsx
  src/components/games/bridge/header/bid-dialog/advisor/AuctionContext.test.tsx
  src/components/games/bridge/header/bid-dialog/advisor/AuctionContext.tsx
  src/components/games/bridge/header/bid-dialog/advisor/BidRecommendation.test.tsx
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.test.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.ts
Due: üïπÔ∏è Games, Bridge

fix: npm audit fix
  package-lock.json
Due: none

feat: update bridge quality of life
  src/components/games/bridge/header/bid-dialog/BidAdvisor.tsx
  src/components/games/bridge/header/bid-dialog/advisor/AuctionContext.test.tsx
  src/components/games/bridge/header/bid-dialog/advisor/AuctionContext.tsx
  src/components/games/bridge/header/bid-dialog/advisor/HandInput.test.tsx
  src/components/games/bridge/header/bid-dialog/advisor/HandInput.tsx
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.test.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.ts
  src/components/games/bridge/header/score-dialog/ScoreDialog.test.tsx
  src/components/games/bridge/header/score-dialog/ScoreDialog.tsx
  src/components/games/bridge/header/score-dialog/ScoreForm.test.tsx
  src/components/games/bridge/header/score-dialog/ScoreForm.tsx
  src/jotai/bridge-atom.ts
Due: üïπÔ∏è Games, Bridge

fix: 3 column bid advisor
  src/components/games/bridge/header/bid-dialog/BidAdvisor.test.tsx
  src/components/games/bridge/header/bid-dialog/BidAdvisor.tsx
  src/components/games/bridge/header/bid-dialog/advisor/HandInput.tsx
Due: üïπÔ∏è Games, Bridge

feat: minimize some ui text
  src/components/games/bridge/header/bid-dialog/BidAdvisor.test.tsx
  src/components/games/bridge/header/bid-dialog/BidAdvisor.tsx
  src/components/games/bridge/header/bid-dialog/advisor/AuctionContext.test.tsx
  src/components/games/bridge/header/bid-dialog/advisor/AuctionContext.tsx
Due: üïπÔ∏è Games, Bridge

fix: minor bridge bugs
  src/components/games/bridge/ScoreDisplay.test.tsx
  src/components/games/bridge/ScoreDisplay.tsx
  src/components/games/bridge/header/bid-dialog/BidAdvisor.tsx
  src/components/games/bridge/header/bid-dialog/advisor/AuctionContext.tsx
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.test.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.ts
Due: üïπÔ∏è Games, Bridge

fix: final issues from bidding in HA
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.test.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.ts
Due: üïπÔ∏è Games, Bridge

fix: update job formatting
  src/components/resume/work/Job.tsx
  src/components/resume/work/jobHelpers.tsx
  src/components/resume/work/tests/Job.test.tsx
  src/components/resume/work/tests/Work.test.tsx
  src/components/resume/work/tests/jobHelpers.test.ts
  src/constants/classes.ts
  src/constants/work-summary.ts
  src/constants/work.ts
  src/images/botc-qr-code.png
  src/images/companies/netapp_logo.svg
  src/images/companies/netapp_logo.svg.png
  src/images/companies/scu_logo.svg.png
Due: üìë Resume, Work

test: improve coverage
  src/components/resume/work/tests/Job.test.tsx
  src/components/resume/work/tests/jobHelpers.test.ts
Due: üìë Resume, Work

fix: node 25 testing and long running cars tests
  src/components/resume/cars/tests/Cars.test.tsx
  src/setupTests.ts
Due: üìë Resume, Cars

fix: lint
  src/setupTests.ts
Due: none

fix: try to get back some coverage
  src/components/resume/cars/graphs/CarChart.test.tsx
  src/components/resume/cars/graphs/CarGraphs.test.tsx
  src/components/resume/cars/graphs/CarSankeyGraph.test.tsx
  src/components/resume/cars/tests/highchartsMocks.tsx
  src/components/resume/summary/tests/Summary.test.tsx
Due: üìë Resume, Cars, Summary

fix: reduce image sizes for companies
  src/constants/work-summary.ts
  src/constants/work.ts
  src/images/companies/SHFB_logo.jpg
  src/images/companies/SHFB_logo.webp
  src/images/companies/cisco_logo.gif
  src/images/companies/cisco_logo.webp
  src/images/companies/gignow_logo.png
  src/images/companies/gignow_logo.webp
  src/images/companies/hoverboard_logo.png
  src/images/companies/hoverboard_logo.webp
  src/images/companies/intuit_logo.png
  src/images/companies/intuit_logo.webp
  src/images/companies/netapp_logo.svg.png
  src/images/companies/netapp_logo.webp
  src/images/companies/scu_logo.svg.png
  src/images/companies/scu_logo.webp
  src/images/companies/tesla_logo.png
  src/images/companies/tesla_logo.webp
  src/images/companies/vengefulgames_logo.png
  src/images/companies/vengefulgames_logo.webp
Due: none

fix: reduce 2 largest images
  src/images/companies/SHFB_logo.webp
  src/images/companies/scu_logo.webp
Due: none

fix: tests
  src/components/resume/work/tests/Job.test.tsx
Due: üìë Resume, Work

fix: lhci on PRs
  .github/workflows/main.yml
Due: none

fix: command line warning
  package.json
Due: none

fix: add knip to CI/CD
  .cursor/rules/react-maintenance.mdc
  .cursor/rules/testing.mdc
  .github/workflows/main.yml
  package-lock.json
  package.json
Due: none

fix: test cleanup and add knip
  codecov.yml
  package-lock.json
  package.json
Due: none

fix: coderabbit config
  .coderabbit.yaml
Due: none

fix: coderabbit feedback
  .cursor/rules/testing.mdc
  package-lock.json
Due: none

fix: remove renovate
  .coderabbit.yaml
  .github/dependabot.yml
  renovate.json
Due: none

fix: cleanup configs a little
  .browserslistrc
  .github/dependabot.yml
  .prettierignore
  README.md
Due: none

feat: add a11y skill and update hackathon
  .cursor/rules/a11y-checklist.mdc
  package-lock.json
  src/constants/classes.ts
Due: none

fix: minor rules config updates
  .cursor/rules/a11y-checklist.mdc
  .cursor/rules/project-structure.mdc
  .cursor/rules/testing.mdc
Due: none

fix: wcag refs and quote type issues
  .cursor/rules/a11y-checklist.mdc
  src/constants/classes.ts
Due: none

fix: mobile tap issue for comp calc
  src/components/resume/comp-calc/graphs/CompGraph.tsx
  src/components/resume/comp-calc/graphs/Graphs.tsx
Due: üìë Resume, Comp Calculator

Path conditions:
  üïπÔ∏è Games: any of: src/components/games/**
  Are You the One?: any of: src/components/games/are-you-the-one/**
  Blackjack: any of: src/components/games/blackjack/**
  BotC: any of: src/components/games/botc/**
  Bridge: any of: src/components/games/bridge/**
  Connect4: any of: src/components/games/connect4/**
  Deal or No Deal: any of: src/components/games/deal-or-no-deal/**
  Family Feud: any of: src/components/games/family-feud/**
  Imperial Assault: any of: src/components/games/imperial-assault/**
  Murder Mystery: any of: src/components/games/murder-mystery/**
  Poker: any of: src/components/games/poker/**
  Slots: any of: src/components/games/slots/**
  Spades: any of: src/components/games/spades/**
  Tic Tac Toe: any of: src/components/games/tictactoe/**
  Type Checker: any of: src/components/games/type-checker/**
  Werewolf: any of: src/components/games/werewolf/**
  Yahtzee: any of: src/components/games/yahtzee/**
  üìë Resume: any of: src/components/resume/**
  Cars: any of: src/components/resume/cars/**
  Comp Calculator: any of: src/components/resume/comp-calc/**
  Education: any of: src/components/resume/education/**
  F1: any of: src/components/resume/f1/**
  Presentations: any of: src/components/resume/presentations/**
  Resume: any of: src/components/resume/resume/**
  Summary: any of: src/components/resume/summary/**
  Travel: any of: src/components/resume/travel-map/**
  Work: any of: src/components/resume/work/**
