Repository kennethbigler/react-home: changes, and which Codecov flags are due for each by the changed paths.
All: üïπÔ∏è Games, Are You the One?, Blackjack, BotC, Bridge, Connect4, Deal or No Deal, Family Feud, Imperial Assault, Murder Mystery, Poker, Slots, Spades, Tic Tac Toe, Type Checker, Werewolf, Yahtzee, üìë Resume, Cars, Comp Calculator, Education, F1, Presentations, Resume, Summary, Travel, Work

fix: ci/cd
  lighthouserc.json
Due: none

fix: improve best practices
  src/components/Routes.tsx
  src/components/common/expandable-card/ExpandableCard.test.tsx
  src/components/common/expandable-card/ExpandableCard.tsx
  src/components/common/header/ButtonPopover.tsx
  src/components/common/header/tests/ButtonPopover.test.tsx
  src/components/games/HomeMenuItem.tsx
  src/components/games/Menu.tsx
  src/components/games/Routes.tsx
  src/components/games/menu-items.ts
  src/components/games/poker/Poker.tsx
  src/components/games/tests/Home.test.tsx
  src/components/games/tests/Menu.test.tsx
  src/components/resume/Menu.test.tsx
  src/components/resume/Menu.tsx
  src/components/resume/Routes.tsx
  src/components/resume/cars/CarCard.tsx
  src/components/resume/f1/Track.tsx
  src/components/resume/menu-items.ts
  src/components/resume/resume/Resume.tsx
  src/components/resume/summary/Education.tsx
  src/components/resume/summary/Info.tsx
  src/components/resume/summary/Summary.tsx
  src/components/resume/work/Job.tsx
  src/components/routeTitleUtils.test.ts
  src/components/routeTitleUtils.ts
  src/constants/summary.ts
  src/index.css
  src/jotai/deck-state.ts
Due: üïπÔ∏è Games, Poker, üìë Resume, Cars, F1, Resume, Summary, Work

fix: reduce duplication in repo
  eslint.config.js
  src/components/common/highcharts/coreHighcharts.ts
  src/components/common/highcharts/sankeyHighcharts.ts
  src/components/games/blackjack/Blackjack.tsx
  src/components/games/botc/BotC.test.tsx
  src/components/games/botc/LiePie.tsx
  src/components/games/game-table/GameTable.tsx
  src/components/games/game-table/button-group/Button.tsx
  src/components/games/game-table/button-group/ButtonGroup.tsx
  src/components/games/poker/Poker.tsx
  src/components/games/spades/control-bar/spadesHighcharts.ts
  src/components/resume/cars/graphs/carsHighcharts.ts
  src/components/resume/comp-calc/graphs/compCalcHighcharts.ts
  src/components/resume/f1/charts/f1Highcharts.ts
  src/components/resume/summary/Education.tsx
  src/components/resume/travel-map/map/WorldMap.tsx
  src/components/resume/travel-map/tests/TravelMap.test.tsx
  src/components/resume/travel-map/travelMapHighcharts.ts
  src/constants/classes.ts
  src/constants/education-summary.ts
  src/constants/summary.ts
  src/constants/work-summary.ts
  src/constants/work.ts
  src/test-utils/renderWithHydratedAtoms.ts
Due: üïπÔ∏è Games, Blackjack, BotC, Poker, Spades, üìë Resume, Cars, Comp Calculator, F1, Summary, Travel

fix: more ai enhancements
  .cursor/rules/react-maintenance.mdc
  src/components/common/highcharts/mapsHighcharts.ts
  src/components/common/info-popover/InfoPopup.test.tsx
  src/components/common/info-popover/InfoPopup.tsx
  src/components/games/family-feud/FamilyFeud.test.tsx
  src/components/games/family-feud/FamilyFeud.tsx
  src/components/games/game-table/GameTable.test.tsx
  src/components/games/game-table/GameTable.tsx
  src/components/games/game-table/board/Hand.tsx
  src/components/games/game-table/board/card/Card.tsx
  src/components/games/game-table/board/player/Player.tsx
  src/components/games/spades/control-bar/StatsBagsChart.tsx
  src/components/games/spades/control-bar/StatsNilsChart.tsx
  src/components/games/spades/control-bar/spadesHighcharts.ts
  src/components/resume/cars/graphs/CarChart.tsx
  src/components/resume/cars/graphs/CarSankeyGraph.tsx
  src/components/resume/cars/graphs/CarSpeedoGraph.tsx
  src/components/resume/cars/graphs/carsHighcharts.ts
  src/components/resume/comp-calc/graphs/BreakdownGraph.tsx
  src/components/resume/comp-calc/graphs/CompGraph.tsx
  src/components/resume/comp-calc/graphs/compCalcHighcharts.ts
  src/components/resume/f1/charts/BudgetSankey.tsx
  src/components/resume/f1/charts/ConstructorCurrentSpline.tsx
  src/components/resume/f1/charts/ConstructorPointsLine.tsx
  src/components/resume/f1/charts/ConstructorStandingsLine.tsx
  src/components/resume/f1/charts/DriverCurrentSpline.tsx
  src/components/resume/f1/charts/DriverPointsLine.tsx
  src/components/resume/f1/charts/DriverStandingsLine.tsx
  src/components/resume/f1/charts/f1Highcharts.ts
  src/components/resume/summary/Education.tsx
  src/components/resume/summary/EducationSeg.tsx
  src/components/resume/summary/Info.tsx
  src/components/resume/summary/Summary.tsx
  src/components/resume/travel-map/TravelDaysGraph.tsx
  src/components/resume/travel-map/cruises/CruiseSankeyGraph.tsx
  src/components/resume/travel-map/cruises/LoyaltyCharts.tsx
  src/components/resume/travel-map/map/WorldMap.tsx
  src/components/resume/travel-map/travelMapHighcharts.ts
  src/constants/education-summary.ts
  src/constants/summary.ts
Due: üïπÔ∏è Games, Family Feud, Spades, üìë Resume, Cars, Comp Calculator, F1, Summary, Travel

fix: minor bugs
  src/components/Routes.test.tsx
  src/components/Routes.tsx
  src/components/resume/cars/graphs/CarGraphs.tsx
Due: üìë Resume, Cars

fix: markdownlint
  .cursor/rules/project-structure.mdc
  .cursor/rules/react-maintenance.mdc
  .cursor/rules/self-improvement.mdc
  .cursor/rules/testing.mdc
Due: none

fix: improv comp-calc graph
  src/components/resume/comp-calc/graphs/CompGraph.tsx
  src/components/resume/comp-calc/graphs/Graphs.test.tsx
  src/components/resume/comp-calc/graphs/Graphs.tsx
  src/components/resume/comp-calc/graphs/compGraphHelpers.ts
Due: üìë Resume, Comp Calculator

fix: move some deps to npx and add cov
  .github/workflows/main.yml
  knip.json
  package-lock.json
  package.json
  scripts/analyze.sh
  src/components/resume/Routes.test.tsx
  src/components/resume/cars/graphs/CarSpeedoGraph.test.tsx
  src/components/resume/cars/tests/CarCard.test.tsx
  src/components/resume/comp-calc/graphs/Graphs.test.tsx
Due: üìë Resume, Cars, Comp Calculator

fix: build
  package-lock.json
  package.json
  src/components/games/botc/LiePie.test.tsx
  tsconfig.json
  vite.config.ts
Due: üïπÔ∏è Games, BotC

fix: add test timeout
  src/components/resume/Routes.test.tsx
Due: üìë Resume

fix: update resume
  src/images/kenneth_bigler_resume.png
Due: none

feat: update f1 stats
  src/constants/f1.ts
Due: none

fix: update team standings
  src/constants/f1.ts
Due: none

feat: upgrade highcharts
  package-lock.json
  package.json
  src/components/resume/cars/graphs/CarSankeyGraph.tsx
  src/components/resume/f1/charts/BudgetSankey.tsx
  src/components/resume/travel-map/cruises/CruiseSankeyGraph.tsx
Due: üìë Resume, Cars, F1, Travel

fix: vite configs
  vite.config.ts
Due: none

fix: minor bridge bidding bugs
  src/components/games/bridge/header/bid-dialog/BidAdvisor.tsx
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.test.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.ts
Due: üïπÔ∏è Games, Bridge

fix: round 2 hover audits and other bugs fixed
  src/components/games/bridge/header/bid-dialog/advisor/AuctionContext.tsx
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.test.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.ts
Due: üïπÔ∏è Games, Bridge

fix: test coverage
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.test.ts
  src/components/games/slots/Slots.test.tsx
  src/components/games/werewolf/Werewolf.test.tsx
  src/components/games/yahtzee/tests/TopScores.test.tsx
  src/components/resume/f1/F1.test.tsx
Due: üïπÔ∏è Games, Bridge, Slots, Werewolf, Yahtzee, üìë Resume, F1

feat: update f1 after barc race
  src/constants/f1.ts
Due: none

feat: update tests and add next track highlighting
  src/components/games/bridge/header/bid-dialog/BidAdvisor.test.tsx
  src/components/games/bridge/header/bid-dialog/advisor/AuctionContext.test.tsx
  src/components/games/bridge/header/score-dialog/ScoreDialog.test.tsx
  src/components/games/bridge/header/score-dialog/score-helper.test.ts
  src/components/games/game-table/board/Hand.test.tsx
  src/components/games/game-table/board/card/Card.test.tsx
  src/components/games/game-table/board/player/Player.test.tsx
  src/components/games/yahtzee/tests/Yahtzee.test.tsx
  src/components/resume/f1/Track.test.tsx
  src/components/resume/f1/Track.tsx
  src/components/resume/f1/Tracks.test.tsx
  src/components/resume/f1/Tracks.tsx
  src/jotai/deck-state.test.ts
  src/jotai/yahtzee-state.test.ts
Due: üïπÔ∏è Games, Bridge, Yahtzee, üìë Resume, F1

fix: increase coverage
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.test.ts
  src/components/games/bridge/header/score-dialog/score-helper.test.ts
  src/components/games/game-table/board/Hand.test.tsx
  src/components/games/game-table/board/card/Card.test.tsx
  src/components/games/game-table/board/player/Player.tsx
  src/components/games/yahtzee/tests/Yahtzee.test.tsx
  src/jotai/deck-state.test.ts
  src/jotai/yahtzee-state.test.ts
Due: üïπÔ∏è Games, Bridge, Yahtzee

fix: bridge bugs from Sunday
  src/components/games/bridge/header/bid-dialog/advisor/AuctionContext.test.tsx
  src/components/games/bridge/header/bid-dialog/advisor/AuctionContext.tsx
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.test.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.ts
Due: üïπÔ∏è Games, Bridge

fix: flakey test
  src/components/resume/Routes.test.tsx
Due: üìë Resume

Path conditions:
  üïπÔ∏è Games: any of: src/components/games/**
  Are You the One?: any of: src/components/games/are-you-the-one/**
  Blackjack: any of: src/components/games/blackjack/**
  BotC: any of: src/components/games/botc/**
  Bridge: any of: src/components/games/bridge/**
  Connect4: any of: src/components/games/connect4/**
  Deal or No Deal: any of: src/components/games/deal-or-no-deal/**
  Family Feud: any of: src/components/games/family-feud/**
  Imperial Assault: any of: src/components/games/imperial-assault/**
  Murder Mystery: any of: src/components/games/murder-mystery/**
  Poker: any of: src/components/games/poker/**
  Slots: any of: src/components/games/slots/**
  Spades: any of: src/components/games/spades/**
  Tic Tac Toe: any of: src/components/games/tictactoe/**
  Type Checker: any of: src/components/games/type-checker/**
  Werewolf: any of: src/components/games/werewolf/**
  Yahtzee: any of: src/components/games/yahtzee/**
  üìë Resume: any of: src/components/resume/**
  Cars: any of: src/components/resume/cars/**
  Comp Calculator: any of: src/components/resume/comp-calc/**
  Education: any of: src/components/resume/education/**
  F1: any of: src/components/resume/f1/**
  Presentations: any of: src/components/resume/presentations/**
  Resume: any of: src/components/resume/resume/**
  Summary: any of: src/components/resume/summary/**
  Travel: any of: src/components/resume/travel-map/**
  Work: any of: src/components/resume/work/**
