Repository kennethbigler/react-home: changes, and which Codecov flags are due for each by the changed paths.
All: üïπÔ∏è Games, Are You the One?, Blackjack, BotC, Bridge, Connect4, Deal or No Deal, Family Feud, Imperial Assault, Murder Mystery, Poker, Slots, Spades, Tic Tac Toe, Type Checker, Werewolf, Yahtzee, üìë Resume, Cars, Comp Calculator, Education, F1, Presentations, Resume, Summary, Travel, Work

feat: add graph for travel days
  src/components/resume/travel-map/TravelDaysGraph.tsx
  src/components/resume/travel-map/TravelMap.tsx
  src/constants/travel.ts
Due: üìë Resume, Travel

fix: code style
  src/constants/travel.ts
Due: none

feat: update botc settings ui (fix overflow)
  src/components/games/botc/BotC.test.tsx
  src/components/games/botc/header/edit-players/EditPlayers.tsx
Due: üïπÔ∏è Games, BotC

feat: update f1 charts
  src/components/resume/f1/charts/ConstructorPointsLine.tsx
  src/components/resume/f1/charts/DriverPointsLine.tsx
  src/components/resume/f1/charts/DriverStandingsLine.tsx
  src/constants/f1.ts
Due: üìë Resume, F1

feat: update conference talks
  src/constants/classes.ts
Due: none

fix: npm audit
  package-lock.json
Due: none

fix: suppress errors because AI told me to
  lighthouserc.json
Due: none

fix: update gts and eslint configs
  eslint.config.js
  package-lock.json
  package.json
  src/components/resume/f1/charts/helpers.ts
Due: üìë Resume, F1

fix: add description to cursor rule
  .cursor/rules/accessibility.mdc
Due: none

feat: migrate some rules to skills
  .cursor/skills/accessibility/SKILL.md
  .cursor/skills/cursor-rules/SKILL.md
Due: none

fix: remove unneeded skill
  .cursor/skills/cursor-rules/SKILL.md
Due: none

feat: update f1 2026 tracks
  src/components/resume/f1/Tracks.tsx
  src/images/tracks/Abu_Dhabi_Circuit.avif
  src/images/tracks/Australia_Circuit.avif
  src/images/tracks/Austria_Circuit.avif
  src/images/tracks/Bahrain_Circuit.avif
  src/images/tracks/Baku_Circuit.avif
  src/images/tracks/Barcelona_Circuit.avif
  src/images/tracks/Belgium_Circuit.avif
  src/images/tracks/Brazil_Circuit.avif
  src/images/tracks/Canada_Circuit.avif
  src/images/tracks/China_Circuit.avif
  src/images/tracks/Great_Britain_Circuit.avif
  src/images/tracks/Hungary_Circuit.avif
  src/images/tracks/Italy_Circuit.avif
  src/images/tracks/Japan_Circuit.avif
  src/images/tracks/Las_Vegas_Circuit.avif
  src/images/tracks/Mexico_Circuit.avif
  src/images/tracks/Miami_Circuit.avif
  src/images/tracks/Monaco_Circuit.avif
  src/images/tracks/Netherlands_Circuit.avif
  src/images/tracks/Qatar_Circuit.avif
  src/images/tracks/Saudi_Arabia_Circuit.avif
  src/images/tracks/Singapore_Circuit.avif
  src/images/tracks/Spain_Circuit.avif
  src/images/tracks/USA_Circuit.avif
Due: üìë Resume, F1

feat: update travel days
  src/components/resume/travel-map/TravelDaysGraph.tsx
  src/constants/travel.ts
Due: üìë Resume, Travel

feat: upgrade eslint version
  eslint.config.js
  package-lock.json
  package.json
  src/constants/travel.ts
Due: none

fix: lint upgrade
  .npmrc
  package-lock.json
Due: none

fix: build issues
  package-lock.json
  package.json
Due: none

fix: package upgrades
  .npmrc
  package-lock.json
  package.json
  src/components/resume/cars/tests/Cars.test.tsx
  src/components/resume/f1/F1.test.tsx
Due: üìë Resume, Cars, F1

feat: update f1 colors and graphs
  package-lock.json
  src/components/resume/f1/charts/ConstructorPointsLine.tsx
  src/components/resume/f1/charts/DriverPointsLine.tsx
  src/components/resume/f1/charts/DriverStandingsLine.tsx
  src/constants/f1.ts
Due: üìë Resume, F1

fix: migrate to new highcharts
  package-lock.json
  package.json
  renovate.json
  src/components/common/info-popover/InfoPopup.test.tsx
  src/components/common/info-popover/InfoPopup.tsx
  src/components/games/botc/LiePie.tsx
  src/components/games/bridge/header/score-dialog/ScoreDialog.tsx
  src/components/games/imperial-assault/header/CampaignChangeDialog.tsx
  src/components/games/spades/control-bar/StatsBagsChart.tsx
  src/components/games/spades/control-bar/StatsNilsChart.tsx
  src/components/resume/cars/graphs/CarChart.tsx
  src/components/resume/cars/graphs/CarSankeyGraph.tsx
  src/components/resume/cars/graphs/CarSpeedoGraph.tsx
  src/components/resume/cars/tests/Cars.test.tsx
  src/components/resume/comp-calc/graphs/BreakdownGraph.tsx
  src/components/resume/comp-calc/graphs/CompGraph.tsx
  src/components/resume/f1/F1.test.tsx
  src/components/resume/f1/charts/BudgetSankey.tsx
  src/components/resume/f1/charts/ConstructorPointsLine.tsx
  src/components/resume/f1/charts/ConstructorStandingsLine.tsx
  src/components/resume/f1/charts/DriverPointsLine.tsx
  src/components/resume/f1/charts/DriverStandingsLine.tsx
  src/components/resume/f1/charts/helpers.test.ts
  src/components/resume/f1/charts/helpers.ts
  src/components/resume/travel-map/TravelDaysGraph.tsx
  src/components/resume/travel-map/cruises/CruiseCharts.tsx
  src/components/resume/travel-map/cruises/LoyaltyCharts.tsx
  src/components/resume/travel-map/map/WorldMap.tsx
  src/constants/f1.ts
  vite.config.ts
Due: üïπÔ∏è Games, BotC, Bridge, Imperial Assault, Spades, üìë Resume, Cars, Comp Calculator, F1, Travel

fix: highchart imports
  src/components/resume/comp-calc/graphs/CompGraph.tsx
  src/components/resume/comp-calc/graphs/Graphs.tsx
  src/constants/cruises.ts
Due: üìë Resume, Comp Calculator

fix: add test timeouts
  src/components/resume/cars/tests/Cars.test.tsx
  src/components/resume/f1/F1.test.tsx
Due: üìë Resume, Cars, F1

fix: add longer timeout
  src/components/resume/cars/tests/Cars.test.tsx
Due: üìë Resume, Cars

fix: npm audit fix
  package-lock.json
Due: none

fix: remove localforage
  README.md
  package-lock.json
  package.json
  src/apis/asyncForEach.ts
  src/apis/tests/asyncForEach.test.ts
  src/components/games/blackjack/Blackjack.test.tsx
  src/components/games/blackjack/api/useDeck.test.ts
  src/components/games/blackjack/api/useDeck.ts
  src/components/games/blackjack/useBlackjackAI.test.tsx
  src/components/games/blackjack/useBlackjackAI.ts
  src/components/games/blackjack/useBlackjackDeck.ts
  src/jotai/deck-state.test.ts
  src/jotai/deck-state.ts
Due: üïπÔ∏è Games, Blackjack

feat: add loading name
  src/components/common/loading-spinner/LoadingSpinner.test.tsx
  src/components/common/loading-spinner/LoadingSpinner.tsx
Due: none

fix: standardize err catching
  src/apis/catchErr.ts
  src/components/Routes.tsx
  src/components/games/blackjack/Blackjack.tsx
  src/components/games/blackjack/useBlackjackAI.ts
Due: üïπÔ∏è Games, Blackjack

fix: increase test timeouts
  src/components/resume/cars/tests/Cars.test.tsx
  src/components/resume/f1/F1.test.tsx
Due: üìë Resume, Cars, F1

fix: increase all car timeouts
  src/components/resume/cars/tests/Cars.test.tsx
Due: üìë Resume, Cars

fix: source-map-expolorer optimization
  vite.config.ts
Due: none

fix: expandable card focus styling
  src/components/common/expandable-card/ExpandableCard.tsx
Due: none

fix: attempt to fix lhci failure
  index.html
Due: none

feat: move sync js load to after body
  index.html
Due: none

fix: attempt to remove some previous lhci supressions
  lighthouserc.json
Due: none

fix: inspector-issues
  README.md
  index.html
  package.json
  scripts/copy-ken-webp.cjs
Due: none

Path conditions:
  üïπÔ∏è Games: any of: src/components/games/**
  Are You the One?: any of: src/components/games/are-you-the-one/**
  Blackjack: any of: src/components/games/blackjack/**
  BotC: any of: src/components/games/botc/**
  Bridge: any of: src/components/games/bridge/**
  Connect4: any of: src/components/games/connect4/**
  Deal or No Deal: any of: src/components/games/deal-or-no-deal/**
  Family Feud: any of: src/components/games/family-feud/**
  Imperial Assault: any of: src/components/games/imperial-assault/**
  Murder Mystery: any of: src/components/games/murder-mystery/**
  Poker: any of: src/components/games/poker/**
  Slots: any of: src/components/games/slots/**
  Spades: any of: src/components/games/spades/**
  Tic Tac Toe: any of: src/components/games/tictactoe/**
  Type Checker: any of: src/components/games/type-checker/**
  Werewolf: any of: src/components/games/werewolf/**
  Yahtzee: any of: src/components/games/yahtzee/**
  üìë Resume: any of: src/components/resume/**
  Cars: any of: src/components/resume/cars/**
  Comp Calculator: any of: src/components/resume/comp-calc/**
  Education: any of: src/components/resume/education/**
  F1: any of: src/components/resume/f1/**
  Presentations: any of: src/components/resume/presentations/**
  Resume: any of: src/components/resume/resume/**
  Summary: any of: src/components/resume/summary/**
  Travel: any of: src/components/resume/travel-map/**
  Work: any of: src/components/resume/work/**
