Repository kennethbigler/react-home: changes, and which Codecov flags are due for each by the changed paths.
All: üïπÔ∏è Games, Are You the One?, Blackjack, BotC, Bridge, Connect4, Deal or No Deal, Family Feud, Imperial Assault, Murder Mystery, Poker, Slots, Spades, Tic Tac Toe, Type Checker, Werewolf, Yahtzee, üìë Resume, Cars, Comp Calculator, Education, F1, Presentations, Resume, Summary, Travel, Work

codecov.yml:

# ... previous config options...

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment
  
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_games  # ‚ö†Ô∏è ID, do not change
      name: üïπÔ∏è Games  # display name, change freely
      paths:
        - src/components/games/**
    - component_id: module_games_are_you_the_one
      name: Are You the One?
      paths:
        - src/components/games/are-you-the-one/**
    - component_id: module_games_blackjack
      name: Blackjack
      paths:
        - src/components/games/blackjack/**
    - component_id: module_games_botc
      name: BotC
      paths:
        - src/components/games/botc/**
    - component_id: module_games_bridge
      name: Bridge
      paths:
        - src/components/games/bridge/**
    - component_id: module_games_connect4
      name: Connect4
      paths:
        - src/components/games/connect4/**
    - component_id: module_games_deal
      name: Deal or No Deal
      paths:
        - src/components/games/deal-or-no-deal/**
    - component_id: module_games_family_feud
      name: Family Feud
      paths:
        - src/components/games/family-feud/**
    - component_id: module_games_imperial_assault
      name: Imperial Assault
      paths:
        - src/components/games/imperial-assault/**
    - component_id: module_games_murder_mystery
      name: Murder Mystery
      paths:
        - src/components/games/murder-mystery/**
    - component_id: module_games_poker
      name: Poker
      paths:
        - src/components/games/poker/**
    - component_id: module_games_slots
      name: Slots
      paths:
        - src/components/games/slots/**
    - component_id: module_games_spades
      name: Spades
      paths:
        - src/components/games/spades/**
    - component_id: module_games_tictactoe
      name: Tic Tac Toe
      paths:
        - src/components/games/tictactoe/**
    - component_id: module_games_type_checker
      name: Type Checker
      paths:
        - src/components/games/type-checker/**
    - component_id: module_games_werewolf
      name: Werewolf
      paths:
        - src/components/games/werewolf/**
    - component_id: module_games_yahtzee
      name: Yahtzee
      paths:
        - src/components/games/yahtzee/**
    - component_id: module_resume  # ‚ö†Ô∏è ID, do not change
      name: üìë Resume  # display name, change freely
      paths:
        - src/components/resume/**
    - component_id: module_resume_cars
      name: Cars
      paths:
        - src/components/resume/cars/**
    - component_id: module_resume_comp_calc
      name: Comp Calculator
      paths:
        - src/components/resume/comp-calc/**
    - component_id: module_resume_education
      name: Education
      paths:
        - src/components/resume/education/**
    - component_id: module_resume_f1
      name: F1
      paths:
        - src/components/resume/f1/**
    - component_id: module_resume_presentations
      name: Presentations
      paths:
        - src/components/resume/presentations/**
    - component_id: module_resume_resume
      name: Resume
      paths:
        - src/components/resume/resume/**
    - component_id: module_resume_summary
      name: Summary
      paths:
        - src/components/resume/summary/**
    - component_id: module_resume_travel
      name: Travel
      paths:
        - src/components/resume/travel-map/**
    - component_id: module_resume_work
      name: Work
      paths:
        - src/components/resume/work/**

feat: add cruise charts to travel page
  package-lock.json
  src/components/resume/travel-map/TravelMap.tsx
  src/components/resume/travel-map/cruises/CruiseAwardCharts.test.tsx
  src/components/resume/travel-map/cruises/CruiseAwardCharts.tsx
  src/components/resume/travel-map/tests/TravelMap.test.tsx
  src/constants/cruise-awards.ts
  src/constants/tests/cruise-awards.test.ts
Due: üìë Resume, Travel

fix: coderabbit feedback
  src/components/resume/travel-map/cruises/CruiseAwardCharts.test.tsx
  src/components/resume/travel-map/cruises/CruiseAwardCharts.tsx
Due: üìë Resume, Travel

fix: light cleanup
  package-lock.json
  src/constants/travel.ts
Due: none

fix: add hover to non-visited countries
  src/components/resume/travel-map/map/WorldMap.test.tsx
  src/components/resume/travel-map/map/WorldMap.tsx
Due: üìë Resume, Travel

feat: update cars info
  src/components/common/highcharts/tests/highchartsMocks.tsx
  src/components/resume/cars/graphs/CarSpeedoGraph.test.tsx
  src/components/resume/cars/graphs/CarSpeedoGraph.tsx
  src/constants/cars.ts
Due: üìë Resume, Cars

feat: bump react-router
  .cursor/rules/project-structure.mdc
  eslint.config.js
  package-lock.json
  package.json
Due: none

feat: update jotai
  .cursor/rules/project-structure.mdc
  eslint.config.js
  package-lock.json
  package.json
Due: none

fix: vite config updates
  eslint.config.js
  package-lock.json
  package.json
  vite.config.ts
Due: none

feat: update a11y scanner and f1 scores
  .github/workflows/main.yml
  package-lock.json
  src/constants/f1.ts
Due: none

fix: open heading issues
  src/components/games/imperial-assault/Empire.tsx
  src/components/games/imperial-assault/Rebels.tsx
  src/components/games/imperial-assault/missions/ForcedMissions.tsx
  src/components/games/imperial-assault/missions/Missions.tsx
  src/components/games/yahtzee/Header.tsx
  src/components/games/yahtzee/Yahtzee.tsx
  src/components/resume/travel-map/cruises/CruiseTable.tsx
  src/components/resume/travel-map/map/CountryTable.tsx
Due: üïπÔ∏è Games, Imperial Assault, Yahtzee, üìë Resume, Travel

fix: sankey overlap and impala dates
  src/components/resume/cars/graphs/CarSankeyGraph.test.tsx
  src/components/resume/cars/graphs/CarSankeyGraph.tsx
  src/constants/cars.ts
Due: üìë Resume, Cars

fix: failing tests
  src/constants/tests/cars-sankey.test.ts
Due: none
