Repository kennethbigler/react-home: changes, and which Codecov flags are due for each by the changed paths.
All: üïπÔ∏è Games, Are You the One?, Blackjack, BotC, Bridge, Connect4, Deal or No Deal, Family Feud, Imperial Assault, Murder Mystery, Poker, Slots, Spades, Tic Tac Toe, Type Checker, Werewolf, Yahtzee, üìë Resume, Cars, Comp Calculator, Education, F1, Presentations, Resume, Summary, Travel, Work

codecov.yml:

# ... previous config options...

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment
  
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_games  # ‚ö†Ô∏è ID, do not change
      name: üïπÔ∏è Games  # display name, change freely
      paths:
        - src/components/games/**
    - component_id: module_games_are_you_the_one
      name: Are You the One?
      paths:
        - src/components/games/are-you-the-one/**
    - component_id: module_games_blackjack
      name: Blackjack
      paths:
        - src/components/games/blackjack/**
    - component_id: module_games_botc
      name: BotC
      paths:
        - src/components/games/botc/**
    - component_id: module_games_bridge
      name: Bridge
      paths:
        - src/components/games/bridge/**
    - component_id: module_games_connect4
      name: Connect4
      paths:
        - src/components/games/connect4/**
    - component_id: module_games_deal
      name: Deal or No Deal
      paths:
        - src/components/games/deal-or-no-deal/**
    - component_id: module_games_family_feud
      name: Family Feud
      paths:
        - src/components/games/family-feud/**
    - component_id: module_games_imperial_assault
      name: Imperial Assault
      paths:
        - src/components/games/imperial-assault/**
    - component_id: module_games_murder_mystery
      name: Murder Mystery
      paths:
        - src/components/games/murder-mystery/**
    - component_id: module_games_poker
      name: Poker
      paths:
        - src/components/games/poker/**
    - component_id: module_games_slots
      name: Slots
      paths:
        - src/components/games/slots/**
    - component_id: module_games_spades
      name: Spades
      paths:
        - src/components/games/spades/**
    - component_id: module_games_tictactoe
      name: Tic Tac Toe
      paths:
        - src/components/games/tictactoe/**
    - component_id: module_games_type_checker
      name: Type Checker
      paths:
        - src/components/games/type-checker/**
    - component_id: module_games_werewolf
      name: Werewolf
      paths:
        - src/components/games/werewolf/**
    - component_id: module_games_yahtzee
      name: Yahtzee
      paths:
        - src/components/games/yahtzee/**
    - component_id: module_resume  # ‚ö†Ô∏è ID, do not change
      name: üìë Resume  # display name, change freely
      paths:
        - src/components/resume/**
    - component_id: module_resume_cars
      name: Cars
      paths:
        - src/components/resume/cars/**
    - component_id: module_resume_comp_calc
      name: Comp Calculator
      paths:
        - src/components/resume/comp-calc/**
    - component_id: module_resume_education
      name: Education
      paths:
        - src/components/resume/education/**
    - component_id: module_resume_f1
      name: F1
      paths:
        - src/components/resume/f1/**
    - component_id: module_resume_presentations
      name: Presentations
      paths:
        - src/components/resume/presentations/**
    - component_id: module_resume_resume
      name: Resume
      paths:
        - src/components/resume/resume/**
    - component_id: module_resume_summary
      name: Summary
      paths:
        - src/components/resume/summary/**
    - component_id: module_resume_travel
      name: Travel
      paths:
        - src/components/resume/travel-map/**
    - component_id: module_resume_work
      name: Work
      paths:
        - src/components/resume/work/**

fix: inspector-issues
  index.html
  public/ken.webp
  vite.config.ts
Due: none

fix: errors-in-console
  lighthouserc.json
  package.json
  scripts/copy-ken-webp.cjs
  vite.config.ts
Due: none

fix: improve lighthouse scores
  index.html
  lighthouserc.json
  src/components/resume/cars/CarCard.tsx
  src/components/resume/resume/Resume.tsx
  src/components/resume/summary/Info.tsx
  src/components/resume/work/Job.tsx
Due: üìë Resume, Cars, Resume, Summary, Work

fix: remove unneeded warns
  lighthouserc.json
Due: none

fix: contentful paints
  vite.config.ts
Due: none

fix: attempt to reduce unused JS on load
  vite.config.ts
Due: none

fix: undo last unused JS attempt
  vite.config.ts
Due: none

fix: network-dependency-tree-insight
  index.html
Due: none

fix: npm audit
  package-lock.json
Due: none

fix: add missing talk
  src/constants/classes.ts
Due: none

feat: remove 2026 hide-rs
  src/components/resume/f1/charts/ConstructorPointsLine.tsx
  src/components/resume/f1/charts/DriverPointsLine.tsx
  src/components/resume/f1/charts/DriverStandingsLine.tsx
Due: üìë Resume, F1

feat: consolidate helper funcs
  src/components/resume/f1/charts/ConstructorCurrentLine.tsx
  src/components/resume/f1/charts/ConstructorPointsLine.tsx
  src/components/resume/f1/charts/DriverCurrentLine.tsx
  src/components/resume/f1/charts/DriverPointsLine.tsx
  src/components/resume/f1/charts/helpers.ts
  src/components/resume/f1/charts/tests/ConstructorPointsLine.test.tsx
  src/components/resume/f1/charts/tests/DriverPointsLine.test.tsx
Due: üìë Resume, F1

fix: add dummy data for this year and charts
  src/components/resume/f1/F1.tsx
  src/components/resume/f1/charts/ConstructorCurrentLine.tsx
  src/components/resume/f1/charts/DriverCurrentLine.tsx
  src/components/resume/f1/charts/tests/ConstructorPointsLine.test.tsx
  src/components/resume/f1/charts/tests/DriverPointsLine.test.tsx
  src/components/resume/f1/charts/tests/helpers.test.ts
  src/constants/f1.ts
Due: üìë Resume, F1

feat: prep for this years data
  src/constants/f1.ts
Due: none

feat: prep chart data
  src/constants/f1.ts
Due: none

test: increase cov
  src/components/resume/f1/charts/tests/ConstructorCurrentLine.test.tsx
  src/components/resume/f1/charts/tests/DriverCurrentLine.test.tsx
  src/components/resume/f1/charts/tests/helpers.test.ts
Due: üìë Resume, F1

fix: update constants
  src/constants/f1.ts
Due: none

fix: headings
  src/components/resume/f1/charts/ConstructorCurrentLine.tsx
  src/components/resume/f1/charts/DriverCurrentLine.tsx
  src/components/resume/f1/charts/tests/ConstructorCurrentLine.test.tsx
  src/components/resume/f1/charts/tests/DriverCurrentLine.test.tsx
  src/constants/f1.ts
Due: üìë Resume, F1

feat: swap line to spline graphs in f1
  src/components/resume/f1/F1.tsx
  src/components/resume/f1/charts/ConstructorCurrentSpline.tsx
  src/components/resume/f1/charts/DriverCurrentSpline.tsx
  src/components/resume/f1/charts/tests/ConstructorCurrentLine.test.tsx
  src/components/resume/f1/charts/tests/DriverCurrentLine.test.tsx
Due: üìë Resume, F1

fix: change back to round markers
  src/components/resume/f1/charts/ConstructorCurrentSpline.tsx
  src/components/resume/f1/charts/DriverCurrentSpline.tsx
Due: üìë Resume, F1

fix: slight index cleanup
  index.html
Due: none

fix: update test naming
  src/components/resume/f1/charts/tests/ConstructorCurrentSpline.test.tsx
  src/components/resume/f1/charts/tests/DriverCurrentSpline.test.tsx
Due: üìë Resume, F1

feat: update f1 race weekend nums
  src/constants/f1.ts
Due: none

fix: a11y updates
  .cursor/skills/accessibility/SKILL.md
  package-lock.json
  src/components/Routes.tsx
  src/components/common/header/Header.tsx
  src/components/common/loading-spinner/LoadingSpinner.tsx
  src/components/resume/Menu.tsx
Due: üìë Resume

fix: route naming
  src/components/Routes.tsx
  src/components/common/header/Header.tsx
Due: none

fix: title mods
  src/components/Routes.tsx
Due: none

test: new funcs
  src/App.test.tsx
  src/components/Routes.tsx
  src/components/common/loading-spinner/LoadingSpinner.test.tsx
  src/components/routeTitleUtils.test.ts
  src/components/routeTitleUtils.ts
Due: none

fix: add feat to skip races
  src/components/resume/f1/Track.tsx
  src/components/resume/f1/Tracks.tsx
Due: üìë Resume, F1

fix: tests
  src/components/resume/f1/Track.test.tsx
Due: üìë Resume, F1

fix: lint
  src/components/resume/f1/Track.test.tsx
Due: üìë Resume, F1

fix: deploy issue
  src/constants/travel.ts
Due: none

fix: missed dynamic chart settings
  src/components/resume/cars/graphs/CarSpeedoGraph.tsx
  src/constants/cars.ts
Due: üìë Resume, Cars

fix: chunking issues w/ highcharts
  src/components/games/spades/control-bar/StatsBagsChart.tsx
  src/components/games/spades/control-bar/StatsNilsChart.tsx
  src/components/games/spades/control-bar/spadesHighcharts.ts
  src/components/resume/cars/graphs/CarChart.tsx
  src/components/resume/cars/graphs/CarSankeyGraph.tsx
  src/components/resume/cars/graphs/CarSpeedoGraph.tsx
  src/components/resume/cars/graphs/carsHighcharts.ts
  src/components/resume/comp-calc/graphs/BreakdownGraph.tsx
  src/components/resume/comp-calc/graphs/CompGraph.tsx
  src/components/resume/comp-calc/graphs/compCalcHighcharts.ts
  src/components/resume/f1/charts/BudgetSankey.tsx
  src/components/resume/f1/charts/ConstructorCurrentSpline.tsx
  src/components/resume/f1/charts/ConstructorPointsLine.tsx
  src/components/resume/f1/charts/ConstructorStandingsLine.tsx
  src/components/resume/f1/charts/DriverCurrentSpline.tsx
  src/components/resume/f1/charts/DriverPointsLine.tsx
  src/components/resume/f1/charts/DriverStandingsLine.tsx
  src/components/resume/f1/charts/f1Highcharts.ts
  src/components/resume/f1/charts/helpers.ts
  src/components/resume/f1/charts/tests/helpers.test.ts
  src/components/resume/travel-map/TravelDaysGraph.tsx
  src/components/resume/travel-map/cruises/CruiseCharts.tsx
  src/components/resume/travel-map/cruises/LoyaltyCharts.tsx
  src/components/resume/travel-map/travelMapHighcharts.ts
Due: üïπÔ∏è Games, Spades, üìë Resume, Cars, Comp Calculator, F1, Travel

fix: make skipped tracks more clear
  src/components/resume/f1/F1.tsx
  src/components/resume/f1/Track.tsx
  src/components/resume/f1/timeline-card/TimelineCard.tsx
  src/components/resume/f1/timeline-card/timelineHelpers.ts
Due: üìë Resume, F1
