Repository kennethbigler/react-home: changes, and which Codecov flags are due for each by the changed paths.
All: üïπÔ∏è Games, Are You the One?, Blackjack, BotC, Bridge, Connect4, Deal or No Deal, Family Feud, Imperial Assault, Murder Mystery, Poker, Slots, Spades, Tic Tac Toe, Type Checker, Werewolf, Yahtzee, üìë Resume, Cars, Comp Calculator, Education, F1, Presentations, Resume, Summary, Travel, Work

codecov.yml:

# ... previous config options...

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment
  
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_games  # ‚ö†Ô∏è ID, do not change
      name: üïπÔ∏è Games  # display name, change freely
      paths:
        - src/components/games/**
    - component_id: module_games_are_you_the_one
      name: Are You the One?
      paths:
        - src/components/games/are-you-the-one/**
    - component_id: module_games_blackjack
      name: Blackjack
      paths:
        - src/components/games/blackjack/**
    - component_id: module_games_botc
      name: BotC
      paths:
        - src/components/games/botc/**
    - component_id: module_games_bridge
      name: Bridge
      paths:
        - src/components/games/bridge/**
    - component_id: module_games_connect4
      name: Connect4
      paths:
        - src/components/games/connect4/**
    - component_id: module_games_deal
      name: Deal or No Deal
      paths:
        - src/components/games/deal-or-no-deal/**
    - component_id: module_games_family_feud
      name: Family Feud
      paths:
        - src/components/games/family-feud/**
    - component_id: module_games_imperial_assault
      name: Imperial Assault
      paths:
        - src/components/games/imperial-assault/**
    - component_id: module_games_murder_mystery
      name: Murder Mystery
      paths:
        - src/components/games/murder-mystery/**
    - component_id: module_games_poker
      name: Poker
      paths:
        - src/components/games/poker/**
    - component_id: module_games_slots
      name: Slots
      paths:
        - src/components/games/slots/**
    - component_id: module_games_spades
      name: Spades
      paths:
        - src/components/games/spades/**
    - component_id: module_games_tictactoe
      name: Tic Tac Toe
      paths:
        - src/components/games/tictactoe/**
    - component_id: module_games_type_checker
      name: Type Checker
      paths:
        - src/components/games/type-checker/**
    - component_id: module_games_werewolf
      name: Werewolf
      paths:
        - src/components/games/werewolf/**
    - component_id: module_games_yahtzee
      name: Yahtzee
      paths:
        - src/components/games/yahtzee/**
    - component_id: module_resume  # ‚ö†Ô∏è ID, do not change
      name: üìë Resume  # display name, change freely
      paths:
        - src/components/resume/**
    - component_id: module_resume_cars
      name: Cars
      paths:
        - src/components/resume/cars/**
    - component_id: module_resume_comp_calc
      name: Comp Calculator
      paths:
        - src/components/resume/comp-calc/**
    - component_id: module_resume_education
      name: Education
      paths:
        - src/components/resume/education/**
    - component_id: module_resume_f1
      name: F1
      paths:
        - src/components/resume/f1/**
    - component_id: module_resume_presentations
      name: Presentations
      paths:
        - src/components/resume/presentations/**
    - component_id: module_resume_resume
      name: Resume
      paths:
        - src/components/resume/resume/**
    - component_id: module_resume_summary
      name: Summary
      paths:
        - src/components/resume/summary/**
    - component_id: module_resume_travel
      name: Travel
      paths:
        - src/components/resume/travel-map/**
    - component_id: module_resume_work
      name: Work
      paths:
        - src/components/resume/work/**

fix: ask Claude to fix best practices
  src/components/Routes.tsx
  src/components/games/are-you-the-one/AreYouTheOne.tsx
  src/components/games/are-you-the-one/analysis/Analysis.tsx
  src/components/games/are-you-the-one/analysis/CalculatedStack.test.tsx
  src/components/games/are-you-the-one/analysis/CalculatedStack.tsx
  src/components/games/are-you-the-one/analysis/MatchedStack.test.tsx
  src/components/games/are-you-the-one/analysis/MatchedStack.tsx
  src/components/games/are-you-the-one/histogram/calcHist.test.ts
  src/components/games/are-you-the-one/histogram/calcHist.ts
  src/components/games/are-you-the-one/table/TableBody.tsx
  src/components/games/are-you-the-one/table/TableRow.tsx
  src/components/games/blackjack/Blackjack.tsx
  src/components/games/blackjack/blackjackHelpers.ts
  src/components/games/blackjack/useBlackjackAI.ts
  src/components/games/tictactoe/Board.tsx
  src/components/games/tictactoe/Cell.tsx
  src/components/resume/comp-calc/graphs/CompGraph.tsx
  src/components/resume/f1/Tracks.tsx
  src/components/resume/travel-map/map/WorldMap.tsx
  src/jotai/are-you-the-one-state.ts
  src/jotai/blackjack-state.ts
  src/jotai/botc-atom.ts
  src/jotai/deck-state.ts
  src/jotai/poker-state.ts
  src/main.tsx
Due: üïπÔ∏è Games, Are You the One?, Blackjack, Tic Tac Toe, üìë Resume, Comp Calculator, F1, Travel

feat: add bridge better
  eslint.config.js
  src/components/games/bridge/Bridge.test.tsx
  src/components/games/bridge/header/bid-dialog/BidAdvisor.test.tsx
  src/components/games/bridge/header/bid-dialog/BidAdvisor.tsx
  src/components/games/bridge/header/bid-dialog/BidDialog.tsx
  src/components/games/bridge/header/bid-dialog/advisor/AuctionContext.test.tsx
  src/components/games/bridge/header/bid-dialog/advisor/AuctionContext.tsx
  src/components/games/bridge/header/bid-dialog/advisor/BidRecommendation.test.tsx
  src/components/games/bridge/header/bid-dialog/advisor/BidRecommendation.tsx
  src/components/games/bridge/header/bid-dialog/advisor/HandInput.test.tsx
  src/components/games/bridge/header/bid-dialog/advisor/HandInput.tsx
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.test.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.ts
  src/components/games/bridge/header/bid-dialog/tests/BidDialog.test.tsx
Due: üïπÔ∏è Games, Bridge

fix: tests
  src/components/games/bridge/header/Header.test.tsx
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.ts
Due: üïπÔ∏è Games, Bridge

fix: npm audit
  package-lock.json
Due: none

fix: ran ai simulations to debug
  src/components/games/bridge/header/bid-dialog/BidAdvisor.tsx
  src/components/games/bridge/header/bid-dialog/advisor/HandInput.test.tsx
  src/components/games/bridge/header/bid-dialog/advisor/HandInput.tsx
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.test.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.ts
Due: üïπÔ∏è Games, Bridge

feat: f1 updates and ai qa
  package-lock.json
  package.json
  scripts/simulate-random-hands.mts
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.ts
  src/constants/f1.ts
Due: üïπÔ∏è Games, Bridge

fix: ran lint
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.ts
Due: üïπÔ∏è Games, Bridge

fix: contructors are now sum of drivers
  src/constants/f1.ts
Due: none

fix: several more rounds of bridge feedback
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.test.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.ts
Due: üïπÔ∏è Games, Bridge

fix: bidding logic
  src/components/games/bridge/header/bid-dialog/BidAdvisor.tsx
  src/components/games/bridge/header/bid-dialog/advisor/AuctionContext.tsx
  src/components/games/bridge/header/bid-dialog/advisor/BidRecommendation.tsx
  src/components/games/bridge/header/bid-dialog/advisor/HandInput.tsx
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.test.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.ts
Due: üïπÔ∏è Games, Bridge

fix: lint and tests
  src/components/games/bridge/header/bid-dialog/BidAdvisor.tsx
  src/components/games/bridge/header/bid-dialog/advisor/AuctionContext.tsx
  src/components/games/bridge/header/bid-dialog/advisor/HandInput.tsx
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.test.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.ts
Due: üïπÔ∏è Games, Bridge

fix: tests
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.test.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.ts
Due: üïπÔ∏è Games, Bridge

fix: npm audit fix
  package-lock.json
Due: none

fix: improve coverage
  src/components/games/bridge/header/bid-dialog/BidAdvisor.test.tsx
  src/components/games/bridge/header/bid-dialog/advisor/AuctionContext.test.tsx
  src/components/games/bridge/header/bid-dialog/advisor/HandInput.test.tsx
  src/components/games/bridge/header/bid-dialog/advisor/HandInput.tsx
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.test.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.ts
  src/components/games/bridge/header/score-dialog/ScoreDialog.test.tsx
  vite.config.ts
Due: üïπÔ∏è Games, Bridge

feat: move antarctica to asia
  docs/assets/Job-8yyFy8Mx.js.map
  docs/assets/Routes-Cfw1XFYV.js
  docs/assets/Routes-Cfw1XFYV.js.map
  docs/assets/Routes-D5Pgkp4X.js
  docs/assets/Routes-D5Pgkp4X.js.map
  docs/assets/cars-BzJ-Tnyh.js.map
  docs/assets/f1-BU_dQ9KF.js.map
  docs/assets/index-BeqMPe7A.js
  docs/assets/index-BeqMPe7A.js.map
  docs/assets/index-DBeL36ud.js
  docs/assets/index-DBeL36ud.js.map
  docs/assets/travel-map-BqSHF6GB.js
  docs/assets/travel-map-BqSHF6GB.js.map
  docs/assets/travel-map-CV-__66Y.js
  docs/assets/travel-map-CV-__66Y.js.map
  docs/index.html
  src/constants/travel.ts
Due: none

fix: security
  package-lock.json
Due: none

feat: update mui (major)
  package-lock.json
  package.json
  src/components/games/HomeMenuItem.tsx
  src/components/games/are-you-the-one/analysis/Analysis.tsx
  src/components/games/botc/header/Tracker.tsx
  src/components/games/botc/header/edit-players/EditPlayers.tsx
  src/components/games/bridge/header/bid-dialog/BidAdvisor.tsx
  src/components/games/bridge/header/bid-dialog/advisor/AuctionContext.tsx
  src/components/games/bridge/header/bid-dialog/advisor/BidRecommendation.tsx
  src/components/games/bridge/header/bid-dialog/advisor/HandInput.tsx
  src/components/games/family-feud/FastMoney.tsx
  src/components/games/family-feud/GameRound.tsx
  src/components/games/imperial-assault/Rebels.tsx
  src/components/games/imperial-assault/missions/ForcedMissions.tsx
  src/components/games/imperial-assault/missions/Missions.tsx
  src/components/games/spades/control-bar/AddScore.tsx
  src/components/games/yahtzee/tests/Yahtzee.test.tsx
  src/components/resume/cars/CarDisplay.tsx
  src/components/resume/comp-calc/CompEntryCard.tsx
  src/components/resume/f1/Tracks.tsx
  src/components/resume/work/Job.tsx
Due: üïπÔ∏è Games, Are You the One?, BotC, Bridge, Family Feud, Imperial Assault, Spades, Yahtzee, üìë Resume, Cars, Comp Calculator, F1, Work

feat: spades - show scores in bid dialog
  src/components/games/spades/Header.tsx
  src/components/games/spades/ScoreTable.tsx
  src/components/games/spades/Spades.test.tsx
  src/components/games/spades/Spades.tsx
  src/components/games/spades/control-bar/AddBid.tsx
  src/components/games/spades/control-bar/ControlBar.tsx
  src/components/games/spades/control-bar/ShowStats.tsx
  src/components/games/spades/helpers/getChipColor.ts
  src/components/games/spades/helpers/getScoreText.ts
  src/components/games/spades/helpers/useSpades.test.tsx
  src/components/games/spades/helpers/useSpades.ts
  src/components/games/spades/useSpades.ts
Due: üïπÔ∏è Games, Spades

fix: tests and best practices
  src/components/games/spades/Header.tsx
  src/components/games/spades/ScoreTable.test.tsx
  src/components/games/spades/Spades.test.tsx
  src/components/games/spades/Spades.tsx
  src/components/games/spades/control-bar/AddBid.test.tsx
  src/components/games/spades/control-bar/AddBid.tsx
  src/components/games/spades/control-bar/AddScorePlayer.test.tsx
  src/components/games/spades/control-bar/ShowStats.test.tsx
  src/components/games/spades/helpers/getScoreText.test.ts
  src/components/games/spades/helpers/useSpades.ts
Due: üïπÔ∏è Games, Spades

feat: more best practices
  src/components/games/spades/ScoreTable.tsx
  src/components/games/spades/Spades.test.tsx
  src/components/games/spades/control-bar/AddBid.tsx
  src/components/games/spades/control-bar/ShowStats.tsx
  src/components/games/spades/helpers/getChipColor.test.ts
  src/components/games/spades/helpers/useSpades.ts
  src/jotai/spades-atom.ts
Due: üïπÔ∏è Games, Spades

fix: wording in comments
  src/jotai/spades-atom.ts
Due: none

feat: update f1 budget graph
  src/components/resume/f1/charts/BudgetSankey.tsx
  src/constants/f1.ts
Due: üìë Resume, F1

feat: update sankeys and travel days
  src/components/resume/cars/graphs/CarChart.tsx
  src/components/resume/cars/graphs/CarSankeyGraph.tsx
  src/components/resume/travel-map/TravelDaysGraph.tsx
  src/components/resume/travel-map/TravelMap.tsx
  src/components/resume/travel-map/cruises/CruiseCharts.tsx
  src/components/resume/travel-map/cruises/CruiseSankeyGraph.tsx
  src/constants/cars.ts
  src/constants/travel.ts
Due: üìë Resume, Cars, Travel

fix: skip highchart tests
  src/components/resume/travel-map/tests/TravelMap.test.tsx
Due: üìë Resume, Travel

feat: update f1 after miami
  src/constants/f1.ts
Due: none

feat: update react highcharts
  package-lock.json
  package.json
  src/components/games/botc/LiePie.tsx
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.ts
  src/components/games/spades/control-bar/StatsBagsChart.tsx
  src/components/games/spades/control-bar/StatsNilsChart.tsx
  src/components/resume/cars/graphs/CarChart.tsx
  src/components/resume/cars/graphs/CarSankeyGraph.tsx
  src/components/resume/cars/graphs/CarSpeedoGraph.tsx
  src/components/resume/comp-calc/graphs/BreakdownGraph.tsx
  src/components/resume/comp-calc/graphs/CompGraph.tsx
  src/components/resume/f1/charts/BudgetSankey.tsx
  src/components/resume/f1/charts/ConstructorCurrentSpline.tsx
  src/components/resume/f1/charts/ConstructorPointsLine.tsx
  src/components/resume/f1/charts/ConstructorStandingsLine.tsx
  src/components/resume/f1/charts/DriverCurrentSpline.tsx
  src/components/resume/f1/charts/DriverPointsLine.tsx
  src/components/resume/f1/charts/DriverStandingsLine.tsx
  src/components/resume/travel-map/TravelDaysGraph.tsx
  src/components/resume/travel-map/cruises/CruiseSankeyGraph.tsx
  src/components/resume/travel-map/cruises/LoyaltyCharts.tsx
  src/components/resume/travel-map/map/WorldMap.tsx
  vite.config.ts
Due: üïπÔ∏è Games, BotC, Bridge, Spades, üìë Resume, Cars, Comp Calculator, F1, Travel

fix: update mui
  package-lock.json
  package.json
  src/components/games/bridge/header/score-dialog/ScoreDialog.test.tsx
Due: üïπÔ∏è Games, Bridge

fix: update ui and remove blocking code for editing scores
  src/components/games/spades/helpers/useSpades.ts
  src/constants/f1.ts
Due: üïπÔ∏è Games, Spades

fix: don't change car colors
  src/constants/f1.ts
Due: none

fix: bridge bug fixes
  .gitignore
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.ts
Due: üïπÔ∏è Games, Bridge

fix: tests
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.test.ts
  src/components/resume/work/tests/Job.test.tsx
Due: üïπÔ∏è Games, Bridge, üìë Resume, Work

feat: npm audit fix
  package-lock.json
Due: none

feat: update certain content
  ads.txt
  src/constants/cars.ts
  src/constants/classes.ts
  vite.config.ts
Due: none

fix: tests
  src/components/resume/presentations/Presentations.test.tsx
Due: üìë Resume, Presentations
