Repository kennethbigler/react-home: changes, and which Codecov flags are due for each by the changed paths.
All: üïπÔ∏è Games, Are You the One?, Blackjack, BotC, Bridge, Connect4, Deal or No Deal, Family Feud, Imperial Assault, Murder Mystery, Poker, Slots, Spades, Tic Tac Toe, Type Checker, Werewolf, Yahtzee, üìë Resume, Cars, Comp Calculator, Education, F1, Presentations, Resume, Summary, Travel, Work

codecov.yml:

# ... previous config options...

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment
  
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_games  # ‚ö†Ô∏è ID, do not change
      name: üïπÔ∏è Games  # display name, change freely
      paths:
        - src/components/games/**
    - component_id: module_games_are_you_the_one
      name: Are You the One?
      paths:
        - src/components/games/are-you-the-one/**
    - component_id: module_games_blackjack
      name: Blackjack
      paths:
        - src/components/games/blackjack/**
    - component_id: module_games_botc
      name: BotC
      paths:
        - src/components/games/botc/**
    - component_id: module_games_bridge
      name: Bridge
      paths:
        - src/components/games/bridge/**
    - component_id: module_games_connect4
      name: Connect4
      paths:
        - src/components/games/connect4/**
    - component_id: module_games_deal
      name: Deal or No Deal
      paths:
        - src/components/games/deal-or-no-deal/**
    - component_id: module_games_family_feud
      name: Family Feud
      paths:
        - src/components/games/family-feud/**
    - component_id: module_games_imperial_assault
      name: Imperial Assault
      paths:
        - src/components/games/imperial-assault/**
    - component_id: module_games_murder_mystery
      name: Murder Mystery
      paths:
        - src/components/games/murder-mystery/**
    - component_id: module_games_poker
      name: Poker
      paths:
        - src/components/games/poker/**
    - component_id: module_games_slots
      name: Slots
      paths:
        - src/components/games/slots/**
    - component_id: module_games_spades
      name: Spades
      paths:
        - src/components/games/spades/**
    - component_id: module_games_tictactoe
      name: Tic Tac Toe
      paths:
        - src/components/games/tictactoe/**
    - component_id: module_games_type_checker
      name: Type Checker
      paths:
        - src/components/games/type-checker/**
    - component_id: module_games_werewolf
      name: Werewolf
      paths:
        - src/components/games/werewolf/**
    - component_id: module_games_yahtzee
      name: Yahtzee
      paths:
        - src/components/games/yahtzee/**
    - component_id: module_resume  # ‚ö†Ô∏è ID, do not change
      name: üìë Resume  # display name, change freely
      paths:
        - src/components/resume/**
    - component_id: module_resume_cars
      name: Cars
      paths:
        - src/components/resume/cars/**
    - component_id: module_resume_comp_calc
      name: Comp Calculator
      paths:
        - src/components/resume/comp-calc/**
    - component_id: module_resume_education
      name: Education
      paths:
        - src/components/resume/education/**
    - component_id: module_resume_f1
      name: F1
      paths:
        - src/components/resume/f1/**
    - component_id: module_resume_presentations
      name: Presentations
      paths:
        - src/components/resume/presentations/**
    - component_id: module_resume_resume
      name: Resume
      paths:
        - src/components/resume/resume/**
    - component_id: module_resume_summary
      name: Summary
      paths:
        - src/components/resume/summary/**
    - component_id: module_resume_travel
      name: Travel
      paths:
        - src/components/resume/travel-map/**
    - component_id: module_resume_work
      name: Work
      paths:
        - src/components/resume/work/**

feat: minor ux enhancements
  src/components/games/botc/LiePie.tsx
  src/components/games/botc/player-notes/PlayerNotes.tsx
  src/components/games/botc/player-notes/character-sheet/CharacterSheet.tsx
Due: üïπÔ∏è Games, BotC

feat: deploy botc updates
  docs/assets/Header-Baz9FysZ.js
  docs/assets/Header-fW9iVi_u.js
  docs/assets/Home-CHsH0tVA.js
  docs/assets/Home-DZwERDrt.js
  docs/assets/Routes-CElVVqb_.js
  docs/assets/Routes-Cz_qhpM1.js
  docs/assets/Routes-O9Djuc91.js
  docs/assets/Routes-vvtW9y_Q.js
  docs/assets/botc-DVhYX7z_.js
  docs/assets/botc-GInLwXZs.js
  docs/assets/botc-scripts-CWwjOrhm.js
  docs/assets/botc-scripts-YSUaA_aA.js
  docs/assets/cars-BCM_YJ_M.js
  docs/assets/cars-D7qqc3yW.js
  docs/assets/f1-CfwX1WtD.js
  docs/assets/f1-DATUdML6.js
  docs/assets/finances-42EcSach.js
  docs/assets/finances-B7fd-aUK.js
  docs/assets/index-D_DiCcaN.js
  docs/assets/index-jyj2qotO.js
  docs/assets/spades-CcgqJ2xp.js
  docs/assets/spades-DOXtk2Mm.js
  docs/assets/travel-map-AVwzpOnV.js
  docs/assets/travel-map-D9cyqsvn.js
  docs/index.html
  src/data/botc-scripts.json
Due: none

fix: npm audit
  package-lock.json
Due: none

feat: split up liepie and add more info
  src/components/games/botc/LiePie.test.tsx
  src/components/games/botc/LiePie.tsx
  src/components/games/botc/botcHelpers.test.ts
  src/components/games/botc/botcHelpers.ts
  src/components/resume/finances/budgeting/graphs/chartData.test.ts
  src/components/resume/finances/budgeting/graphs/chartData.ts
  src/components/resume/finances/comp-calc/graphs/BreakdownGraph.tsx
  src/components/resume/finances/comp-calc/graphs/Graphs.test.tsx
  src/components/resume/finances/net-worth/graphs/Graphs.test.tsx
  src/components/resume/finances/net-worth/graphs/buildNetWorthBreakdownPieData.ts
Due: üïπÔ∏è Games, BotC, üìë Resume

fix: hide demon buttons if 1 demon
  src/components/games/botc/LiePie.test.tsx
  src/components/games/botc/LiePie.tsx
Due: üïπÔ∏è Games, BotC

fix: coderabbit feedback
  package-lock.json
  package.json
  src/components/resume/finances/budgeting/graphs/chartData.test.ts
  src/components/resume/finances/budgeting/graphs/chartData.ts
  src/components/resume/finances/comp-calc/graphs/BreakdownGraph.tsx
  src/components/resume/finances/comp-calc/graphs/Graphs.test.tsx
  src/components/resume/finances/net-worth/graphs/Graphs.test.tsx
  src/components/resume/finances/net-worth/graphs/buildNetWorthBreakdownPieData.ts
  src/setupTests.ts
Due: üìë Resume

fix: build
  src/constants/tests/f1.test.ts
Due: none

fix: coderabbit feedback
  src/@types/jest-axe-vitest.d.ts
  src/components/resume/finances/net-worth/graphs/Graphs.test.tsx
  src/constants/tests/f1.test.ts
Due: üìë Resume

feat: enhance timeline
  src/components/common/timeline-parts/Segment.tsx
  src/components/common/timeline-parts/tests/Segment.test.tsx
  src/components/resume/f1/timeline-card/TimelineCard.tsx
  src/components/resume/f1/timeline-card/tests/TimelineCard.test.tsx
  src/components/resume/f1/timeline-card/timelineHelpers.ts
  src/constants/f1.ts
Due: üìë Resume, F1

feat: coderabbit feedback
  src/components/common/timeline-parts/Segment.tsx
  src/components/common/timeline-parts/tests/Segment.test.tsx
  src/components/resume/f1/timeline-card/tests/TimelineCard.test.tsx
  src/components/resume/f1/timeline-card/timelineHelpers.ts
Due: üìë Resume, F1

fix: more coderabbit feedback
  src/components/common/timeline-parts/Segment.tsx
  src/components/common/timeline-parts/tests/Segment.test.tsx
  src/components/resume/f1/timeline-card/TimelineCard.tsx
  src/components/resume/f1/timeline-card/tests/TimelineCard.test.tsx
  src/components/resume/f1/timeline-card/timelineHelpers.ts
Due: üìë Resume, F1

feat: deploy timeline updates
  docs/assets/Header-Bl0FbkvM.js
  docs/assets/Header-D0OD40u0.js
  docs/assets/Home-CAmTXKmb.js
  docs/assets/Home-QXPLkj6n.js
  docs/assets/Routes-CxglZXL9.js
  docs/assets/Routes-D5PeymJX.js
  docs/assets/Routes-DEa4CZOx.js
  docs/assets/Routes-DlpYiYqX.js
  docs/assets/Row-CL0sw6QL.js
  docs/assets/Row-DqAkr_QN.js
  docs/assets/botc-Co6aM5Zt.js
  docs/assets/botc-CzOMwz2R.js
  docs/assets/botc-scripts-DzOWvVhi.js
  docs/assets/botc-scripts-wNzjXHYE.js
  docs/assets/cars-BSGt6NX7.js
  docs/assets/cars-D0u1kGjL.js
  docs/assets/charts-BIaVCyLE.js
  docs/assets/charts-BbzGKeb0.js
  docs/assets/coreHighcharts-BnCttBxc.js
  docs/assets/coreHighcharts-xNxH3K1_.js
  docs/assets/f1-Bjcs-ROW.js
  docs/assets/f1-DegQA1d8.js
  docs/assets/finances-CeHPyxB2.js
  docs/assets/finances-Dw4Tc_ru.js
  docs/assets/index-B-I10O_E.js
  docs/assets/index-BfgqvkJt.js
  docs/assets/react-vendor-BMu_56EE.js
  docs/assets/sankeyHighcharts-CJkRHsTr.js
  docs/assets/sankeyHighcharts-DgdNLyzf.js
  docs/assets/spades-3_-fEjld.js
  docs/assets/spades-DPArYCiz.js
  docs/assets/travel-map-C0rNwehw.js
  docs/assets/travel-map-D7RxMR_s.js
  docs/index.html
  src/data/botc-scripts.json
Due: none

feat: add a11y scanner
  .github/workflows/main.yml
Due: none

fix: 404 page update and attempt a11y scanner on local
  .github/workflows/main.yml
  public/404.html
Due: none

fix: try to wait for page to load
  .github/workflows/main.yml
  scripts/wait-for-spa.mjs
  scripts/wait-for-spa.test.mjs
Due: none

fix: spa waiter
  .github/dependabot.yml
  .github/workflows/main.yml
  package-lock.json
  package.json
  scripts/wait-for-spa.mjs
  src/components/games/connect4/Connect4.test.tsx
  src/components/games/connect4/Connect4.tsx
Due: üïπÔ∏è Games, Connect4

fix: coderabbit feedback and swap gh-a11y-scan to prod
  .coderabbit.yaml
  .github/dependabot.yml
  .github/workflows/main.yml
  package-lock.json
  package.json
  scripts/wait-for-spa.mjs
  scripts/wait-for-spa.test.mjs
  src/components/common/timeline-parts/Row.tsx
  src/components/common/timeline-parts/Segment.tsx
  src/components/common/timeline-parts/tests/Segment.test.tsx
  src/components/resume/f1/timeline-card/TimelineCard.tsx
  src/components/resume/f1/timeline-card/tests/TimelineCard.test.tsx
  src/components/resume/f1/timeline-card/timelineHelpers.ts
Due: üìë Resume, F1

feat: update f1 standings
  src/constants/f1.ts
Due: none

fix: f1 calculations
  src/constants/f1.ts
Due: none

feat: add playwright a11y scanner + fix
  .github/workflows/main.yml
  package-lock.json
  package.json
  scripts/a11y-live-scan.mjs
  src/App.test.tsx
  src/components/common/info-popover/InfoPopup.tsx
  src/components/games/Home.tsx
  src/components/games/botc/BotC.test.tsx
  src/components/games/botc/LiePie.tsx
  src/components/games/botc/header/Controls.test.tsx
  src/components/games/botc/header/Controls.tsx
  src/components/games/botc/header/Header.test.tsx
  src/components/games/botc/header/Tracker.tsx
  src/components/games/botc/header/edit-players/EditPlayers.tsx
  src/components/games/botc/player-notes/PlayerNotes.tsx
  src/components/games/botc/player-notes/character-sheet/RoleSection.tsx
  src/components/games/connect4/Connect4.test.tsx
  src/components/games/spades/Header.tsx
  src/components/games/spades/control-bar/ShowStats.tsx
  src/components/games/tictactoe/History.tsx
  src/components/games/werewolf/Werewolf.test.tsx
  src/components/games/werewolf/WerewolfPanel.tsx
  src/components/resume/f1/Track.tsx
  src/constants/type-checker.ts
Due: üïπÔ∏è Games, BotC, Connect4, Spades, Tic Tac Toe, Werewolf, üìë Resume, F1

fix: coderabbit feedback
  .github/workflows/main.yml
  src/App.test.tsx
  src/apis/outlinedButtonSx.ts
  src/components/common/info-popover/InfoPopup.tsx
  src/components/games/botc/BotC.test.tsx
  src/components/games/botc/LiePie.tsx
  src/components/games/botc/header/Controls.test.tsx
  src/components/games/botc/header/Header.test.tsx
  src/components/games/botc/header/Tracker.tsx
  src/components/games/botc/header/edit-players/EditPlayers.tsx
  src/components/games/botc/player-notes/PlayerNotes.tsx
  src/components/games/botc/player-notes/character-sheet/RoleSection.tsx
  src/components/games/werewolf/Werewolf.test.tsx
  src/components/games/werewolf/WerewolfPanel.tsx
Due: üïπÔ∏è Games, BotC, Werewolf

fix: coderabbit feedback and split out main.yml
  .github/actions/setup-node/action.yml
  .github/workflows/main.yml
  src/components/games/botc/player-notes/character-sheet/RoleSection.test.tsx
  src/components/games/botc/player-notes/character-sheet/RoleSection.tsx
  src/components/games/werewolf/Werewolf.test.tsx
  src/setupTests.ts
Due: üïπÔ∏è Games, BotC, Werewolf

fix: coderabbit feedback and move back some build elements
  .github/actions/setup-node/action.yml
  .github/workflows/main.yml
  src/apis/cssEscape.ts
  src/apis/tests/cssEscape.test.ts
  src/components/games/botc/player-notes/character-sheet/RoleSection.test.tsx
  src/components/games/werewolf/Werewolf.test.tsx
  src/setupTests.ts
Due: üïπÔ∏è Games, BotC, Werewolf

fix: coderabbit feedback
  .github/actions/setup-node/action.yml
  src/apis/cssEscape.ts
  src/apis/tests/cssEscape.test.ts
  src/components/games/werewolf/Werewolf.test.tsx
Due: üïπÔ∏è Games, Werewolf

feat: deploy updates
  docs/assets/Header-TspuSOzp.js
  docs/assets/Header-zZxPrUO-.js
  docs/assets/Home-DQOGBP3A.js
  docs/assets/Home-FfL932yW.js
  docs/assets/Routes-BYmKovN7.js
  docs/assets/Routes-DtLzceg_.js
  docs/assets/Routes-GvODNmxl.js
  docs/assets/Routes-lD4jq0r9.js
  docs/assets/botc-BjRVm2A9.js
  docs/assets/botc-BjRkhHXT.js
  docs/assets/botc-scripts-5Gk4IZnd.js
  docs/assets/botc-scripts-CrTIIXk4.js
  docs/assets/cars-CIPrIM1d.js
  docs/assets/cars-CUwSbREn.js
  docs/assets/f1-CL5Ck9DI.js
  docs/assets/f1-D15BdwPQ.js
  docs/assets/finances-D0zH24dV.js
  docs/assets/finances-D62rHyAo.js
  docs/assets/index-ByN6PEnF.js
  docs/assets/index-Cm1PMnDk.js
  docs/assets/spades-DL9Qbv-E.js
  docs/assets/spades-DjSciFzc.js
  docs/assets/travel-map-DBE83RF6.js
  docs/assets/travel-map-DNGHvirm.js
  docs/index.html
  src/data/botc-scripts.json
Due: none

feat: remove fetch-depth on build
  .github/workflows/main.yml
Due: none
