Repository kennethbigler/react-home: changes, and which Codecov flags are due for each by the changed paths.
All: üïπÔ∏è Games, Are You the One?, Blackjack, BotC, Bridge, Connect4, Deal or No Deal, Family Feud, Imperial Assault, Murder Mystery, Poker, Slots, Spades, Tic Tac Toe, Type Checker, Werewolf, Yahtzee, üìë Resume, Cars, Comp Calculator, Education, F1, Presentations, Resume, Summary, Travel, Work

fix: remove unneeded config line
  vite.config.ts
Due: none

fix: reduce unneeded files/packages
  package-lock.json
  package.json
  scripts/simulate-random-hands.mts
Due: none

fix: cleanup config files
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: none

fix: best practices
  scripts/common.sh
  src/apis/catchErr.ts
  src/components/games/Routes.tsx
  src/components/games/blackjack/Blackjack.tsx
  src/components/games/blackjack/asyncForEach.test.ts
  src/components/games/blackjack/asyncForEach.ts
  src/components/games/blackjack/catchErr.ts
  src/components/games/blackjack/useBlackjackAI.ts
  src/constants/cars.ts
  src/images/cars/05_jaguar_xj8l.png
  src/images/cars/05_jaguar_xj8l.webp
  src/images/cars/07_toyota_prius.png
  src/images/cars/07_toyota_prius.webp
  src/images/cars/10_chevy_equinox.png
  src/images/cars/10_chevy_equinox.webp
  src/images/cars/15_mustang_gt_premium.png
  src/images/cars/15_mustang_gt_premium.webp
  src/images/cars/18_corvette_zo6_3lz.png
  src/images/cars/18_corvette_zo6_3lz.webp
  src/images/cars/20_ford_mustang.png
  src/images/cars/20_ford_mustang.webp
  src/images/cars/21_porsche_panamera.png
  src/images/cars/21_porsche_panamera.webp
  src/images/cars/97_plymouth_voyager.png
  src/images/cars/97_plymouth_voyager.webp
  src/images/companies/ey_logo.png
  vite.config.ts
Due: üïπÔ∏è Games, Blackjack

test: increase cov
  src/components/games/blackjack/catchErr.test.ts
Due: üïπÔ∏è Games, Blackjack

fix: analyze script
  scripts/analyze.sh
Due: none

fix: update scripts
  scripts/analyze.sh
  scripts/common.sh
  scripts/deploy.sh
Due: none

fix: use variable instead of split in dif files
  scripts/analyze.sh
  scripts/common.sh
  scripts/deploy.sh
Due: none

feat: add ssml test
  src/components/resume/Routes.tsx
  src/components/resume/data-ssml-test/DataSsmlTest.test.tsx
  src/components/resume/data-ssml-test/DataSsmlTest.tsx
  src/components/resume/data-ssml-test/index.ts
Due: üìë Resume

feat: remove data ssml test page
  src/components/resume/Routes.tsx
  src/components/resume/data-ssml-test/DataSsmlTest.test.tsx
  src/components/resume/data-ssml-test/DataSsmlTest.tsx
  src/components/resume/data-ssml-test/index.ts
Due: üìë Resume

fix: codecov configs
  codecov.yml
Due: none

fix: npm audit fix
  package-lock.json
Due: none

feat: add f1 standing update
  src/constants/f1.ts
Due: none

feat: add botc-tools scripts
  package.json
  scripts/deploy.sh
  scripts/fetch-botc-scripts.mjs
  src/components/games/botc/BotC.tsx
  src/components/games/botc/botcHelpers.test.ts
  src/components/games/botc/botcHelpers.ts
  src/components/games/botc/header/edit-players/EditPlayers.tsx
  src/components/games/botc/header/edit-players/ScriptSearch.test.tsx
  src/components/games/botc/header/edit-players/ScriptSearch.tsx
  src/components/games/botc/player-notes/PlayerNotes.tsx
  src/components/games/botc/player-notes/character-sheet/CharacterSheet.tsx
  src/components/games/botc/player-notes/character-sheet/Roles.test.tsx
  src/components/games/botc/player-notes/character-sheet/Roles.tsx
  src/components/games/botc/useBotC.test.tsx
  src/components/games/botc/useBotC.ts
  src/constants/botc-slug-map.test.ts
  src/constants/botc-slug-map.ts
  src/constants/botc.ts
  src/data/botc-scripts.json
  src/jotai/botc-atom.ts
  src/utils/botc-script-utils.test.ts
  src/utils/botc-script-utils.ts
Due: üïπÔ∏è Games, BotC

fix: cleanup
  src/components/games/botc/header/edit-players/ScriptControls.tsx
  src/components/games/botc/header/edit-players/ScriptSelect.tsx
  src/constants/botc.ts
  src/utils/botc-script-utils.ts
Due: üïπÔ∏è Games, BotC

feat: clean up unneeded data for breaking change
  src/components/games/botc/BotC.tsx
  src/components/games/botc/LiePie.tsx
  src/components/games/botc/botcHelpers.test.ts
  src/components/games/botc/botcHelpers.ts
  src/components/games/botc/header/edit-players/EditPlayers.tsx
  src/components/games/botc/header/edit-players/ScriptSearch.test.tsx
  src/components/games/botc/header/edit-players/ScriptSearch.tsx
  src/components/games/botc/player-notes/PlayerNotes.tsx
  src/components/games/botc/player-notes/character-sheet/CharacterSheet.tsx
  src/components/games/botc/player-notes/character-sheet/Roles.test.tsx
  src/components/games/botc/player-notes/character-sheet/Roles.tsx
  src/components/games/botc/useBotC.test.tsx
  src/components/games/botc/useBotC.ts
  src/jotai/botc-atom.test.ts
  src/jotai/botc-atom.ts
  src/utils/botc-script-utils.test.ts
  src/utils/botc-script-utils.ts
Due: üïπÔ∏è Games, BotC

fix: var naming back
  src/components/games/botc/BotC.tsx
  src/components/games/botc/LiePie.tsx
  src/components/games/botc/botcHelpers.ts
  src/components/games/botc/header/edit-players/EditPlayers.tsx
  src/components/games/botc/header/edit-players/ScriptSearch.test.tsx
  src/components/games/botc/header/edit-players/ScriptSearch.tsx
  src/components/games/botc/player-notes/PlayerNotes.tsx
  src/components/games/botc/player-notes/character-sheet/CharacterSheet.tsx
  src/components/games/botc/player-notes/character-sheet/Roles.test.tsx
  src/components/games/botc/player-notes/character-sheet/Roles.tsx
  src/components/games/botc/useBotC.test.tsx
  src/components/games/botc/useBotC.ts
  src/jotai/botc-atom.test.ts
  src/jotai/botc-atom.ts
Due: üïπÔ∏è Games, BotC

feat: add BMR to liepie
  src/components/games/botc/botcHelpers.ts
Due: üïπÔ∏è Games, BotC

fix: optimize script load for faster perf
  scripts/fetch-botc-scripts.mjs
  src/components/games/botc/header/edit-players/ScriptSearch.test.tsx
  src/components/games/botc/header/edit-players/ScriptSearch.tsx
  src/data/botc-scripts.json
  src/utils/botc-script-utils.test.ts
  src/utils/botc-script-utils.ts
Due: üïπÔ∏è Games, BotC

fix: increase coverage
  src/components/games/botc/botcHelpers.test.ts
  src/components/games/botc/header/edit-players/ScriptSearch.test.tsx
Due: üïπÔ∏è Games, BotC

fix: tests
  src/components/games/botc/header/edit-players/ScriptSearch.test.tsx
Due: üïπÔ∏è Games, BotC

feat: improve coverage
  src/components/games/botc/LiePie.test.tsx
  src/components/games/botc/botcHelpers.test.ts
  src/components/games/botc/header/Controls.test.tsx
  src/components/games/botc/header/edit-players/ScriptSearch.test.tsx
  src/components/games/botc/useBotC.test.tsx
  src/utils/botc-script-utils.test.ts
Due: üïπÔ∏è Games, BotC

fix: increase test coverage
  src/components/games/botc/BotC.test.tsx
  src/components/games/botc/LiePie.test.tsx
  src/components/games/botc/botcHelpers.test.ts
  src/components/games/botc/botcHelpers.ts
  src/components/games/botc/header/edit-players/ScriptSearch.test.tsx
  src/components/games/botc/useBotC.test.tsx
  src/jotai/botc-atom.ts
  src/utils/botc-script-utils.test.ts
  vite.config.ts
Due: üïπÔ∏è Games, BotC

fix: update liepie calc slightly
  src/components/games/botc/botcHelpers.ts
Due: üïπÔ∏è Games, BotC

fix: making code a little more readable
  src/components/games/botc/LiePie.test.tsx
  src/components/games/botc/botcHelpers.test.ts
  src/components/games/botc/botcHelpers.ts
  src/components/games/botc/header/edit-players/EditPlayers.tsx
  src/components/games/botc/header/edit-players/ScriptSearch.test.tsx
  src/components/games/botc/header/edit-players/ScriptSearch.tsx
  src/components/games/botc/player-notes/character-sheet/Roles.test.tsx
  src/components/games/botc/player-notes/character-sheet/Roles.tsx
  src/components/games/botc/useBotC.test.tsx
  src/components/games/botc/useBotC.ts
  src/jotai/botc-atom.test.ts
  src/jotai/botc-atom.ts
  src/utils/botc-script-utils.test.ts
  src/utils/botc-script-utils.ts
Due: üïπÔ∏è Games, BotC

fix: optimize script file size
  scripts/analyze.sh
  scripts/fetch-botc-scripts.mjs
  src/components/games/botc/header/edit-players/ScriptSearch.test.tsx
  src/data/botc-scripts.json
  src/utils/botc-script-utils.ts
Due: üïπÔ∏è Games, BotC

fix: code qual improvments
  src/components/games/botc/LiePie.tsx
  src/components/games/botc/botcHelpers.ts
  src/components/games/botc/header/Controls.tsx
  src/components/games/botc/header/Tracker.tsx
  src/components/games/botc/header/edit-players/EditPlayers.tsx
  src/components/games/botc/header/edit-players/ScriptSearch.tsx
  src/components/games/botc/player-notes/PlayerNotes.tsx
  src/components/games/botc/player-notes/character-sheet/CharacterSheet.tsx
  src/components/games/botc/player-notes/character-sheet/RoleSection.tsx
  src/components/games/botc/player-notes/character-sheet/Roles.tsx
  src/components/games/botc/useBotC.ts
  src/jotai/botc-atom.ts
  src/utils/botc-script-utils.ts
Due: üïπÔ∏è Games, BotC

fix: remove old npm command
  package.json
Due: none

feat: add qr code generation for sharing
  package-lock.json
  package.json
  src/components/games/botc/BotC.tsx
  src/components/games/botc/header/Controls.test.tsx
  src/components/games/botc/header/Controls.tsx
  src/components/games/botc/header/Header.test.tsx
  src/utils/botc-share-utils.ts
Due: üïπÔ∏è Games, BotC

fix: reduce url encoding size
  src/utils/botc-share-utils.ts
Due: none

fix: increase coverage
  src/components/games/botc/BotC.test.tsx
  src/utils/botc-share-utils.test.ts
Due: üïπÔ∏è Games, BotC

feat: remove hash routing
  README.md
  index.html
  public/404.html
  src/components/games/botc/BotC.test.tsx
  src/components/games/botc/BotC.tsx
  src/utils/botc-share-utils.test.ts
  src/utils/botc-share-utils.ts
  src/wrappers/WithRouter.tsx
Due: üïπÔ∏è Games, BotC

Path conditions:
  üïπÔ∏è Games: any of: src/components/games/**
  Are You the One?: any of: src/components/games/are-you-the-one/**
  Blackjack: any of: src/components/games/blackjack/**
  BotC: any of: src/components/games/botc/**
  Bridge: any of: src/components/games/bridge/**
  Connect4: any of: src/components/games/connect4/**
  Deal or No Deal: any of: src/components/games/deal-or-no-deal/**
  Family Feud: any of: src/components/games/family-feud/**
  Imperial Assault: any of: src/components/games/imperial-assault/**
  Murder Mystery: any of: src/components/games/murder-mystery/**
  Poker: any of: src/components/games/poker/**
  Slots: any of: src/components/games/slots/**
  Spades: any of: src/components/games/spades/**
  Tic Tac Toe: any of: src/components/games/tictactoe/**
  Type Checker: any of: src/components/games/type-checker/**
  Werewolf: any of: src/components/games/werewolf/**
  Yahtzee: any of: src/components/games/yahtzee/**
  üìë Resume: any of: src/components/resume/**
  Cars: any of: src/components/resume/cars/**
  Comp Calculator: any of: src/components/resume/comp-calc/**
  Education: any of: src/components/resume/education/**
  F1: any of: src/components/resume/f1/**
  Presentations: any of: src/components/resume/presentations/**
  Resume: any of: src/components/resume/resume/**
  Summary: any of: src/components/resume/summary/**
  Travel: any of: src/components/resume/travel-map/**
  Work: any of: src/components/resume/work/**
