Repository kennethbigler/react-home: changes, and which Codecov flags are due for each by the changed paths.
All: üïπÔ∏è Games, Are You the One?, Blackjack, BotC, Bridge, Connect4, Deal or No Deal, Family Feud, Imperial Assault, Murder Mystery, Poker, Slots, Spades, Tic Tac Toe, Type Checker, Werewolf, Yahtzee, üìë Resume, Cars, Comp Calculator, Education, F1, Presentations, Resume, Summary, Travel, Work

codecov.yml:

# ... previous config options...

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment
  
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_games  # ‚ö†Ô∏è ID, do not change
      name: üïπÔ∏è Games  # display name, change freely
      paths:
        - src/components/games/**
    - component_id: module_games_are_you_the_one
      name: Are You the One?
      paths:
        - src/components/games/are-you-the-one/**
    - component_id: module_games_blackjack
      name: Blackjack
      paths:
        - src/components/games/blackjack/**
    - component_id: module_games_botc
      name: BotC
      paths:
        - src/components/games/botc/**
    - component_id: module_games_bridge
      name: Bridge
      paths:
        - src/components/games/bridge/**
    - component_id: module_games_connect4
      name: Connect4
      paths:
        - src/components/games/connect4/**
    - component_id: module_games_deal
      name: Deal or No Deal
      paths:
        - src/components/games/deal-or-no-deal/**
    - component_id: module_games_family_feud
      name: Family Feud
      paths:
        - src/components/games/family-feud/**
    - component_id: module_games_imperial_assault
      name: Imperial Assault
      paths:
        - src/components/games/imperial-assault/**
    - component_id: module_games_murder_mystery
      name: Murder Mystery
      paths:
        - src/components/games/murder-mystery/**
    - component_id: module_games_poker
      name: Poker
      paths:
        - src/components/games/poker/**
    - component_id: module_games_slots
      name: Slots
      paths:
        - src/components/games/slots/**
    - component_id: module_games_spades
      name: Spades
      paths:
        - src/components/games/spades/**
    - component_id: module_games_tictactoe
      name: Tic Tac Toe
      paths:
        - src/components/games/tictactoe/**
    - component_id: module_games_type_checker
      name: Type Checker
      paths:
        - src/components/games/type-checker/**
    - component_id: module_games_werewolf
      name: Werewolf
      paths:
        - src/components/games/werewolf/**
    - component_id: module_games_yahtzee
      name: Yahtzee
      paths:
        - src/components/games/yahtzee/**
    - component_id: module_resume  # ‚ö†Ô∏è ID, do not change
      name: üìë Resume  # display name, change freely
      paths:
        - src/components/resume/**
    - component_id: module_resume_cars
      name: Cars
      paths:
        - src/components/resume/cars/**
    - component_id: module_resume_comp_calc
      name: Comp Calculator
      paths:
        - src/components/resume/comp-calc/**
    - component_id: module_resume_education
      name: Education
      paths:
        - src/components/resume/education/**
    - component_id: module_resume_f1
      name: F1
      paths:
        - src/components/resume/f1/**
    - component_id: module_resume_presentations
      name: Presentations
      paths:
        - src/components/resume/presentations/**
    - component_id: module_resume_resume
      name: Resume
      paths:
        - src/components/resume/resume/**
    - component_id: module_resume_summary
      name: Summary
      paths:
        - src/components/resume/summary/**
    - component_id: module_resume_travel
      name: Travel
      paths:
        - src/components/resume/travel-map/**
    - component_id: module_resume_work
      name: Work
      paths:
        - src/components/resume/work/**

fix: update package after new node
  package-lock.json
Due: none

feat: improve test cov
  src/components/games/bridge/Bridge.test.tsx
  src/components/games/bridge/bid-dialog/BidDialog.tsx
Due: üïπÔ∏è Games, Bridge

feat: fill out scoring chart
  src/components/games/bridge/score-dialog/ScoringTable.tsx
Due: üïπÔ∏è Games, Bridge

feat: add bridge betting sheets
  src/components/games/bridge/bid-dialog/BidDialog.tsx
  src/components/games/bridge/score-dialog/ScoringTable.tsx
  src/images/bridge_bidding_cheat_sheet_1.jpg
  src/images/bridge_bidding_cheat_sheet_2.jpg
  src/images/ken_bridge_betting.jpg
Due: üïπÔ∏è Games, Bridge

feat: form scaffolding
  src/components/games/bridge/score-dialog/ScoreDialog.tsx
  src/components/games/bridge/score-dialog/ScoringTable.tsx
Due: üïπÔ∏è Games, Bridge

fix: tests
  src/components/games/bridge/Bridge.test.tsx
Due: üïπÔ∏è Games, Bridge

fix: highcharts enhancement
  src/components/games/botc/LiePie.tsx
  src/components/games/spades/control-bar/StatsBagsChart.tsx
  src/components/games/spades/control-bar/StatsNilsChart.tsx
  src/components/resume/cars/graphs/CarChart.tsx
  src/components/resume/cars/graphs/CarSankeyGraph.tsx
  src/components/resume/cars/graphs/CarSpeedoGraph.tsx
  src/components/resume/comp-calc/graphs/BreakdownGraph.tsx
  src/components/resume/comp-calc/graphs/CompGraph.tsx
  src/components/resume/f1/charts/BudgetSankey.tsx
  src/components/resume/f1/charts/ConstructorPointsLine.tsx
  src/components/resume/f1/charts/ConstructorStandingsLine.tsx
  src/components/resume/f1/charts/DriverPointsLine.tsx
  src/components/resume/f1/charts/DriverStandingsLine.tsx
  src/components/resume/travel-map/cruises/CruiseCharts.tsx
  src/components/resume/travel-map/cruises/LoyaltyCharts.tsx
  src/components/resume/travel-map/map/WorldMap.tsx
  src/constants/f1.ts
Due: üïπÔ∏è Games, BotC, Spades, üìë Resume, Cars, Comp Calculator, F1, Travel

feat: dead players turn red & fix other travelers in base 3
  src/components/games/botc/player-notes/character-sheet/CharacterSheet.tsx
  src/components/games/botc/player-notes/character-sheet/Roles.tsx
Due: üïπÔ∏è Games, BotC

feat: add ad script
  index.html
  package-lock.json
Due: none

fix: lhci fixes
  .browserslistrc
  index.html
  lighthouserc.json
  vite.config.ts
Due: none

fix: lhci issues
  index.html
  lighthouserc.json
Due: none

fix: lhci
  index.html
Due: none

fix: ads
  lighthouserc.json
Due: none

fix: npm i audit fix
  package-lock.json
Due: none

fix: pkg json updates
  package-lock.json
Due: none

fix: add ads content
  ads.txt
  index.html
  package-lock.json
Due: none

feat: deploy ad updates
  docs/index.html
Due: none

fix: remove lighthouse supressions
  lighthouserc.json
Due: none

fix: invalid json
  lighthouserc.json
Due: none

fix: lhci
  lighthouserc.json
Due: none

feat: make notes multiline
  src/components/games/botc/player-notes/character-sheet/CharacterSheet.tsx
Due: üïπÔ∏è Games, BotC

feat: enhance bridge score form ui
  src/components/games/bridge/score-dialog/ScoreDialog.tsx
  src/components/games/bridge/score-dialog/ScoreForm.tsx
Due: üïπÔ∏è Games, Bridge

feat: begin algorithm for score tracking
  src/components/games/bridge/score-dialog/ScoreForm.tsx
Due: üïπÔ∏è Games, Bridge

feat: score table scaffolding
  src/components/games/bridge/Bridge.tsx
  src/components/games/bridge/ScoreDisplay.tsx
  src/components/games/bridge/score-dialog/ScoreForm.tsx
  src/components/games/bridge/score-dialog/ScoringTable.tsx
Due: üïπÔ∏è Games, Bridge

feat: jotai scaffolding for bridge
  src/components/games/bridge/Bridge.tsx
  src/components/games/bridge/ScoreDisplay.tsx
  src/components/games/bridge/bid-dialog/BidDialog.tsx
  src/components/games/bridge/score-dialog/ScoreDialog.tsx
  src/jotai/bridge-atom.ts
Due: üïπÔ∏è Games, Bridge

feat: finish bridge scoring
  src/components/games/bridge/Bridge.tsx
  src/components/games/bridge/ScoreDisplay.tsx
  src/components/games/bridge/score-dialog/ScoreDialog.tsx
  src/components/games/bridge/score-dialog/ScoreForm.tsx
  src/components/games/bridge/score-dialog/score-helper.tsx
  src/jotai/bridge-atom.ts
Due: üïπÔ∏è Games, Bridge

feat: minor code enhacements
  src/components/games/bridge/Bridge.tsx
  src/components/games/bridge/header/Header.tsx
  src/components/games/bridge/header/bid-dialog/BidDialog.tsx
  src/components/games/bridge/header/score-dialog/ScoreDialog.tsx
  src/components/games/bridge/header/score-dialog/ScoreForm.tsx
  src/components/games/bridge/header/score-dialog/ScoringTable.tsx
  src/components/games/bridge/header/score-dialog/score-helper.tsx
Due: üïπÔ∏è Games, Bridge

test: increase coverage
  src/components/games/bridge/Bridge.test.tsx
  src/components/games/bridge/ScoreDisplay.test.tsx
  src/components/games/bridge/header/Header.test.tsx
  src/components/games/bridge/header/score-dialog/ScoreForm.test.tsx
  src/components/games/bridge/header/score-dialog/ScoringTable.test.tsx
  src/components/games/bridge/header/score-dialog/score-helper.test.ts
  src/jotai/bridge-atom.test.ts
Due: üïπÔ∏è Games, Bridge

fix: build
  src/components/games/bridge/header/score-dialog/ScoreForm.test.tsx
Due: üïπÔ∏è Games, Bridge

feat: hide honors on successful defend
  src/components/games/bridge/header/score-dialog/ScoreForm.test.tsx
  src/components/games/bridge/header/score-dialog/ScoreForm.tsx
Due: üïπÔ∏è Games, Bridge

feat: add cursor rules
  .cursor/rules/accessibility.mdc
  .cursor/rules/cursor-rules.mdc
  .cursor/rules/project-structure.mdc
  .cursor/rules/self-improvement.mdc
  .cursor/rules/testing.mdc
  package-lock.json
Due: none

feat: add mcp server (docs)
  README.md
  package-lock.json
Due: none

feat: adding new bridge features
  package-lock.json
  src/components/games/bridge/ScoreDisplay.tsx
  src/components/games/bridge/header/Header.tsx
  src/components/games/bridge/header/score-dialog/ScoreDialog.tsx
  src/components/games/bridge/header/score-dialog/ScoreForm.tsx
  src/components/games/bridge/header/score-dialog/ScoreSummary.tsx
Due: üïπÔ∏è Games, Bridge
