Repository kennethbigler/react-home: changes, and which Codecov flags are due for each by the changed paths.
All: üïπÔ∏è Games, Are You the One?, Blackjack, BotC, Bridge, Connect4, Deal or No Deal, Family Feud, Imperial Assault, Murder Mystery, Poker, Slots, Spades, Tic Tac Toe, Type Checker, Werewolf, Yahtzee, üìë Resume, Cars, Comp Calculator, Education, F1, Presentations, Resume, Summary, Travel, Work

fix: abstract tabs
  .cursor/rules/project-structure.mdc
  src/components/common/tab-group/TabGroup.test.tsx
  src/components/common/tab-group/TabGroup.tsx
  src/components/common/tab-group/TabPanel.test.tsx
  src/components/common/tab-group/TabPanel.tsx
  src/components/common/tab-group/a11y-tab-props.test.ts
  src/components/common/tab-group/a11y-tab-props.ts
  src/components/common/tab-group/slugify-tab-prefix.test.ts
  src/components/common/tab-group/slugify-tab-prefix.ts
  src/components/games/bridge/header/bid-dialog/BidDialog.tsx
  src/components/resume/a11y-practice/A11yPractice.tsx
  src/components/resume/finances/Finances.tsx
Due: üïπÔ∏è Games, Bridge, üìë Resume

fix: coderabbit feedback
  src/components/common/tab-group/TabGroup.test.tsx
  src/components/common/tab-group/TabGroup.tsx
  src/components/resume/a11y-practice/components/Combobox.tsx
  src/components/resume/a11y-practice/components/Search.tsx
Due: üìë Resume

feat: remove unused a11y examples and refact budget
  src/components/resume/a11y-practice/A11yPractice.test.tsx
  src/components/resume/a11y-practice/A11yPractice.tsx
  src/components/resume/a11y-practice/components/Combobox.tsx
  src/components/resume/a11y-practice/components/DataTable.tsx
  src/components/resume/a11y-practice/components/Dialog.tsx
  src/components/resume/a11y-practice/components/FormFocus.tsx
  src/components/resume/a11y-practice/components/FormValidation.tsx
  src/components/resume/a11y-practice/components/NotificationBanner.tsx
  src/components/resume/a11y-practice/components/Search.tsx
  src/components/resume/a11y-practice/components/TabEx.tsx
  src/components/resume/finances/budgeting/BudgetCharts.test.tsx
  src/components/resume/finances/budgeting/BudgetCharts.tsx
  src/components/resume/finances/budgeting/Budgeting.test.tsx
  src/components/resume/finances/budgeting/Budgeting.tsx
  src/components/resume/finances/budgeting/ExpenseEntryDisplay.test.tsx
  src/components/resume/finances/budgeting/ExpenseEntryDisplay.tsx
  src/components/resume/finances/budgeting/entries/BudgetCategorySection.test.tsx
  src/components/resume/finances/budgeting/entries/BudgetCategorySection.tsx
  src/components/resume/finances/budgeting/entries/BudgetExpenses.test.tsx
  src/components/resume/finances/budgeting/entries/BudgetExpenses.tsx
  src/components/resume/finances/budgeting/entries/CategoryColorSelect.test.tsx
  src/components/resume/finances/budgeting/entries/CategoryColorSelect.tsx
  src/components/resume/finances/budgeting/entries/ExpenseEntryCard.test.tsx
  src/components/resume/finances/budgeting/entries/ExpenseEntryCard.tsx
  src/components/resume/finances/budgeting/entries/ExpenseEntryDialog.test.tsx
  src/components/resume/finances/budgeting/entries/ExpenseEntryDialog.tsx
  src/components/resume/finances/budgeting/entries/useBudgetEntries.ts
  src/components/resume/finances/budgeting/graphs/CategoryBreakdownPie.tsx
  src/components/resume/finances/budgeting/graphs/getBudgetPieContent.test.ts
  src/components/resume/finances/budgeting/graphs/getBudgetPieContent.ts
  src/components/resume/finances/budgeting/helpers/index.ts
  src/components/resume/menu-items.test.ts
  src/components/resume/menu-items.ts
  src/components/routeTitleUtils.test.ts
  src/constants/f1.ts
Due: üìë Resume

fix: slightly improve budgeting graphs
  src/components/resume/finances/budgeting/graphs/BudgetSankeyGraph.tsx
  src/components/resume/finances/budgeting/graphs/CategoryBreakdownPie.tsx
Due: üìë Resume

feat: net worth tab
  src/components/resume/finances/Finances.test.tsx
  src/components/resume/finances/Finances.tsx
  src/components/resume/finances/budgeting/entries/BudgetCategorySection.test.tsx
  src/components/resume/finances/budgeting/entries/BudgetExpenses.test.tsx
  src/components/resume/finances/budgeting/entries/ExpenseEntryDialog.test.tsx
  src/components/resume/finances/budgeting/entries/ExpenseEntryDialog.tsx
  src/components/resume/finances/budgeting/graphs/CategoryBreakdownPie.tsx
  src/components/resume/finances/comp-calc/CompCalculator.test.tsx
  src/components/resume/finances/comp-calc/CompEntryDialog.test.tsx
  src/components/resume/finances/comp-calc/CompEntryDialog.tsx
  src/components/resume/finances/comp-calc/CompHeader.tsx
  src/components/resume/finances/comp-calc/graphs/Graphs.test.tsx
  src/components/resume/finances/comp-calc/graphs/compGraphHelpers.ts
  src/components/resume/finances/net-worth/CategoriesDialog.test.tsx
  src/components/resume/finances/net-worth/CategoriesDialog.tsx
  src/components/resume/finances/net-worth/NetWorth.test.tsx
  src/components/resume/finances/net-worth/NetWorth.tsx
  src/components/resume/finances/net-worth/NetWorthActions.tsx
  src/components/resume/finances/net-worth/NetWorthEntryCard.test.tsx
  src/components/resume/finances/net-worth/NetWorthEntryCard.tsx
  src/components/resume/finances/net-worth/NetWorthEntryDialog.test.tsx
  src/components/resume/finances/net-worth/NetWorthEntryDialog.tsx
  src/components/resume/finances/net-worth/NetWorthEntryDisplay.tsx
  src/components/resume/finances/net-worth/graphs/BreakdownGraph.tsx
  src/components/resume/finances/net-worth/graphs/Graphs.test.tsx
  src/components/resume/finances/net-worth/graphs/Graphs.tsx
  src/components/resume/finances/net-worth/graphs/NetWorthGraph.tsx
  src/components/resume/finances/net-worth/graphs/colors.ts
  src/components/resume/finances/net-worth/graphs/netWorthGraphHelpers.ts
  src/components/resume/finances/net-worth/graphs/tests/highchartsMocks.tsx
  src/components/resume/finances/net-worth/sortCategories.test.ts
  src/components/resume/finances/net-worth/sortCategories.ts
  src/jotai/finances-atom.test.ts
  src/jotai/finances-atom.ts
Due: üìë Resume

fix: verify
  src/components/resume/finances/budgeting/entries/BudgetCategorySection.test.tsx
  src/components/resume/finances/budgeting/entries/BudgetExpenses.test.tsx
  src/components/resume/finances/net-worth/NetWorth.test.tsx
  src/components/resume/finances/net-worth/graphs/Graphs.test.tsx
  src/components/resume/finances/net-worth/graphs/netWorthGraphHelpers.ts
  src/components/resume/finances/net-worth/sortCategories.ts
Due: üìë Resume

feat: entry sorting
  src/apis/budget/budget.test.ts
  src/apis/budget/expenses.ts
  src/components/resume/finances/budgeting/graphs/chartData.test.ts
  src/components/resume/finances/budgeting/graphs/chartData.ts
  src/components/resume/finances/comp-calc/CompEntryDialog.tsx
  src/components/resume/finances/comp-calc/compEntryNumbers.test.ts
  src/components/resume/finances/comp-calc/compEntryNumbers.ts
  src/components/resume/finances/net-worth/CategoriesDialog.test.tsx
  src/components/resume/finances/net-worth/CategoriesDialog.tsx
  src/components/resume/finances/net-worth/NetWorth.test.tsx
  src/components/resume/finances/net-worth/NetWorth.tsx
  src/components/resume/finances/net-worth/NetWorthActions.tsx
  src/components/resume/finances/net-worth/graphs/BreakdownGraph.tsx
  src/components/resume/finances/net-worth/graphs/Graphs.test.tsx
  src/components/resume/finances/net-worth/graphs/buildNetWorthBreakdownPieData.ts
  src/components/resume/finances/net-worth/resolveCategoryMerges.ts
  src/components/resume/finances/net-worth/sortCategories.test.ts
  src/components/resume/finances/net-worth/sortCategories.ts
  src/constants/tests/taxHelpers.test.ts
  src/jotai/finances-atom.test.ts
  src/jotai/finances-atom.ts
Due: üìë Resume

fix: update next track
  src/components/resume/f1/Tracks.tsx
Due: üìë Resume, F1

fix: coderabbit feedback
  src/components/resume/f1/Track.tsx
  src/components/resume/f1/Tracks.test.tsx
  src/components/resume/finances/budgeting/entries/BudgetCategorySection.test.tsx
  src/components/resume/finances/budgeting/entries/ExpenseEntryDialog.tsx
  src/components/resume/finances/budgeting/graphs/CategoryBreakdownPie.tsx
  src/components/resume/finances/budgeting/graphs/chartColors.test.ts
  src/components/resume/finances/budgeting/graphs/chartColors.ts
  src/components/resume/finances/budgeting/graphs/chartData.test.ts
  src/components/resume/finances/budgeting/graphs/chartData.ts
  src/components/resume/finances/comp-calc/CompEntryDialog.test.tsx
  src/components/resume/finances/comp-calc/CompEntryDialog.tsx
  src/components/resume/finances/comp-calc/graphs/Graphs.test.tsx
  src/components/resume/finances/comp-calc/graphs/Graphs.tsx
  src/components/resume/finances/net-worth/CategoriesDialog.test.tsx
  src/components/resume/finances/net-worth/CategoriesDialog.tsx
  src/components/resume/finances/net-worth/NetWorth.test.tsx
  src/components/resume/finances/net-worth/NetWorthActions.tsx
  src/components/resume/finances/net-worth/NetWorthEntryDialog.test.tsx
  src/components/resume/finances/net-worth/NetWorthEntryDialog.tsx
  src/components/resume/finances/net-worth/graphs/BreakdownGraph.tsx
  src/components/resume/finances/net-worth/graphs/Graphs.test.tsx
  src/components/resume/finances/net-worth/graphs/NetWorthGraph.tsx
  src/components/resume/finances/net-worth/graphs/netWorthGraphHelpers.ts
  src/components/resume/finances/net-worth/graphs/tests/highchartsMocks.tsx
  src/constants/payrollDeductions.ts
Due: üìë Resume, F1

fix: tests and more feedback
  src/components/resume/f1/Tracks.test.tsx
  src/components/resume/finances/budgeting/BudgetCharts.test.tsx
  src/components/resume/finances/budgeting/graphs/CategoryBreakdownPie.tsx
  src/components/resume/finances/comp-calc/CompCalculator.test.tsx
Due: üìë Resume, F1

fix: npm audit
  package-lock.json
Due: none

fix: audit finances
  src/components/resume/finances/budgeting/BudgetCharts.test.tsx
  src/components/resume/finances/budgeting/BudgetCharts.tsx
  src/components/resume/finances/budgeting/Budgeting.test.tsx
  src/components/resume/finances/budgeting/entries/BudgetCategorySection.test.tsx
  src/components/resume/finances/budgeting/entries/BudgetExpenses.test.tsx
  src/components/resume/finances/budgeting/entries/BudgetExpenses.tsx
  src/components/resume/finances/budgeting/entries/ExpenseEntryCard.test.tsx
  src/components/resume/finances/budgeting/entries/ExpenseEntryCard.tsx
  src/components/resume/finances/budgeting/entries/ExpenseEntryDialog.tsx
  src/components/resume/finances/budgeting/entries/useBudgetEntries.ts
  src/components/resume/finances/budgeting/graphs/BudgetSankeyGraph.tsx
  src/components/resume/finances/comp-calc/CompActions.tsx
  src/components/resume/finances/comp-calc/CompCalculator.test.tsx
  src/components/resume/finances/comp-calc/CompCalculator.tsx
  src/components/resume/finances/comp-calc/CompEntryCard.test.tsx
  src/components/resume/finances/comp-calc/CompEntryCard.tsx
  src/components/resume/finances/comp-calc/CompEntryDialog.test.tsx
  src/components/resume/finances/comp-calc/CompEntryDialog.tsx
  src/components/resume/finances/comp-calc/CompEntryDisplay.tsx
  src/components/resume/finances/comp-calc/StockDialog.tsx
  src/components/resume/finances/comp-calc/StockDisplay.tsx
  src/components/resume/finances/net-worth/CategoriesDialog.test.tsx
  src/components/resume/finances/net-worth/CategoriesDialog.tsx
  src/components/resume/finances/net-worth/NetWorth.test.tsx
  src/components/resume/finances/net-worth/NetWorth.tsx
  src/components/resume/finances/net-worth/NetWorthActions.tsx
  src/components/resume/finances/net-worth/NetWorthEntryCard.test.tsx
  src/components/resume/finances/net-worth/NetWorthEntryCard.tsx
  src/components/resume/finances/net-worth/NetWorthEntryDialog.test.tsx
  src/components/resume/finances/net-worth/NetWorthEntryDialog.tsx
  src/jotai/finances-atom.test.ts
  src/jotai/finances-atom.ts
Due: üìë Resume

feat: minor ui improvements
  src/apis/DateHelper.ts
  src/components/resume/f1/Track.test.tsx
  src/components/resume/f1/Track.tsx
  src/components/resume/f1/Tracks.tsx
  src/components/resume/finances/comp-calc/CompEntryCard.tsx
  src/components/resume/finances/net-worth/NetWorthEntryCard.test.tsx
  src/components/resume/finances/net-worth/NetWorthEntryCard.tsx
Due: üìë Resume, F1

feat: update some constants
  src/components/resume/f1/Tracks.tsx
  src/constants/cruises.ts
  src/constants/travel.ts
Due: üìë Resume, F1

feat: adding deductions and joint filing
  src/apis/budget/budget.test.ts
  src/apis/budget/budgetFlow.ts
  src/apis/budget/expenses.ts
  src/apis/budget/tax.ts
  src/apis/budget/types.ts
  src/components/resume/f1/Tracks.test.tsx
  src/components/resume/f1/Tracks.tsx
  src/components/resume/finances/budgeting/entries/BudgetExpenses.test.tsx
  src/components/resume/finances/budgeting/entries/BudgetExpenses.tsx
  src/components/resume/finances/budgeting/entries/ExpenseEntryDialog.test.tsx
  src/components/resume/finances/budgeting/entries/ExpenseEntryDialog.tsx
  src/components/resume/finances/budgeting/graphs/chartColors.fallback.test.ts
  src/components/resume/finances/budgeting/graphs/chartColors.ts
  src/components/resume/finances/budgeting/graphs/chartData.test.ts
  src/components/resume/finances/budgeting/graphs/chartData.ts
  src/components/resume/finances/budgeting/graphs/types.ts
  src/constants/caStateTaxBrackets.ts
  src/constants/federalTaxBrackets.ts
  src/jotai/finances-atom.test.ts
  src/jotai/finances-atom.ts
Due: üìë Resume, F1

feat: update f1 standings
  src/constants/f1.ts
Due: none

fix: coderabbit feedback
  src/apis/budget/budget.test.ts
  src/apis/budget/tax.ts
  src/components/resume/f1/Tracks.test.tsx
  src/components/resume/finances/budgeting/entries/BudgetExpenses.test.tsx
  src/components/resume/finances/budgeting/entries/BudgetExpenses.tsx
  src/components/resume/finances/budgeting/graphs/types.ts
  src/constants/caStateTaxBrackets.ts
  src/constants/federalTaxBrackets.ts
  src/jotai/finances-atom.test.ts
Due: üìë Resume, F1

fix: coderabbit feedback
  src/jotai/finances-atom.test.ts
Due: none

fix: tests
  src/jotai/finances-atom.test.ts
Due: none

fix: coderabbit feedback
  src/apis/budget/budget.test.ts
  src/apis/budget/tax.ts
Due: none

feat: deploy updates
  docs/assets/Header-1luxrx0k.js
  docs/assets/Header-DdbRQByW.js
  docs/assets/Home-B9xYdxMX.js
  docs/assets/Home-BGUiMVnB.js
  docs/assets/Routes-CMd1BTS6.js
  docs/assets/Routes-C_PjG_7t.js
  docs/assets/Routes-Gxa7bvHK.js
  docs/assets/Routes-dfuxE6OY.js
  docs/assets/botc-DqYwLg-3.js
  docs/assets/botc-pKA12Vnl.js
  docs/assets/botc-scripts-Dm7Lwl5t.js
  docs/assets/botc-scripts-MHR3TCpY.js
  docs/assets/cars-BNPxhIz4.js
  docs/assets/cars-CS0JmqJE.js
  docs/assets/f1-CS6vF6G5.js
  docs/assets/f1-RSFmv9Qg.js
  docs/assets/finances-DI3cjuXG.js
  docs/assets/finances-DYxBeQJg.js
  docs/assets/index-BGPoCXna.js
  docs/assets/index-u1yeHWYT.js
  docs/assets/spades-CCJ9WtHD.js
  docs/assets/spades-D6h0wUCM.js
  docs/assets/travel-map-B-paKaVy.js
  docs/assets/travel-map-B8MNDsab.js
  docs/index.html
  src/data/botc-scripts.json
Due: none

fix: logic for bridge bidding
  .coderabbit.yaml
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.test.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.ts
Due: üïπÔ∏è Games, Bridge

feat: bridge app progress
  package-lock.json
  src/components/games/bridge/header/bid-dialog/BidAdvisor.tsx
  src/components/games/bridge/header/bid-dialog/advisor/AuctionContext.tsx
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.test.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.ts
  src/components/games/bridge/header/bid-dialog/advisor/sim-audit.test.ts
Due: üïπÔ∏è Games, Bridge

fix: add prompt too
  src/components/games/bridge/header/bid-dialog/advisor/sim-audit.test.ts
Due: üïπÔ∏è Games, Bridge

fix: ci/cd tests
  src/components/games/bridge/header/bid-dialog/advisor/sim-audit.test.ts
Due: üïπÔ∏è Games, Bridge

fix: update instructions
  src/components/games/bridge/header/bid-dialog/advisor/sim-audit.test.ts
Due: üïπÔ∏è Games, Bridge

fix: update work days
  src/constants/travel.ts
Due: none

fix: coderabbit feedback
  src/components/common/highcharts/tests/highchartsMocks.tsx
  src/components/games/bridge/header/bid-dialog/advisor/AuctionContext.tsx
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.test.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.ts
  src/components/games/bridge/header/bid-dialog/advisor/sim-audit.test.ts
  src/components/resume/finances/comp-calc/CompCalculator.test.tsx
  src/components/resume/finances/comp-calc/CompEntryDialog.tsx
  src/components/resume/finances/comp-calc/StockDialog.test.tsx
  src/components/resume/finances/comp-calc/StockDialog.tsx
  src/components/resume/finances/comp-calc/graphs/colors.ts
  src/components/resume/finances/shared/useChartTextColor.ts
Due: üïπÔ∏è Games, Bridge, üìë Resume

fix: coderabbit feedback pt2
  src/components/games/bridge/header/bid-dialog/advisor/sim-audit.test.ts
  src/components/resume/finances/comp-calc/CompCalculator.test.tsx
  src/components/resume/finances/comp-calc/StockDialog.test.tsx
  src/components/resume/finances/comp-calc/StockDialog.tsx
Due: üïπÔ∏è Games, Bridge, üìë Resume

fix: remove a11y route and fix CR feedback
  src/components/games/bridge/header/bid-dialog/advisor/sim-audit.test.ts
  src/components/resume/Routes.test.tsx
  src/components/resume/a11y-practice/A11yPractice.test.tsx
  src/components/resume/a11y-practice/A11yPractice.tsx
  src/components/resume/a11y-practice/index.ts
  src/components/resume/a11y-practice/stream-helpers/mockTokenStream.test.ts
  src/components/resume/a11y-practice/stream-helpers/mockTokenStream.ts
  src/components/resume/a11y-practice/stream-helpers/starWarsIntros.ts
  src/components/resume/a11y-practice/v1/AnnouncementEngine.test.ts
  src/components/resume/a11y-practice/v1/AnnouncementEngine.ts
  src/components/resume/a11y-practice/v1/StreamExample.test.tsx
  src/components/resume/a11y-practice/v1/StreamExample.tsx
  src/components/resume/a11y-practice/v2/AnnouncementEngine.test.ts
  src/components/resume/a11y-practice/v2/AnnouncementEngine.ts
  src/components/resume/a11y-practice/v2/StreamExample.test.tsx
  src/components/resume/a11y-practice/v2/StreamExample.tsx
  src/components/resume/finances/comp-calc/graphs/CompGraph.test.tsx
  src/components/resume/finances/net-worth/graphs/Graphs.test.tsx
  src/components/resume/finances/shared/useChartTextColor.ts
  src/components/resume/menu-items.test.ts
  src/components/resume/menu-items.ts
  src/components/routeTitleUtils.test.ts
Due: üïπÔ∏è Games, Bridge, üìë Resume

fix: test ensuring removal
  src/components/resume/menu-items.test.ts
Due: üìë Resume

feat: combine edu and work
  src/components/Routes.test.tsx
  src/components/resume/Menu.test.tsx
  src/components/resume/Routes.test.tsx
  src/components/resume/education/Education.test.tsx
  src/components/resume/education/Education.tsx
  src/components/resume/education/index.ts
  src/components/resume/menu-items.test.ts
  src/components/resume/menu-items.ts
  src/components/resume/work/Work.tsx
  src/components/resume/work/tests/Work.test.tsx
  src/components/routeTitleUtils.test.ts
Due: üìë Resume, Education, Work

fix: remove more school stuff
  src/components/resume/work/tests/Job.test.tsx
  src/components/resume/work/tests/WorkCards.test.tsx
  src/constants/tests/work.test.ts
  src/constants/work.ts
Due: üìë Resume, Work

fix: remove some old package.json code
  package.json
Due: none

feat: update deps
  package-lock.json
  package.json
  src/components/games/botc/player-notes/character-sheet/RoleSection.test.tsx
  src/components/resume/work/tests/Job.test.tsx
Due: üïπÔ∏è Games, BotC, üìë Resume, Work

Path conditions:
  üïπÔ∏è Games: any of: src/components/games/**
  Are You the One?: any of: src/components/games/are-you-the-one/**
  Blackjack: any of: src/components/games/blackjack/**
  BotC: any of: src/components/games/botc/**
  Bridge: any of: src/components/games/bridge/**
  Connect4: any of: src/components/games/connect4/**
  Deal or No Deal: any of: src/components/games/deal-or-no-deal/**
  Family Feud: any of: src/components/games/family-feud/**
  Imperial Assault: any of: src/components/games/imperial-assault/**
  Murder Mystery: any of: src/components/games/murder-mystery/**
  Poker: any of: src/components/games/poker/**
  Slots: any of: src/components/games/slots/**
  Spades: any of: src/components/games/spades/**
  Tic Tac Toe: any of: src/components/games/tictactoe/**
  Type Checker: any of: src/components/games/type-checker/**
  Werewolf: any of: src/components/games/werewolf/**
  Yahtzee: any of: src/components/games/yahtzee/**
  üìë Resume: any of: src/components/resume/**
  Cars: any of: src/components/resume/cars/**
  Comp Calculator: any of: src/components/resume/comp-calc/**
  Education: any of: src/components/resume/education/**
  F1: any of: src/components/resume/f1/**
  Presentations: any of: src/components/resume/presentations/**
  Resume: any of: src/components/resume/resume/**
  Summary: any of: src/components/resume/summary/**
  Travel: any of: src/components/resume/travel-map/**
  Work: any of: src/components/resume/work/**
