Repository kennethbigler/react-home: changes, and which Codecov flags are due for each by the changed paths.
All: üïπÔ∏è Games, Are You the One?, Blackjack, BotC, Bridge, Connect4, Deal or No Deal, Family Feud, Imperial Assault, Murder Mystery, Poker, Slots, Spades, Tic Tac Toe, Type Checker, Werewolf, Yahtzee, üìë Resume, Cars, Comp Calculator, Education, F1, Presentations, Resume, Summary, Travel, Work

codecov.yml:

# ... previous config options...

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment
  
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_games  # ‚ö†Ô∏è ID, do not change
      name: üïπÔ∏è Games  # display name, change freely
      paths:
        - src/components/games/**
    - component_id: module_games_are_you_the_one
      name: Are You the One?
      paths:
        - src/components/games/are-you-the-one/**
    - component_id: module_games_blackjack
      name: Blackjack
      paths:
        - src/components/games/blackjack/**
    - component_id: module_games_botc
      name: BotC
      paths:
        - src/components/games/botc/**
    - component_id: module_games_bridge
      name: Bridge
      paths:
        - src/components/games/bridge/**
    - component_id: module_games_connect4
      name: Connect4
      paths:
        - src/components/games/connect4/**
    - component_id: module_games_deal
      name: Deal or No Deal
      paths:
        - src/components/games/deal-or-no-deal/**
    - component_id: module_games_family_feud
      name: Family Feud
      paths:
        - src/components/games/family-feud/**
    - component_id: module_games_imperial_assault
      name: Imperial Assault
      paths:
        - src/components/games/imperial-assault/**
    - component_id: module_games_murder_mystery
      name: Murder Mystery
      paths:
        - src/components/games/murder-mystery/**
    - component_id: module_games_poker
      name: Poker
      paths:
        - src/components/games/poker/**
    - component_id: module_games_slots
      name: Slots
      paths:
        - src/components/games/slots/**
    - component_id: module_games_spades
      name: Spades
      paths:
        - src/components/games/spades/**
    - component_id: module_games_tictactoe
      name: Tic Tac Toe
      paths:
        - src/components/games/tictactoe/**
    - component_id: module_games_type_checker
      name: Type Checker
      paths:
        - src/components/games/type-checker/**
    - component_id: module_games_werewolf
      name: Werewolf
      paths:
        - src/components/games/werewolf/**
    - component_id: module_games_yahtzee
      name: Yahtzee
      paths:
        - src/components/games/yahtzee/**
    - component_id: module_resume  # ‚ö†Ô∏è ID, do not change
      name: üìë Resume  # display name, change freely
      paths:
        - src/components/resume/**
    - component_id: module_resume_cars
      name: Cars
      paths:
        - src/components/resume/cars/**
    - component_id: module_resume_comp_calc
      name: Comp Calculator
      paths:
        - src/components/resume/comp-calc/**
    - component_id: module_resume_education
      name: Education
      paths:
        - src/components/resume/education/**
    - component_id: module_resume_f1
      name: F1
      paths:
        - src/components/resume/f1/**
    - component_id: module_resume_presentations
      name: Presentations
      paths:
        - src/components/resume/presentations/**
    - component_id: module_resume_resume
      name: Resume
      paths:
        - src/components/resume/resume/**
    - component_id: module_resume_summary
      name: Summary
      paths:
        - src/components/resume/summary/**
    - component_id: module_resume_travel
      name: Travel
      paths:
        - src/components/resume/travel-map/**
    - component_id: module_resume_work
      name: Work
      paths:
        - src/components/resume/work/**

fix: tests
  src/components/games/bridge/header/Header.test.tsx
  src/components/games/bridge/header/bid-dialog/BidDialog.test.tsx
  src/components/games/bridge/header/score-dialog/ScoreDialog.test.tsx
  src/components/games/bridge/header/score-dialog/ScoreForm.test.tsx
  src/components/games/bridge/header/score-dialog/ScoreSummary.test.tsx
Due: üïπÔ∏è Games, Bridge

feat: other bridge requested features
  src/components/games/bridge/ScoreDisplay.test.tsx
  src/components/games/bridge/ScoreDisplay.tsx
  src/components/games/bridge/header/Header.test.tsx
  src/components/games/bridge/header/score-dialog/ScoreDialog.test.tsx
  src/components/games/bridge/header/score-dialog/ScoreDialog.tsx
  src/components/games/bridge/header/score-dialog/ScoreForm.test.tsx
  src/components/games/bridge/header/score-dialog/ScoreForm.tsx
  src/components/games/bridge/header/score-dialog/score-helper.test.ts
  src/components/games/bridge/header/score-dialog/score-helper.tsx
  src/jotai/bridge-atom.test.ts
  src/jotai/bridge-atom.ts
Due: üïπÔ∏è Games, Bridge

fix: stop package-lock mismatch issues
  README.md
  package-lock.json
  package.json
  renovate.json
Due: none

feat: upgrade jsdom
  package-lock.json
  package.json
  src/jotai/bridge-atom.test.ts
Due: none

fix: don't test images
  src/setupTests.ts
Due: none

fix: update mocks and timeout
  src/setupTests.ts
  vite.config.ts
Due: none

fix: lint
  src/setupTests.ts
Due: none

test: improve reliability
  src/components/resume/cars/tests/Cars.test.tsx
  src/components/resume/f1/F1.test.tsx
  vite.config.ts
Due: üìë Resume, Cars, F1

fix: renovate issues
  renovate.json
Due: none

fix: revert renovate updates
  renovate.json
Due: none

feat: update tracks for 2026
  src/components/resume/f1/Track.tsx
  src/components/resume/f1/Tracks.tsx
  src/constants/f1.ts
  src/images/tracks/Madrid_Circuit.avif
Due: üìë Resume, F1

feat: update drivers and fix test
  src/components/resume/f1/F1.test.tsx
  src/constants/f1.ts
Due: üìë Resume, F1

feat: final f1-25 update
  src/constants/f1.ts
Due: none

feat: add f1 contract durations
  src/components/common/timeline-parts/Row.tsx
  src/components/common/timeline-parts/Segment.tsx
  src/components/common/timeline-parts/YearMarkers.tsx
  src/components/common/timeline-parts/tests/Row.test.tsx
  src/components/common/timeline-parts/tests/Segment.test.tsx
  src/components/common/timeline-parts/tests/YearMarkers.test.tsx
  src/components/resume/cars/Cars.tsx
  src/components/resume/cars/timeline-card/TimelineCard.tsx
  src/components/resume/cars/timeline-card/index.ts
  src/components/resume/f1/F1.tsx
  src/components/resume/f1/timeline-card/TimelineCard.tsx
  src/components/resume/f1/timeline-card/tests/TimelineCard.test.tsx
  src/components/resume/f1/timeline-card/timelineHelpers.ts
  src/constants/f1.ts
Due: üìë Resume, Cars, F1

feat: migrate images to table
  src/components/common/info-popover/InfoPopup.tsx
  src/components/games/bridge/header/bid-dialog/BalancedHands.tsx
  src/components/games/bridge/header/bid-dialog/BidDialog.tsx
  src/components/games/bridge/header/bid-dialog/BiddingTable.tsx
  src/components/games/bridge/header/bid-dialog/UnbalancedHands.tsx
  src/images/bridge_bidding_cheat_sheet_1.jpg
  src/images/bridge_bidding_cheat_sheet_2.jpg
  src/images/ken_bridge_betting.jpg
Due: üïπÔ∏è Games, Bridge

feat: finish unbalanced hands
  src/components/games/bridge/header/bid-dialog/BalancedHands.tsx
  src/components/games/bridge/header/bid-dialog/UnbalancedHands.tsx
Due: üïπÔ∏è Games, Bridge

fix: improved layout
  src/components/games/bridge/header/bid-dialog/BalancedHands.tsx
  src/components/games/bridge/header/bid-dialog/UnbalancedHands.tsx
Due: üïπÔ∏è Games, Bridge

feat: bid table completion
  src/components/games/bridge/header/bid-dialog/BalancedHands.tsx
  src/components/games/bridge/header/bid-dialog/BiddingTable.tsx
  src/components/games/bridge/header/bid-dialog/Overcalls.tsx
  src/components/games/bridge/header/bid-dialog/UnbalancedHands.tsx
Due: üïπÔ∏è Games, Bridge

fix: tests
  src/components/games/bridge/header/bid-dialog/BalancedHands.test.tsx
  src/components/games/bridge/header/bid-dialog/BidDialog.test.tsx
  src/components/games/bridge/header/bid-dialog/BiddingTable.test.tsx
  src/components/games/bridge/header/bid-dialog/Overcalls.test.tsx
  src/components/games/bridge/header/bid-dialog/UnbalancedHands.test.tsx
Due: üïπÔ∏è Games, Bridge

feat: bid display issue, 1nt open resp, not counting vul, bid disp double, total calc
  src/components/games/bridge/ScoreDisplay.tsx
  src/components/games/bridge/header/Header.tsx
  src/components/games/bridge/header/bid-dialog/BalancedHands.tsx
  src/components/games/bridge/header/score-dialog/ScoreDialog.tsx
  src/components/games/bridge/header/score-dialog/score-helper.tsx
  src/jotai/bridge-atom.ts
Due: üïπÔ∏è Games, Bridge

fix: 1suit responses and tests
  src/components/games/bridge/ScoreDisplay.test.tsx
  src/components/games/bridge/header/bid-dialog/UnbalancedHands.tsx
  src/components/games/bridge/header/bid-dialog/tests/BalancedHands.test.tsx
Due: üïπÔ∏è Games, Bridge

fix: build
  src/components/games/bridge/header/score-dialog/score-helper.test.ts
Due: üïπÔ∏è Games, Bridge

feat: add countries to travel map
  src/constants/travel.ts
Due: none

fix: move overleaf down and combine doubles
  src/components/games/bridge/header/bid-dialog/BiddingTable.tsx
  src/components/games/bridge/header/bid-dialog/Overcalls.tsx
  src/components/games/bridge/header/bid-dialog/Overleaf.tsx
  src/components/games/bridge/header/bid-dialog/UnbalancedHands.tsx
  src/components/games/bridge/header/bid-dialog/tests/BidDialog.test.tsx
  src/components/games/bridge/header/bid-dialog/tests/BiddingTable.test.tsx
  src/components/games/bridge/header/bid-dialog/tests/Overcalls.test.tsx
  src/components/games/bridge/header/bid-dialog/tests/Overleaf.test.tsx
Due: üïπÔ∏è Games, Bridge

fix: countries visited list
  src/constants/travel.ts
Due: none

feat: rename yearmarkers
  src/components/common/timeline-parts/Row.tsx
  src/components/common/timeline-parts/YearMarker.tsx
  src/components/common/timeline-parts/tests/YearMarker.test.tsx
  src/components/resume/cars/timeline-card/TimelineCard.tsx
  src/components/resume/f1/timeline-card/TimelineCard.tsx
Due: üìë Resume, Cars, F1

feat: show current year on f1 chart
  src/components/common/timeline-parts/Row.tsx
  src/components/common/timeline-parts/YearMarker.tsx
  src/components/resume/f1/timeline-card/timelineHelpers.ts
Due: üìë Resume, F1

feat: update sailing terms
  src/components/resume/summary/Info.tsx
Due: üìë Resume, Summary

feat: update travel map colors
  src/components/resume/travel-map/map/CountryTable.tsx
  src/components/resume/travel-map/map/WorldMap.tsx
  src/constants/travel.ts
Due: üìë Resume, Travel

fix: cruise countries
  src/constants/cruises.ts
Due: none

fix: remove dead code
  src/components/resume/travel-map/map/WorldMap.tsx
Due: üìë Resume, Travel

feat: add wins to f1 contract timelines
  src/constants/f1.ts
Due: none

feat: update cruise table and accuracy
  src/components/resume/travel-map/cruises/CruiseTable.tsx
  src/constants/cruises.ts
Due: üìë Resume, Travel
