Repository kennethbigler/react-home: changes, and which Codecov flags are due for each by the changed paths.
All: üïπÔ∏è Games, Are You the One?, Blackjack, BotC, Bridge, Connect4, Deal or No Deal, Family Feud, Imperial Assault, Murder Mystery, Poker, Slots, Spades, Tic Tac Toe, Type Checker, Werewolf, Yahtzee, üìë Resume, Cars, Comp Calculator, Education, F1, Presentations, Resume, Summary, Travel, Work

codecov.yml:

# ... previous config options...

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment
  
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_games  # ‚ö†Ô∏è ID, do not change
      name: üïπÔ∏è Games  # display name, change freely
      paths:
        - src/components/games/**
    - component_id: module_games_are_you_the_one
      name: Are You the One?
      paths:
        - src/components/games/are-you-the-one/**
    - component_id: module_games_blackjack
      name: Blackjack
      paths:
        - src/components/games/blackjack/**
    - component_id: module_games_botc
      name: BotC
      paths:
        - src/components/games/botc/**
    - component_id: module_games_bridge
      name: Bridge
      paths:
        - src/components/games/bridge/**
    - component_id: module_games_connect4
      name: Connect4
      paths:
        - src/components/games/connect4/**
    - component_id: module_games_deal
      name: Deal or No Deal
      paths:
        - src/components/games/deal-or-no-deal/**
    - component_id: module_games_family_feud
      name: Family Feud
      paths:
        - src/components/games/family-feud/**
    - component_id: module_games_imperial_assault
      name: Imperial Assault
      paths:
        - src/components/games/imperial-assault/**
    - component_id: module_games_murder_mystery
      name: Murder Mystery
      paths:
        - src/components/games/murder-mystery/**
    - component_id: module_games_poker
      name: Poker
      paths:
        - src/components/games/poker/**
    - component_id: module_games_slots
      name: Slots
      paths:
        - src/components/games/slots/**
    - component_id: module_games_spades
      name: Spades
      paths:
        - src/components/games/spades/**
    - component_id: module_games_tictactoe
      name: Tic Tac Toe
      paths:
        - src/components/games/tictactoe/**
    - component_id: module_games_type_checker
      name: Type Checker
      paths:
        - src/components/games/type-checker/**
    - component_id: module_games_werewolf
      name: Werewolf
      paths:
        - src/components/games/werewolf/**
    - component_id: module_games_yahtzee
      name: Yahtzee
      paths:
        - src/components/games/yahtzee/**
    - component_id: module_resume  # ‚ö†Ô∏è ID, do not change
      name: üìë Resume  # display name, change freely
      paths:
        - src/components/resume/**
    - component_id: module_resume_cars
      name: Cars
      paths:
        - src/components/resume/cars/**
    - component_id: module_resume_comp_calc
      name: Comp Calculator
      paths:
        - src/components/resume/comp-calc/**
    - component_id: module_resume_education
      name: Education
      paths:
        - src/components/resume/education/**
    - component_id: module_resume_f1
      name: F1
      paths:
        - src/components/resume/f1/**
    - component_id: module_resume_presentations
      name: Presentations
      paths:
        - src/components/resume/presentations/**
    - component_id: module_resume_resume
      name: Resume
      paths:
        - src/components/resume/resume/**
    - component_id: module_resume_summary
      name: Summary
      paths:
        - src/components/resume/summary/**
    - component_id: module_resume_travel
      name: Travel
      paths:
        - src/components/resume/travel-map/**
    - component_id: module_resume_work
      name: Work
      paths:
        - src/components/resume/work/**

fix: 404 page update and attempt a11y scanner on local
  .github/workflows/main.yml
  public/404.html
Due: none

fix: more coderabbit feedback
  src/components/common/timeline-parts/Segment.tsx
  src/components/common/timeline-parts/tests/Segment.test.tsx
  src/components/resume/f1/timeline-card/TimelineCard.tsx
  src/components/resume/f1/timeline-card/tests/TimelineCard.test.tsx
  src/components/resume/f1/timeline-card/timelineHelpers.ts
Due: üìë Resume, F1

fix: coderabbit feedback
  .github/actions/setup-node/action.yml
  src/apis/cssEscape.ts
  src/apis/tests/cssEscape.test.ts
  src/components/games/werewolf/Werewolf.test.tsx
Due: üïπÔ∏è Games, Werewolf

fix: coderabbit feedback
  .github/workflows/main.yml
  src/App.test.tsx
  src/apis/outlinedButtonSx.ts
  src/components/common/info-popover/InfoPopup.tsx
  src/components/games/botc/BotC.test.tsx
  src/components/games/botc/LiePie.tsx
  src/components/games/botc/header/Controls.test.tsx
  src/components/games/botc/header/Header.test.tsx
  src/components/games/botc/header/Tracker.tsx
  src/components/games/botc/header/edit-players/EditPlayers.tsx
  src/components/games/botc/player-notes/PlayerNotes.tsx
  src/components/games/botc/player-notes/character-sheet/RoleSection.tsx
  src/components/games/werewolf/Werewolf.test.tsx
  src/components/games/werewolf/WerewolfPanel.tsx
Due: üïπÔ∏è Games, BotC, Werewolf

feat: add playwright a11y scanner + fix
  .github/workflows/main.yml
  package-lock.json
  package.json
  scripts/a11y-live-scan.mjs
  src/App.test.tsx
  src/components/common/info-popover/InfoPopup.tsx
  src/components/games/Home.tsx
  src/components/games/botc/BotC.test.tsx
  src/components/games/botc/LiePie.tsx
  src/components/games/botc/header/Controls.test.tsx
  src/components/games/botc/header/Controls.tsx
  src/components/games/botc/header/Header.test.tsx
  src/components/games/botc/header/Tracker.tsx
  src/components/games/botc/header/edit-players/EditPlayers.tsx
  src/components/games/botc/player-notes/PlayerNotes.tsx
  src/components/games/botc/player-notes/character-sheet/RoleSection.tsx
  src/components/games/connect4/Connect4.test.tsx
  src/components/games/spades/Header.tsx
  src/components/games/spades/control-bar/ShowStats.tsx
  src/components/games/tictactoe/History.tsx
  src/components/games/werewolf/Werewolf.test.tsx
  src/components/games/werewolf/WerewolfPanel.tsx
  src/components/resume/f1/Track.tsx
  src/constants/type-checker.ts
Due: üïπÔ∏è Games, BotC, Connect4, Spades, Tic Tac Toe, Werewolf, üìë Resume, F1

fix: spa waiter
  .github/dependabot.yml
  .github/workflows/main.yml
  package-lock.json
  package.json
  scripts/wait-for-spa.mjs
  src/components/games/connect4/Connect4.test.tsx
  src/components/games/connect4/Connect4.tsx
Due: üïπÔ∏è Games, Connect4

feat: add a11y scanner
  .github/workflows/main.yml
Due: none

feat: coderabbit feedback
  src/components/common/timeline-parts/Segment.tsx
  src/components/common/timeline-parts/tests/Segment.test.tsx
  src/components/resume/f1/timeline-card/tests/TimelineCard.test.tsx
  src/components/resume/f1/timeline-card/timelineHelpers.ts
Due: üìë Resume, F1

feat: enhance timeline
  src/components/common/timeline-parts/Segment.tsx
  src/components/common/timeline-parts/tests/Segment.test.tsx
  src/components/resume/f1/timeline-card/TimelineCard.tsx
  src/components/resume/f1/timeline-card/tests/TimelineCard.test.tsx
  src/components/resume/f1/timeline-card/timelineHelpers.ts
  src/constants/f1.ts
Due: üìë Resume, F1

fix: coderabbit feedback and split out main.yml
  .github/actions/setup-node/action.yml
  .github/workflows/main.yml
  src/components/games/botc/player-notes/character-sheet/RoleSection.test.tsx
  src/components/games/botc/player-notes/character-sheet/RoleSection.tsx
  src/components/games/werewolf/Werewolf.test.tsx
  src/setupTests.ts
Due: üïπÔ∏è Games, BotC, Werewolf

fix: coderabbit feedback and swap gh-a11y-scan to prod
  .coderabbit.yaml
  .github/dependabot.yml
  .github/workflows/main.yml
  package-lock.json
  package.json
  scripts/wait-for-spa.mjs
  scripts/wait-for-spa.test.mjs
  src/components/common/timeline-parts/Row.tsx
  src/components/common/timeline-parts/Segment.tsx
  src/components/common/timeline-parts/tests/Segment.test.tsx
  src/components/resume/f1/timeline-card/TimelineCard.tsx
  src/components/resume/f1/timeline-card/tests/TimelineCard.test.tsx
  src/components/resume/f1/timeline-card/timelineHelpers.ts
Due: üìë Resume, F1

feat: remove fetch-depth on build
  .github/workflows/main.yml
Due: none

feat: deploy timeline updates
  docs/assets/Header-Bl0FbkvM.js
  docs/assets/Header-D0OD40u0.js
  docs/assets/Home-CAmTXKmb.js
  docs/assets/Home-QXPLkj6n.js
  docs/assets/Routes-CxglZXL9.js
  docs/assets/Routes-D5PeymJX.js
  docs/assets/Routes-DEa4CZOx.js
  docs/assets/Routes-DlpYiYqX.js
  docs/assets/Row-CL0sw6QL.js
  docs/assets/Row-DqAkr_QN.js
  docs/assets/botc-Co6aM5Zt.js
  docs/assets/botc-CzOMwz2R.js
  docs/assets/botc-scripts-DzOWvVhi.js
  docs/assets/botc-scripts-wNzjXHYE.js
  docs/assets/cars-BSGt6NX7.js
  docs/assets/cars-D0u1kGjL.js
  docs/assets/charts-BIaVCyLE.js
  docs/assets/charts-BbzGKeb0.js
  docs/assets/coreHighcharts-BnCttBxc.js
  docs/assets/coreHighcharts-xNxH3K1_.js
  docs/assets/f1-Bjcs-ROW.js
  docs/assets/f1-DegQA1d8.js
  docs/assets/finances-CeHPyxB2.js
  docs/assets/finances-Dw4Tc_ru.js
  docs/assets/index-B-I10O_E.js
  docs/assets/index-BfgqvkJt.js
  docs/assets/react-vendor-BMu_56EE.js
  docs/assets/sankeyHighcharts-CJkRHsTr.js
  docs/assets/sankeyHighcharts-DgdNLyzf.js
  docs/assets/spades-3_-fEjld.js
  docs/assets/spades-DPArYCiz.js
  docs/assets/travel-map-C0rNwehw.js
  docs/assets/travel-map-D7RxMR_s.js
  docs/index.html
  src/data/botc-scripts.json
Due: none

fix: lhci optimizations
  package-lock.json
  package.json
  vite.config.ts
Due: none

fix: coderabbit feedback
  vite.config.ts
Due: none

fix: improve timeline on mobile
  src/components/common/timeline-parts/Row.tsx
  src/components/common/timeline-parts/Segment.tsx
  src/components/resume/cars/timeline-card/tests/TimelineCard.test.tsx
  src/components/resume/cars/timeline-card/timelineHelpers.ts
  src/components/resume/f1/timeline-card/timelineHelpers.ts
Due: üìë Resume, Cars, F1

fix: coderabbit test feedback
  src/components/resume/cars/timeline-card/tests/TimelineCard.test.tsx
Due: üìë Resume, Cars

feat: enhance app routing
  package-lock.json
  package.json
  src/components/Routes.test.tsx
  src/components/Routes.tsx
  src/components/common/NavMenuItems.tsx
  src/components/common/SectionRoutes.tsx
  src/components/common/header/Header.tsx
  src/components/common/header/tests/Header.test.tsx
  src/components/common/menu-types.ts
  src/components/games/Home.tsx
  src/components/games/HomeMenuItem.tsx
  src/components/games/Menu.tsx
  src/components/games/Routes.tsx
  src/components/games/menu-items.test.tsx
  src/components/games/tests/Home.test.tsx
  src/components/games/tests/Menu.test.tsx
  src/components/resume/Menu.test.tsx
  src/components/resume/Menu.tsx
  src/components/resume/Routes.test.tsx
  src/components/resume/Routes.tsx
  src/components/routeTitleUtils.test.ts
  src/components/routeTitleUtils.ts
  src/wrappers/WithRouter.tsx
Due: üïπÔ∏è Games, üìë Resume

feat: file cleanups
  src/App.test.tsx
  src/App.tsx
  src/components/Routes.test.tsx
  src/components/Routes.tsx
  src/components/common/SectionLayout.tsx
  src/components/common/SectionRoutes.tsx
  src/components/games/Routes.tsx
  src/components/resume/Routes.test.tsx
  src/components/resume/Routes.tsx
  src/main.test.tsx
  src/main.tsx
  src/wrappers/WithRouter.tsx
Due: üïπÔ∏è Games, üìë Resume

feat: bridge progress
  src/App.test.tsx
  src/components/games/bridge/header/bid-dialog/advisor/bidding-logic.test.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/advances.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/bid-meaning.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/conventions.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/derive-situation.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/double-rebids.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/opener-suit-rebids.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/openings.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/overcalls.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/responses.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/router.ts
  src/components/games/bridge/header/bid-dialog/advisor/bidding/second-turn-rebids.ts
Due: üïπÔ∏è Games, Bridge

feat: update sankey calculations
  src/components/common/highcharts/sankeyHighcharts.ts
  src/components/resume/cars/Cars.tsx
  src/components/resume/cars/graphs/CarGraphs.test.tsx
  src/components/resume/cars/graphs/CarGraphs.tsx
  src/components/resume/cars/graphs/CarSankeyGraph.test.tsx
  src/components/resume/cars/graphs/CarSankeyGraph.tsx
  src/constants/car-brands.ts
  src/constants/cars.ts
  src/constants/tests/car-brands.test.ts
  src/constants/tests/cars-sankey.test.ts
Due: üìë Resume, Cars

fix: remove unneeded memos
  .cursor/rules/react-maintenance.mdc
  src/components/games/botc/LiePie.tsx
  src/components/games/bridge/Bridge.tsx
  src/components/games/bridge/header/Header.tsx
  src/components/games/bridge/header/bid-dialog/BalancedHands.tsx
  src/components/games/bridge/header/bid-dialog/BiddingTable.tsx
  src/components/games/bridge/header/bid-dialog/Overcalls.tsx
  src/components/games/bridge/header/bid-dialog/Overleaf.tsx
  src/components/games/bridge/header/bid-dialog/UnbalancedHands.tsx
  src/components/games/bridge/header/bid-dialog/tests/BalancedHands.test.tsx
  src/components/games/bridge/header/bid-dialog/tests/Overcalls.test.tsx
  src/components/games/bridge/header/bid-dialog/tests/Overleaf.test.tsx
  src/components/games/bridge/header/bid-dialog/tests/UnbalancedHands.test.tsx
  src/components/games/bridge/header/score-dialog/ScoreDialog.tsx
  src/components/games/bridge/header/score-dialog/ScoringTable.tsx
  src/components/games/game-table/board/player/Player.tsx
  src/components/games/murder-mystery/MurderMystery.tsx
  src/components/games/slots/ReelDisplay.tsx
  src/components/games/tictactoe/Board.tsx
  src/components/games/werewolf/Werewolf.tsx
  src/components/games/yahtzee/Yahtzee.tsx
  src/components/games/yahtzee/score-table/BottomTable.tsx
  src/components/games/yahtzee/score-table/ScoreTable.tsx
  src/components/resume/cars/CarChartControls.tsx
  src/components/resume/cars/Cars.tsx
  src/components/resume/f1/Track.test.tsx
  src/components/resume/f1/Track.tsx
  src/components/resume/f1/Tracks.tsx
Due: üïπÔ∏è Games, BotC, Bridge, Murder Mystery, Slots, Tic Tac Toe, Werewolf, Yahtzee, üìë Resume, Cars, F1

feat: combine all experience
  .coderabbit.yaml
  .cursor/rules/project-structure.mdc
  .github/workflows/main.yml
  codecov.yml
  package-lock.json
  src/components/Routes.test.tsx
  src/components/resume/Menu.test.tsx
  src/components/resume/menu-items.test.ts
  src/components/resume/menu-items.ts
  src/components/resume/presentations/Presentations.test.tsx
  src/components/resume/presentations/Presentations.tsx
  src/components/resume/presentations/index.ts
  src/components/resume/work/DegreeCards.tsx
  src/components/resume/work/ExperienceSection.tsx
  src/components/resume/work/Job.tsx
  src/components/resume/work/Work.tsx
  src/components/resume/work/WorkCards.tsx
  src/components/resume/work/experienceCardSize.ts
  src/components/resume/work/tests/Job.test.tsx
  src/components/resume/work/tests/Work.test.tsx
  src/components/resume/work/tests/WorkCards.test.tsx
  src/components/routeTitleUtils.test.ts
  src/constants/classes.ts
Due: üìë Resume, Presentations, Work

fix: per file coverage
  .cursor/rules/react-maintenance.mdc
  .cursor/rules/testing.mdc
  package.json
  scripts/check-per-file-coverage.mjs
  src/components/common/highcharts/tests/highchartsMocks.tsx
  src/components/games/blackjack/useBlackjackAI.test.tsx
  src/components/games/blackjack/useBlackjackDeck.test.ts
  src/components/games/bridge/header/score-dialog/ScoringTable.tsx
  src/components/games/imperial-assault/header/Header.test.tsx
  src/components/resume/cars/CarChartControls.tsx
  src/components/resume/cars/graphs/CarSankeyGraph.test.tsx
  src/components/resume/f1/Track.test.tsx
  src/components/resume/work/DegreeCards.tsx
  src/components/resume/work/ExperienceSection.tsx
  src/components/resume/work/Job.tsx
  src/components/resume/work/experienceCardSize.ts
  src/components/resume/work/tests/WorkCards.test.tsx
  src/constants/car-brands.ts
  vite.config.ts
Due: üïπÔ∏è Games, Blackjack, Bridge, Imperial Assault, üìë Resume, Cars, F1, Work

fix: test warning outputs
  package-lock.json
  package.json
  scripts/check-per-file-coverage.mjs
  src/components/Routes.test.tsx
  src/components/common/highcharts/tests/highchartsMocks.tsx
  src/components/games/botc/header/edit-players/ScriptSearch.test.tsx
  src/components/games/botc/player-notes/PlayerNotes.test.tsx
  src/components/games/botc/player-notes/character-sheet/CharacterSheet.test.tsx
  src/components/games/bridge/header/bid-dialog/advisor/HandInput.test.tsx
  src/components/games/spades/control-bar/ShowStats.test.tsx
  src/components/games/werewolf/Werewolf.test.tsx
  src/components/resume/travel-map/map/WorldMap.test.tsx
  src/components/resume/travel-map/tests/TravelMap.test.tsx
  src/setupTests.ts
Due: üïπÔ∏è Games, BotC, Bridge, Spades, Werewolf, üìë Resume, Travel

fix: coderabbit feedback and file coverage minimums
  .cursor/rules/react-maintenance.mdc
  .cursor/rules/testing.mdc
  src/components/games/blackjack/useBlackjackAI.test.tsx
  src/components/games/yahtzee/tests/Yahtzee.test.tsx
  src/components/resume/work/DegreeCards.tsx
  src/components/resume/work/ExperienceSection.tsx
  src/components/resume/work/WorkCards.tsx
Due: üïπÔ∏è Games, Blackjack, Yahtzee, üìë Resume, Work

fix: next round of CR feedback
  .cursor/rules/react-maintenance.mdc
  src/components/games/blackjack/useBlackjackAI.test.tsx
Due: üïπÔ∏è Games, Blackjack
